<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="     margin:0;
   padding:0;">
   <head>
      <!-- If you delete this tag, the sky will fall on your head -->
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
      <link href="http://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Agathe Vous Gâte</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/email.css" />
   </head>
   <body  >
      <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#F5F5F5; font-family: 'Montserrat', 'Helvetica', Helvetica, Arial, sans-serif;" >
         <tbody>
            <tr>
               <td align="center">
                  <table class="head-wrap" style="width:100%;max-width: 600px;">
                     <tbody>
                        <tr>
                           <td class="header container" style="margin:0; padding:0;">
                              <div class="content" style="padding:15px 0px 0px 0px ;max-width:600px;margin:0 auto;">
                                 <table bgcolor="#F5F5F5" style="width: 100%;">
                                    <tbody>
                                       <tr>
                                          <td><img style="width:auto; height:22px;" alt="logo_AGV" src="{{ asset('images/home_menu_1.png') }}"/> <img src="{{ asset('images/home_menu_2.png') }}" alt="logo_agathevousgate" style="height: auto; max-height:22px"></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="body-wrap" cellpadding="0" cellspacing="0" style="width:100%;margin:0 auto;max-width:600px; padding:0;">
                     <tbody>
                        <tr>
                           <td class="container" style="    ;margin:0;padding:0px;border:1px solid #b8b7bb"  bgcolor="#FFFFFF">
                              <div class="content" style="max-width:598px;display:block; ">
                                 <table style="width: 100%;border-spacing:0px; " >
                                    <tr>
                                       <td cellpadding="0" style="padding:0px;width:100%; background-color:#252259; height:239px;max-height:239px;color:white;" valigne="middle" height="239px" >
                                          <div  align="center"   border="0"  >
                                             <p style=" font-family: 'Montserrat Light', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align:middle;margin:0px;font-size:28px; width:100%; height:100%;">Un parrainage validé !<br> </p>
                                             <!-- /hero -->
                                          </div>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                              <div class="content" style="max-width:598px;display:block; ">
                                 <table style="width: 90%;border-spacing:0px; margin: 10px auto; " >
                                    <tbody>
                                       <tr>
                                          <td>
                                             <div>

																								Bonjour {{ user.prenom }} {{ user.nom }}<br><br>

																								Votre 10ème filleul ({{ filleul.prenom }} {{ filleul.nom }}) vient de commander sa commande !<br><br>

																								Nous sommes heureux de vous annoncer que vous recevrez votre cadeau très bientôt !<br><br>

																								N'hésitez pas à nous joindre si besoin. <br><br> A bientôt, <br><br> L'équipe AgatheVousGâte
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table cellpadding="0" cellspacing="0" width="100%" style="margin:10px auto;max-width:600px; padding:0;" >
                     <tbody>
                        <tr>
                           <td>
                              <div style="position:relative; color:white">
                                 <table  cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="center">
                                             <p style="height:100%; margin:0px;font-size:25px; width:100%">
                                                <img style="width:auto; height:22px;" alt="logo_AGV" src="{{ asset('images/home_menu_1.png') }}"/> <img src="{{ asset('images/home_menu_2.png') }}" alt="logo_agathevousgate" style="height: auto; max-height:22px">                                             </p>
                                             <p style="height:100%; margin:0px;font-size:25px;width:100%; margin-top:10px;">
                                                <a target="_blank" href="https://www.facebook.com/agathevousgate/"><img style="margin-right:20px" src="{{ asset('img/icones/facebook.png') }}"></a>
                                                <a target="_blank" href="https://www.instagram.com/agathevousgate/"><img src="{{ asset('img/icones/instagram.png') }}"></a>
                                             </p>
                                             <p style="height:100%;color:#696f6f;margin:0px;font-size:10px;width:100%; margin-top:20px;">
                                                2016 <a  target="_blank" href="https://agathevousgate.fr">AgatheVousGâte</a> - Tous droits réservés | CGU
                                             </p>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
