{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}







<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Ajout produit </h4>
            <p class="category">
              Dans commande n°{{id}}
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
        {{ form_start(form, {'attr': { 'class': '' } }) }}
            <div class="mdl-cell mdl-cell--12-col">
	            <div class="row">
		            <div class="col-md-4">
                        <div class="form-group" >
                            {{ form_label(form.product, "Produit", {'label_attr': {'class': '', 'id': 'dropdown_product' }}) }}
                            {{ form_errors(form.product) }}
                            {{ form_widget(form.product, {'attr': {'class': 'form-control', 'id': 'dropdown_product', 'onchange': 'hide()'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.size, "Taille", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.size) }}
                            {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="form-group" >
                            {{ form_label(form.accessoire, "Accessoire", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.accessoire) }}
                            {{ form_widget(form.accessoire, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" >
                            {{ form_label(form.quantity, "Quantité", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.quantity) }}
                            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    
                    <div class="col-md-4">
                        <div class="form-group" id="color1" style="display:none">
                            {{ form_label(form.color1, "Couleur Exterieure", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.color1) }}<br>
                            {{ form_widget(form.color1, {'attr': {'class': 'form-control searchabledropdown'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="color2" style="display:none">
                            {{ form_label(form.color2, "Couleur intérieure", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.color2) }}<br>
                            {{ form_widget(form.color2, {'attr': {'class': 'form-control searchabledropdown'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="color3" style="display:none">
                            {{ form_label(form.color3, "Couleur milieu", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.color3) }}<br>
                            {{ form_widget(form.color3, {'attr': {'class': 'form-control searchabledropdown'}}) }}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">      
                        <input type="submit" value="Ajouter ce produit" class="btn btn-primary" style="margin-bottom:20px" />
                    </div>
                    <div class="col-md-4">      
                        <a href="{{ path('confirmNewOrder', {'id': id, 'send':'false'}) }}" class="btn btn-primary">Commande terminée</a><br>
                       <span style="color:#b0b0b0; font-size:10px;"> *(n'ajoute pas le produit en cours)</span>
                    </div>
                    <div class="col-md-4">      
                        <a class="btn btn-primary" href="{{ path('confirmNewOrder', {'id': id, 'send': 'true'}) }}">Commande terminée + validée</a><br>
                       <span style="color:#b0b0b0; font-size:10px;"> *(n'ajoute pas le produit en cours)</span>
                    </div>
                </div>

                {{ form_end(form) }}
























</div>
</div>
</div>
</div>

<div class="col-md-4">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Récapitulatif </h4>
            <p class="category">
              Dans commande n°{{id}} - {{commande.price}}€
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
        <div class="table-full-width">
            <table class="table">
                <tbody>
                   {% for product in commande.addedproducts %}
                    <tr>
                                                
                    <td>{{ product.quantity }} {{product.product.name}} </td>
                     <td> 
                     {% if product.color1 %}
                      <img  src="{{ asset('/upload/color/thumbnail/' ~ product.Color1.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px">
                    {% endif %}
                     {% if product.color2 %}
                    <img  src="{{ asset('/upload/color/thumbnail/' ~ product.Color2.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px">
                     {% endif %}
                     {% if product.color3 %}
                     <img  src="{{ asset('/upload/color/thumbnail/' ~ product.Color3.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px">
                     {% endif %}

                     </td>
                     <td>
                        {{product.price}}€
                     </td>
                    <td class="td-actions text-right">
                        <a href="{{ path('deleteproductmanual',{'id' : product.id})}}"><button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Voir la commnde">
                            <i class="fa fa-trash"></i>
                    </button></a>
                                                    
                     </td>
                     </tr>
                {% endfor %}
                {% if commande.remise > 0 %}
                <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                
                </td>
                <td>
                Remise : {{commande.remise}}€
                </td>
                </tr>
                {% endif %}
                    </tbody>
         </table>
         </div>
   
    </div>
    <div class="content">
    <div class="row">
        <div class="col-md-4">
          <input type="number" id="discountPrice"  value="{{ commande.remise }}" class="form-control" step="0.01">
    </div>
    <div class="col-md-4">
         <input value="Modifier la remise " class="btn btn-primary" onclick="setRemise()" />
         </div>
         </div>
    </div>
</div>
</div>

</div>


<script>
function setRemise(){
    var amount = document.getElementById('discountPrice').value;
    var route = "{{ path('setRemise', {'montant': 'AMOUNT', 'id' : commande.id }) }}";
route = route.replace("AMOUNT", amount);



window.location = route;

}
function hide(){
var liste = {
{% for listeProduct in listeProduct %}
{{ listeProduct.id }} : '{{ listeProduct.nbColor }}',
{% endfor %}

 };



var onchange = 0;
onchange = document.getElementById("add_added_product_product").value;




var nb_color = liste[onchange];

for (var i = 1; i <= 10 ; i++) {
if(i <= nb_color){
document.getElementById("color"+i.toString()).style.display="block";

}
else {

document.getElementById("color"+i.toString()).style.display="none";

}

}


}
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".searchabledropdown").select2();
			});
		</script>
{% endblock %}


{% block script_chart %}

{% endblock %}
