{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}







<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Ajout produit </h4>
            <p class="category">
              Dans commande n°{{id}}
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
        {{ form_start(form, {'attr': { 'class': '' } }) }}
            <div class="mdl-cell mdl-cell--12-col">
	            <div class="row">
		            <div class="col-md-4">
                        <div class="form-group" >
                            {{ form_label(form.product, "Produit", {'label_attr': {'class': '', 'id': 'dropdown_product' }}) }}
                            {{ form_errors(form.product) }}
                            {{ form_widget(form.product, {'attr': {'class': 'form-control', 'id': 'dropdown_product', 'onchange': 'hide()'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.size, "Taille", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.size) }}
                            {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="form-group" >
                            {{ form_label(form.accessoire, "Accessoire", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.accessoire) }}
                            {{ form_widget(form.accessoire, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" >
                            {{ form_label(form.quantity, "Quantité", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.quantity) }}
                            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    
                    <div class="col-md-4">
                        <div class="form-group" id="color1" style="display:none">
                            {{ form_label(form.color1, "Couleur Exterieure", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.color1) }}
                            {{ form_widget(form.color1, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="color2" style="display:none">
                            {{ form_label(form.color2, "Couleur intérieure", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.color2) }}
                            {{ form_widget(form.color2, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="color3" style="display:none">
                            {{ form_label(form.color3, "Couleur milieu", {'label_attr': {'class': ''}}) }}
                            {{ form_errors(form.color3) }}
                            {{ form_widget(form.color3, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">      
                        <input type="submit" value="Ajouter ce produit" class="btn btn-primary" style="margin-bottom:20px" />
                    </div>
                    <div class="col-md-4">      
                        <a href="{{ path('encours') }}"><input value="Commande terminée " class="btn btn-primary" /></a><br>
                       <span style="color:#b0b0b0; font-size:10px;"> *(n'ajoute pas le produit en cours)</span>
                    </div>
                </div>

                {{ form_end(form) }}
























</div>
<div class="mdl-cell mdl-cell--4-col">
</div>
</div>


<script>
function hide(){
var liste = {
{% for listeProduct in listeProduct %}
{{ listeProduct.id }} : '{{ listeProduct.nbColor }}',
{% endfor %}

 };



var onchange = 0;
onchange = document.getElementById("add_added_product_product").value;




var nb_color = liste[onchange];

for (var i = 1; i <= 10 ; i++) {
if(i <= nb_color){
document.getElementById("color"+i.toString()).style.display="block";

}
else {

document.getElementById("color"+i.toString()).style.display="none";

}

}


}
</script>

{% endblock %}


{% block script_chart %}

{% endblock %}
