{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Nouvelle commande</h4>
                        <p class="category">
                        Manuelle
                        </p>
                    </div>          
                </div>
            </div>
        </div>
            <div class="content">
             <div class="col-md-4">
             </div>
                {{ form_start(form, {'attr': { 'class': '' } }) }}
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.paiementMethod, "Paiement", {'label_attr': {'class': ''}}) }}
                                {{ form_errors(form.paiementMethod) }}
                                {{ form_widget(form.paiementMethod, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.transportMethod, "Transport", {'label_attr': {'class': ''}}) }}
                                {{ form_errors(form.transportMethod) }}
                                {{ form_widget(form.transportMethod, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            {% if isNewUser == true %}
                              <div class="col-lg-4 text-center">

    <div class="form-group">
        {{ form_label(form.client.genre, "Genre *", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.genre) }}
        {{ form_widget(form.client.genre, {'attr': {'class': 'form-control'}}) }}
</div>
    </div>
   
                                <div class="col-lg-4 text-center">
    <div class="form-group">
        {{ form_label(form.client.nom, "Nom *", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.nom) }}
        {{ form_widget(form.client.nom, {'attr': {'class': 'form-control'}}) }}
</div>
    </div>
    <div class="col-lg-4 text-center">

    <div class="form-group">
        {{ form_label(form.client.prenom, "Prénom *", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.prenom) }}
        {{ form_widget(form.client.prenom, {'attr': {'class': 'form-control'}}) }}
</div>
    </div>
   
    <div class="col-lg-12 text-center">
    <div class="form-group">
        {{ form_label(form.client.email, "Email *", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.email) }}
        {{ form_widget(form.client.email, {'attr': {'class': 'form-control'}}) }}

    </div>    </div>
    
    <div class="col-lg-12 text-center">
  <div class="form-group">
                                {{ form_label(form.client.naissance, "Naissance", {'label_attr': {'class': 'control-label '}}) }}
                                {{ form_errors(form.client.naissance) }}
                                {{ form_widget(form.client.naissance, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            </div>  </div>

        <div class="col-lg-12 text-center">

</div>

<div class="col-lg-12 text-center">

<div class="alert alert-info" role="alert">Les informations ci-dessous seront utilisées commme adresse de livraison par défaut. <span class="caret"></span></div>

</div>
<div class="col-lg-12 text-center">

    <div class="form-group">
        {{ form_label(form.client.adress.adress, "Adresse", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.adress.adress) }}
        {{ form_widget(form.client.adress.adress, {'attr': {'class': 'form-control'}}) }}
</div>
    </div>


    <div class="col-lg-12 text-center">

<div class="form-group">
        {{ form_label(form.client.adress.adressMore, "Adresse (Suite)", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.adress.adressMore) }}
        {{ form_widget(form.client.adress.adressMore, {'attr': {'class': 'form-control'}}) }}

    </div></div>
    <div class="col-lg-6 text-center">

    <div class="form-group">
        {{ form_label(form.client.adress.zipcode, "Code Postal", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.adress.zipcode) }}
        {{ form_widget(form.client.adress.zipcode, {'attr': {'class': 'form-control'}}) }}

    </div></div>
    <div class="col-lg-6 text-center">

    <div class="form-group">
        {{ form_label(form.client.adress.city, "Ville", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.adress.city) }}
        {{ form_widget(form.client.adress.city, {'attr': {'class': 'form-control'}}) }}

    </div>
</div>
<div class="col-lg-12 text-center">

      <div class="form-group">
          {{ form_label(form.client.phone, "Téléphone", {'label_attr': {'class': ''}}) }}
          {{ form_errors(form.client.phone) }}
          {{ form_widget(form.client.phone, {'attr': {'class': 'form-control'}}) }}
  </div>
      </div>




        <div class="col-lg-12 text-center">

            <div class="form-group">
                {{ form_label(form.client.is_newsletter, "Recevoir par mail les nouvelles d'Agathe Vous Gâte", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.client.is_newsletter) }}
                {{ form_widget(form.client.is_newsletter, {'attr': {'class': 'form-control input_boolean'}}) }}
        </div>
</div>
<span style="display:none">
      <div class="col-lg-12 text-center">

    <div class="form-group">
        {{ form_label(form.client.plainPassword.first, "Password", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.plainPassword.first) }}
        {{ form_widget(form.client.plainPassword.first, {'attr': {'class': 'form-control'}, 'value':'123456789'} ) }}
</div>
    </div>  
         <div class="col-lg-12 text-center">

    <div class="form-group">
        {{ form_label(form.client.plainPassword.second, "PasswordConfirm", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.plainPassword.second) }}
        {{ form_widget(form.client.plainPassword.second, {'attr': {'class': 'form-control'}, 'value':'123456789'}) }}
</div>
    </div>
       <div class="col-lg-12 text-center">

    <div class="form-group">
        {{ form_label(form.client.parrainEmail, "PasswordConfirm", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.client.parrainEmail) }}
        {{ form_widget(form.client.parrainEmail, {'attr': {'class': 'form-control'}}) }}
</div>
    </div>
</span>

                            {% else %}
                                {{ form_label(form.client, "Client", {'label_attr': {'class': ''}}) }}
                                {{ form_errors(form.client) }}
                                {{ form_widget(form.client, {'attr': {'class': 'form-control js-example-basic-single'}}) }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.date, "Date", {'label_attr': {'class': 'control-label datetimepicker'}}) }}
                                {{ form_errors(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <input type="submit" value="Suivant" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
                 <div class="col-md-4">
                 </div>
            </div>
        </div>
    </div>
</div>
  <script src="{{ asset('admin/assets/js/moment.min.js')}}"></script>

    <script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
 <script src="{{ asset('admin/assets/js/bootstrap-datetimepicker.js')}}"></script>
<script>
$('.datetimepicker').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    }
});


</script>
<script>
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

<script>
document.getElementById('add_commande_new_user_client_email').required = false;
</script>


{% endblock %}

{% block script_chart %}

{% endblock %}
