{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Nouvelle commande</h4>
                        <p class="category">
                        Manuelle
                        </p>
                    </div>          
                </div>
            </div>
        </div>
            <div class="content">
             <div class="col-md-4">
             </div>
                {{ form_start(form, {'attr': { 'class': '' } }) }}
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.paiementMethod, "Paiement", {'label_attr': {'class': ''}}) }}
                                {{ form_errors(form.paiementMethod) }}
                                {{ form_widget(form.paiementMethod, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.transportMethod, "Transport", {'label_attr': {'class': ''}}) }}
                                {{ form_errors(form.transportMethod) }}
                                {{ form_widget(form.transportMethod, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.client, "Client", {'label_attr': {'class': ''}}) }}
                                {{ form_errors(form.client) }}
                                {{ form_widget(form.client, {'attr': {'class': 'form-control js-example-basic-single'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.date, "Date", {'label_attr': {'class': 'control-label datetimepicker'}}) }}
                                {{ form_errors(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <input type="submit" value="Suivant" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
                 <div class="col-md-4">
                 </div>
            </div>
        </div>
    </div>
</div>
  <script src="{{ asset('admin/assets/js/moment.min.js')}}"></script>

    <script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
 <script src="{{ asset('admin/assets/js/bootstrap-datetimepicker.js')}}"></script>
<script>
$('.datetimepicker').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    }
});
</script>
<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>


{% endblock %}

{% block script_chart %}

{% endblock %}
