{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}
<style>
#collection_companies checkbox, #collection_companies label{
margin-top:5px

}

#collection_companies [type="checkbox"]:not(:checked),
	#collection_companies [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	#collection_companies [type="checkbox"]:not(:checked) + label,
	#collection_companies [type="checkbox"]:checked + label {
		position: relative;
    left:-px;
		padding-left: 75px;
		cursor: pointer;
    padding-bottom:10px;

	}
	 #collection_companies [type="checkbox"]:not(:checked) + label:before,
	#collection_companies [type="checkbox"]:checked + label:before,
	#collection_companies [type="checkbox"]:not(:checked) + label:after,
	#collection_companies [type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	#collection_companies [type="checkbox"]:not(:checked) + label:before,
	#collection_companies [type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 65px; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
	#collection_companies [type="checkbox"]:not(:checked) + label:after,
	#collection_companies [type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	/* on checked */
	#collection_companies [type="checkbox"]:checked + label:before {
		background:#34495E;
	}
	#collection_companies [type="checkbox"]:checked + label:after {
		background: #39D2B4;
		top: 2px; left: 40px;
	}

	#collection_companies [type="checkbox"]:checked + label .ui,
	 #collection_companies [type="checkbox"]:not(:checked) + label .ui:before,
	#collection_companies [type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	#collection_companies [type="checkbox"]:not(:checked) + label .ui:before {
		content: "no";
		left: 32px
	}
	#collection_companies [type="checkbox"]:checked + label .ui:after {
		content: "yes";
		color: #39D2B4;
	}
	#collection_companies [type="checkbox"]:focus +  label:before {
		border: 1px dashed #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}
</style>



<style>
#collection_colors checkbox, #collection_colors label{
margin-top:5px

}

#collection_colors [type="checkbox"]:not(:checked),
	#collection_colors [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	#collection_colors [type="checkbox"]:not(:checked) + label,
	#collection_colors [type="checkbox"]:checked + label {
		position: relative;
    left:-px;
		padding-left: 75px;
		cursor: pointer;
    padding-bottom:10px;

	}
	 #collection_colors [type="checkbox"]:not(:checked) + label:before,
	#collection_colors [type="checkbox"]:checked + label:before,
	#collection_colors [type="checkbox"]:not(:checked) + label:after,
	#collection_colors [type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	#collection_colors [type="checkbox"]:not(:checked) + label:before,
	#collection_colors [type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 65px; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
	#collection_colors [type="checkbox"]:not(:checked) + label:after,
	#collection_colors [type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	/* on checked */
	#collection_colors [type="checkbox"]:checked + label:before {
		background:#34495E;
	}
	#collection_colors [type="checkbox"]:checked + label:after {
		background: #39D2B4;
		top: 2px; left: 40px;
	}

	#collection_colors [type="checkbox"]:checked + label .ui,
	 #collection_colors [type="checkbox"]:not(:checked) + label .ui:before,
	#collection_colors [type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	#collection_colors [type="checkbox"]:not(:checked) + label .ui:before {
		content: "no";
		left: 32px
	}
	#collection_colors [type="checkbox"]:checked + label .ui:after {
		content: "yes";
		color: #39D2B4;
	}
	#collection_colors [type="checkbox"]:focus +  label:before {
		border: 1px dashed #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}
</style>

{{ form_start(form, {'attr': { 'class': '' } }) }}

<div class="row">
  <div class="col-md-12">
	<div class="alert alert-info" role="alert" style="font-size:20px;">
        Attention : tous les prix doivent être rentrés TTC et sans aucune réduction ! 
      </div>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Nouvelle collection</h4>
            <p class="category">
              Création
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
<div class="mdl-cell mdl-cell--12-col">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.title, "Nom", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.isPerso, "Personnalisable ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.isPerso) }}
				{{ form_widget(form.isPerso, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				{{ form_label(form.description, "Description", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="row">
					<div class="col-md-12">
						<h5 class="title" style="color:#23CCEF">Prix Particuliers</h5>
					</div>          
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.priceNoeud, "Prix du Noeud ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceNoeud) }}
				{{ form_widget(form.priceNoeud, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.pricePochette, "Prix de la Pochette ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.pricePochette) }}
				{{ form_widget(form.pricePochette, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.priceBouton, "Prix des boutons ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceBouton) }}
				{{ form_widget(form.priceBouton, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.priceCoffret1, "Prix du coffret Trio ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceCoffret1) }}
				{{ form_widget(form.priceCoffret1, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.priceCoffret2, "Prix du coffret Prestige ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceCoffret2) }}
				{{ form_widget(form.priceCoffret2, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="row">
					<div class="col-md-12">
						<h5 class="title" style="color:#23CCEF">Prix Pro</h5>
					</div>          
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-3">
			<div class="form-group">
				{{ form_label(form.priceMilieu, "Prix du milieu (boutique) motif ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceMilieu) }}
				{{ form_widget(form.priceMilieu, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				{{ form_label(form.priceMilieuBasic, "Prix du milieu (boutique) uni ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceMilieuBasic) }}
				{{ form_widget(form.priceMilieuBasic, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				{{ form_label(form.priceRectanglePetit, "Prix du petit rectangle (boutique) ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceRectanglePetit) }}
				{{ form_widget(form.priceRectanglePetit, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				{{ form_label(form.priceRectangleGrand, "Prix du grand rectangle (boutique) ?", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.priceRectangleGrand) }}
				{{ form_widget(form.priceRectangleGrand, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="row">
					<div class="col-md-12">
						<h5 class="title" style="color:#23CCEF">Définition couleurs de base</h5>
					</div>          
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.firstColor, "Couleur de base - Extérieur", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.firstColor) }}
				{{ form_widget(form.firstColor, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.secondColor, "Couleur de base - Intérieur ", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.secondColor) }}
				{{ form_widget(form.secondColor, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.thirdColor, "Couleur de base - Attache Centrale", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.thirdColor) }}
				{{ form_widget(form.thirdColor, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.colorCoffret1, "Couleur de base - Coffret 1", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.colorCoffret1) }}
				{{ form_widget(form.colorCoffret1, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.colorCoffret2, "Couleur de base - Coffret 2", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.colorCoffret2) }}
				{{ form_widget(form.colorCoffret2, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="row">
					<div class="col-md-12">
						<h5 class="title" style="color:#23CCEF">Images</h5>
					</div>          
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.imageCollection, "Image slider", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.imageCollection) }}
				{{ form_widget(form.imageCollection, {'attr': {'class': ''}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.imageCollectionCarre, "Image Collection", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.imageCollectionCarre) }}
				{{ form_widget(form.imageCollectionCarre, {'attr': {'class': ''}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.imageCollectionIcone, "Image Icone", {'label_attr': {'class': ''}}) }}
				{{ form_errors(form.imageCollectionIcone) }}
				{{ form_widget(form.imageCollectionIcone, {'attr': {'class': ''}}) }}
			</div>
		</div>
	</div>


<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="form-group">
			{{ form_row(form.colors) }}
		</div>
	</div>
</div>
<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="form-group">
			{{ form_label(form.companies, "Boutiques à inclure", {'label_attr': {'class': ''}}) }}

			{{ form_row(form.companies) }}
		</div>
	</div>
</div>
<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="form-group">
			{{ form_row(form.save, {'attr': {'class': 'btn btn-info btn-fill pull-right'}} ) }}

		</div>
	</div>
</div>
{{ form_end(form) }}
</div>
	</div> </div>
</div>

</div>
</div>






{% endblock %}

{% block script_chart %}



{% endblock %}
