{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

<style>
#collection_enfants checkbox, #collection_enfants label{
margin-top:5px

}

.enfants [type="checkbox"]:not(:checked),
.enfants [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
.enfants [type="checkbox"]:not(:checked) + label,
.enfants [type="checkbox"]:checked + label {
		position: relative;
    left:-px;
		padding-left: 75px;
		cursor: pointer;
    padding-bottom:10px;

	}
.enfants [type="checkbox"]:not(:checked) + label:before,
.enfants [type="checkbox"]:checked + label:before,
.enfants [type="checkbox"]:not(:checked) + label:after,
.enfants [type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
.enfants [type="checkbox"]:not(:checked) + label:before,
.enfants [type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 65px; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
.enfants [type="checkbox"]:not(:checked) + label:after,
.enfants [type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	/* on checked */
.enfants [type="checkbox"]:checked + label:before {
		background:#34495E;
	}
.enfants [type="checkbox"]:checked + label:after {
		background: #39D2B4;
		top: 2px; left: 40px;
	}

.enfants [type="checkbox"]:checked + label .ui,
.enfants [type="checkbox"]:not(:checked) + label .ui:before,
.enfants [type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
.enfants [type="checkbox"]:not(:checked) + label .ui:before {
		content: "no";
		left: 32px
	}
.enfants [type="checkbox"]:checked + label .ui:after {
		content: "yes";
		color: #39D2B4;
	}
.enfants [type="checkbox"]:focus + label:before {
		border: 1px dashed #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}
</style>



<div class="mdl-grid demo-content">
<div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding:20px;">
<div class="mdl-cell mdl-cell--4-col">
</div>
<div style="height:130%" class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col">
<center>

<div style="padding-bottom:20px;"><h5>Ajouter un produit prédéfini</h5></div>

{{ form_start(form, {'attr': { 'class': '' } }) }}

<div class="form-group" >
    {{ form_label(form.product, "Produit", {'label_attr': {'class': '', 'id': 'dropdown_product' }}) }}
    {{ form_errors(form.product) }}

{{ form_widget(form.product, {'attr': {'class': 'form-control', 'id': 'dropdown_product', 'onchange': 'hide()'  }}) }}

</div>
<div class="form-group">
    {{ form_label(form.collection, "Collection", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.collection) }}
    {{ form_widget(form.collection, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">
    {{ form_label(form.image, "Image", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.image) }}
    {{ form_widget(form.image, {'attr': {'class': ''}}) }}

</div>



<div class="form-group" id="color1" >
    {{ form_label(form.color1, "Exterieur", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color1) }}
    {{ form_widget(form.color1, {'attr': {'class': 'form-control'}}) }}

</div>


<div class="form-group" id="color2" {% if produit is defined %}
{% if (produit.product.id == 3) or (produit.product.id == 4) %}
style="display:block"
{% else %}
style="display:none"
{% endif %}
{% else %}
style="display:none"
{% endif %}>
    {{ form_label(form.color2, "Interieur", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color2) }}
    {{ form_widget(form.color2, {'attr': {'class': 'form-control'}}) }}

</div>


<div class="form-group" id="color3" {% if produit is defined %}
{% if (produit.product.id == 3) %} style="display:block"
{% else %}style="display:none"
{% endif %}
{% else %}
style="display:none"
{% endif %}>
    {{ form_label(form.color3, "Milieu", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color3) }}
    {{ form_widget(form.color3, {'attr': {'class': 'form-control'}}) }}

</div>


<div class="form-group" id="color4" style="display:none">
    {{ form_label(form.color4, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color4) }}
    {{ form_widget(form.color4, {'attr': {'class': 'form-control'}}) }}

</div>


<div class="form-group" id="color5" style="display:none">
    {{ form_label(form.color5, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color5) }}
    {{ form_widget(form.color5, {'attr': {'class': 'form-control'}}) }}

</div>


<div class="form-group" id="color6" style="display:none">
    {{ form_label(form.color6, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color6) }}
    {{ form_widget(form.color6, {'attr': {'class': 'form-control'}}) }}

</div>



<div class="form-group" id="color7" style="display:none">
    {{ form_label(form.color7, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color7) }}
    {{ form_widget(form.color7, {'attr': {'class': 'form-control'}}) }}

</div>


<div class="form-group" id="color8" style="display:none">
    {{ form_label(form.color8, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color8) }}
    {{ form_widget(form.color8, {'attr': {'class': 'form-control'}}) }}

</div>



<div class="form-group" id="color9" style="display:none">
    {{ form_label(form.color9, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color9) }}
    {{ form_widget(form.color9, {'attr': {'class': 'form-control'}}) }}

</div>



<div class="form-group" id="color10" style="display:none">
    {{ form_label(form.color10, "color", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.color10) }}
    {{ form_widget(form.color10, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group" >
    {{ form_label(form.isactive, "Active ?", {'label_attr': {'class': ''}}) }}
    {{ form_errors(form.isactive) }}
    {{ form_widget(form.isactive, {'attr': {'class': ''}}) }}

</div>


<div class="form-group enfants" id='enfant' style="display:none">
    {{ form_row(form.enfants) }}
</div>






<div>
        <input type="submit" value="Enregistrer" class="btn btn-primary" style="margin-bottom:20px" />
</div>
{{ form_end(form) }}

</div>
<div class="mdl-cell mdl-cell--4-col">
</div>
</div>


<script>
function hide(){
var liste = {
{% for listeProduct in listeProduct %}
{{ listeProduct.id }} : '{{ listeProduct.nbColor }}',
{% endfor %}

 };



var onchange = 0;
onchange = document.getElementById("defined_product_product").value;

if (onchange == 3){
document.getElementById('enfant').style.display="block";
}
else{
document.getElementById('enfant').style.display="none";

}



var nb_color = liste[onchange];

for (var i = 1; i <= 10 ; i++) {
if(i <= nb_color){
document.getElementById("color"+i.toString()).style.display="block";

}
else {

document.getElementById("color"+i.toString()).style.display="none";

}

}


}
</script>

{% endblock %}


{% block script_chart %}

{% endblock %}
