

{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}




<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-6">
            <h4 class="title">Stock</h4>
            <p class="category">
              Modifications
            </p>

          </div>  
               {{ form_start(forms) }}

          <div class="col-md-6">
             
              <button style="text-transform:uppercase" class="btn btn-info btn-fill pull-right"><i class="material-icons" type="submit">Enregistrer</i></button>
          </div>          
        </div>
      </div>
      <div class="content table-responsive table-full-width">
        <div class="toolbar">
          <!--Here you can write extra buttons/actions for the toolbar-->
        </div>


<table id="bootstrap-table" class="table">
    <thead>
     <tr>
         <th>Couleur</th>
             <th>{{ product.cartname }}</th>
         </tr>
     </thead>
     <tbody>
     {% set done = 0 %}


     {% for form in forms.stocks %}

            <tr>

             <td data-toggle="tooltip" title="{{ form.vars.value.color.namePublic }}" style="background:url({{ asset('/upload/color/thumbnail/' ~ form.vars.value.color.imageColorName ) }})"></td>
                  <td  style="text-align:center">
                  {{ form_widget(form.quantity, {'attr': {'class': ''}}) }}

                  </td>

{% endfor %}
{{ form_end(forms) }}

     </tbody>
</table>

</div>



</center>
</div>

</div>

   <script src="{{ asset('admin/assets/js/moment.min.js')}}"></script>

    <script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/fullcalendar.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/chartist.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-table.js')}}"></script>
       <script src="{{ asset('admin/assets/js/bootstrap-checkbox-radio-switch-tags.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-selectpicker.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-notify.js')}}"></script>
    <script src="{{ asset('admin/assets/js/demo.js')}}"></script>
         <script src="{{ asset('admin/assets/js/sweetalert2.js')}}"></script>
         <script src="{{ asset('admin/assets/js/light-bootstrap-dashboard.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-datetimepicker.js')}}"></script>
<script>
<script type="text/javascript">
    var $table = $('#bootstrap-table');

    $().ready(function(){
        $table.bootstrapTable({
            toolbar: ".toolbar",
            clickToSelect: true,
            showRefresh: false,
            search: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            searchAlign: 'left',
            pageSize: 8,
            clickToSelect: false,
            pageList: [8,10,25,50,100],

            formatShowingRows: function(pageFrom, pageTo, totalRows){
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: function(pageNumber){
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

        
    });
</script>
{% endblock %}

{% block script_chart %}

{% endblock %}
