

{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}




<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-6">
            <h4 class="title">Stock</h4>
            <p class="category">
              Modifications
            </p>

          </div>  
<div class="col-md-4">
           <a href="{{path('stock')}}"><button  style="text-transform:uppercase; margin-right:20px;" class="btn btn-primary pull-right"><i class="material-icons" type="submit">Voir stocks</i></button></a>
</div>
          <div class="col-md-2">

              <button onclick="addstock()" style="text-transform:uppercase" class="btn btn-info btn-fill pull-right"><i class="material-icons" type="submit">Enregistrer</i></button>
          </div>          
        </div>
      </div>
      <div class="content table-responsive table-full-width">
        <div class="toolbar">
          <!--Here you can write extra buttons/actions for the toolbar-->
        </div>


<table id="bootstrap-table" class="table table-hover table-striped">
    <thead>
     <tr>
         <th>Couleur</th>
         <th>Nom</th>
         <th>Collection</th>
         <th>Quantité en stock</th>
             <th>{{ product.cartname }}</th>

         </tr>
     </thead>
     <tbody>
     {% set done = 0 %}


     {% for stock in stocks %}

            <tr>

             <td data-toggle="tooltip" title="{% if stock.color %}{{ stock.color.namePublic }}{% endif %}"{% if stock.color %} ><img src="{{ asset('/upload/color/thumbnail/' ~ stock.color.imageColorName ) }}" style="max-height:30px;">{% endif %}</td>
                  <td>{% if stock.color %}{{ stock.color.namePublic }}{% endif %}</td>
                  <td>{% if stock.color %}{{stock.color.collections[0].title}}{% endif %}</td>
                  <td>{{stock.quantity}}</td>
                  <td  style="text-align:center">
                      <input type="number" class="form-control" id="stock_{{ stock.id }}" value="0">

                  </td>

{% endfor %}

     </tbody>
</table>

</div>



</center>
</div>

</div>
</div>

   <script src="{{ asset('admin/assets/js/moment.min.js')}}"></script>

    <script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/fullcalendar.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/chartist.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-table.js')}}"></script>
       <script src="{{ asset('admin/assets/js/bootstrap-checkbox-radio-switch-tags.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-selectpicker.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-notify.js')}}"></script>
    <script src="{{ asset('admin/assets/js/demo.js')}}"></script>
         <script src="{{ asset('admin/assets/js/sweetalert2.js')}}"></script>
         <script src="{{ asset('admin/assets/js/light-bootstrap-dashboard.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-datetimepicker.js')}}"></script>
<script type="text/javascript">
    var $table = $('#bootstrap-table');

    $().ready(function(){
        $table.bootstrapTable({
            toolbar: ".toolbar",
            clickToSelect: true,
            showRefresh: false,
            search: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            searchAlign: 'left',
            pageSize: {{ stocks|length }},
            clickToSelect: false,
            pageList: [{{ stocks|length }}],

            formatShowingRows: function(pageFrom, pageTo, totalRows){
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: function(pageNumber){
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

        
    });
</script>

<script>
function addstock(){
var finalStock = [];
{% for stock in stocks %}
     value = document.getElementById('stock_{{stock.id}}').value;
    finalStock.push([{{stock.id}},value ]);
{% endfor %}
  var finalJsonStock = JSON.stringify(finalStock);

  var frm = document.getElementById('finalCartField') || null;
  if(frm) {
   frm.value = finalJsonStock;
}
document.getElementById("buttonValidateCart").click();

}

</script>

<div style="display:none">
<form action="{{path('addStock', {'product': product.name} )}}"  method="post" id="redirect-form" name="redirect-form">    

  <input type="text" name="finalCart" id="finalCartField" >
  <button type="submit" id="buttonValidateCart">Valider</button>
</form>

</div>

{% endblock %}

{% block script_chart %}

{% endblock %}
