{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}




<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Commandes</h4>
                                <p class="category">En cours</p>
                                </div>
                                <div class="col-md-3">        

                                <a href="{{ path('add') }}"><button style="text-transform:uppercase" class="btn btn-info btn-fill pull-right">
  <i class="material-icons">nouveau</i>
</button></a>

                                </div>
                                <div class="col-md-3">        
   <a href="{{ path('done') }}"><button style="text-transform:uppercase" class="btn btn-success btn-fill pull-right">
  <i class="material-icons">Commandes terminées</i>
</button></a>
                                </div>
                                </div>
                            </div>



  <div class="content table-responsive table-full-width" ">
  <table id="commande_en_cours" class="table table-hover table-striped" cellspacing="0">
  <thead>
           <tr>
               <th width=5%>ID</th>
                <th width=5%>ID Client </th>
               <th width=15%>Nom Client</th>
               <th width=25% >Adresse de livraison</th>
               <th width=10%>Date de commande</th>
               <th width=20%>Produit</th>
                <th width=10%>Price</th>
               <th width=10%>Action</th>
           </tr>
       </thead>

       <tbody>
            {% for commande in listeCommande %}
            {% if commande.AtelierLivraison %}
            {% if (commande.AtelierLivraison.franchise == app.user or is_granted('ROLE_SUPER_ADMIN')) %}
                <tr>
                  <td>{{ commande.id }}</td>
                  <td>{{ commande.client.id }}</td>
                  <td>{{ commande.client.prenom }} {{ commande.client.nom }}</td>
                  <td>{{ commande.client.adress.adress }} <br> {{ commande.client.adress.zipcode }} {{ commande.client.adress.city }} </td>
                  <td>{{ commande.date|date("d-m-Y") }}</td>
                  <td>
                      {% if commande.addedproducts %}
                      {% for product in commande.addedproducts %}

                        <b>{{ product.product.name }}
                            {% if product.accessoire == true %}{{ product.accessoire.name }} {% endif %}:
                              {{ product.quantity }}<br></b>
                        {% if product.Color1 %}
                        {{ product.Color1.name }} /
                          {% endif %}
                          {% if product.color2 %}
                          {{ product.Color2.name }} /
                            {% endif %}
                            {% if product.Color3 %}
                            {{ product.Color3.name }} /
                              {% endif %}
                              {% if product.Color4 %}
                              {{ product.Color4.name }} /
                                {% endif %}
                                {% if product.Color5 %}
                                {{ product.Color5.name }} /
                                  {% endif %}
                                  {% if product.Color6 %}
                                  {{ product.Color6.name }} /
                                    {% endif %}
                                    {% if product.Color7 %}
                                    {{ product.Color7.name }} /
                                      {% endif %}
                                      {% if product.Color8 %}
                                      {{ product.Color8.name }} /
                                        {% endif %}
                                        {% if product.Color9 %}
                                        {{ product.Color9.name }} /
                                          {% endif %}
                                          {% if product.Color10 %}
                                          {{ product.Color10.name }} /
                                            {% endif %}

                        <br>
                      {% endfor %}
{% endif %}
                  </td>
                  <td>
                {{ commande.price }}
                  </td>
                  <td>

<a onclick="if(confirm('Etes vous sur de vouloir valider l\'envoi cette commande ?')) {
    window.location.href = '{{ path("validate",{"id": commande.id}) }}'
}"><i class="fa fa-check-square-o fa-2" aria-hidden="true"></i> </a> <a href="{{ path('commande', {'id': commande.id })}}"><i class="fa fa-info-circle fa-2" aria-hidden="true"></i></a></td>
              </tr>

              {% endif %}
              {% elseif is_granted('ROLE_SUPER_ADMIN') %}
              <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.client.id }}</td>
                <td>{{ commande.client.prenom }} {{ commande.client.nom }}</td>
                <td>{{ commande.client.adress.adress }} <br> {{ commande.client.adress.zipcode }} {{ commande.client.adress.city }} </td>
                <td>{{ commande.date|date("d-m-Y") }}</td>
                <td>
                    {% for product in commande.addedproducts %}
                      <b>{{ product.product.name }} {% if product.accessoire %}{{ product.accessoire.name }} {% endif %}: {{ product.quantity }}<br></b>


                    {% endfor %}
                </td>
                <td>
              {{ commande.price }}
                </td>

                <td>

<a onclick="if(confirm('Etes vous sur de vouloir valider l\'envoi cette commande ?')) {
  window.location.href = '{{ path("addsuivi",{"id": commande.id}) }}'
}"><i class="fa fa-check-square-o fa-2" aria-hidden="true"></i> </a> <a href="{{ path('commande', {'id': commande.id })}}"><i class="fa fa-info-circle fa-2" aria-hidden="true"></i></a></td>
              </tr>
              {% endif %}
            {% endfor %}
       </tbody>
  </table>

</div>
</div>
</div>
  </div>

<script>
function validate_done(commandeId){

}
</script>

{% endblock %}

{% block script_chart %}

{% endblock %}
