{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

{% set previous_product %}{% endset %}
<div class="content">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right" style="margin-bottom:10px;">
              {% if commande.price > 0 %}   <a href="{{ path("refund_manual",{"id": commande.id}) }}"><button class="btn btn-fill btn-warning">Remboursement</button></a>
                            {% if commande.stripeId != null or (commande.payout and commande.payout.stripeId != null) %}     <a href="{{ path("refund",{"id": commande.id}) }}"><button class="btn btn-fill btn-warning">Remboursement Stripe</button></a>{% endif %}{% endif %}

                 <a href="{{ path("facture",{"id": commande.id}) }}"><button class="btn btn-fill btn-primary" style=" margin-left:1%;">Voir la facture</button></a>
{% if commande.isvalid == true %}{% else %}
                                          <button type="submit" onclick="if(confirm('Etes vous sur de vouloir valider l\'envoi cette commande ?')) {
                                            window.location.href = '{{ path("addsuivi",{"id": commande.id}) }}'
                                          }" class="btn btn-success btn-fill" style=" margin-left:1%;">Valider la commande</button>
                                      {% endif %}
                </div>
            </div>
                <div class="row">
                    <div class="col-md-4">
                    <div class="card ">
                                <div class="header">
                                    <h4 class="title">Commande n°{{commande.id}} du {{ commande.date|date("d-m-Y") }} - {{commande.price}}€</h4>
                                    <p class="category">Actions & details</p>
                                </div>
                                <div class="content">
                                  <div class="row">
                                    
                                    <div class="col-md-6 text-center">
                                      {% if commande.isvalid == true %}<button class="btn btn-success btn-fill btn-xs">Traité</button>{% else %}

                                    </div>

                                  </div><br>
                                  <div class="row">
                                  <div class="col-md-6 text-center">
                                          
                                      {% endif %}
                                    </div>
                                    <div class="col-md-6 text-center">
                                      {% if commande.transportmethod is not null %}Livraison : {{ commande.transportmethod.description }}{% elseif commande.atelierlivraison is not null %} Livraison en atelier : {{ commande.atelierlivraison.name }} {% endif %}
                                    </div>
                                    <div class="col-md-6 text-center">
                                      {% if commande.paiementmethod is not null %}Paiement : {{ commande.paiementmethod }}{% endif %}

                                    </div>
                                     <div class="col-md-6 text-center">
                                      {% if commande.paiementmethod is not null %} {{ commande.numerosuivi }}{% endif %}

                                    </div>

                                  </div><br>
                                   <div class="row">
                                      <div class="col-md-12">
                                          {{ form_start(form, {'method': 'post', 'attr': {'class': 'formulaire'} }) }}
                                          {{ form_errors(form) }}

                                          <div class="form-group">
                                              {{ form_label(form.commentaire, "Commentaire", {'label_attr': {'class': ''}}) }}
                                              {{ form_errors(form.commentaire) }}
                                              {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
                                          </div>


                                              <div>
                                                  <button type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier le commentaire </button>
                                                                                            {{ form_end(form) }}


                                              </div>
                                              <div class="row">
                                              <div class="col-md-3>
                                              
                                        </div>
                                        <div class="col-md-6>
                                            </div>
                                           </div>


                                      </div>
                                   </div>
                                </div>
                            </div>

                     
                         
                    </div>
                    <script src={{ asset('/js/clipboard.js-master/dist/clipboard.min.js' ) }}></script>
                    <script>
                    var clipboard = new Clipboard('.btn_copy');
                    clipboard.on('success', function(e) {
                        color = Math.floor((Math.random() * 4) + 1);
                        $.notify({
                            icon: "pe-7s-copy-file",
                            message: "Adresse bien copiée"
                        },{
                            type: "success",
                            timer: 200,
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                                            
                    });

                    </script>

                    <!-- button to trigger the action -->


                    

                    <div class="col-md-8">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="card">



                            <div class="header">
                                <h4 class="title">Client </h4> <a href="{{path('userView', {'id': commande.client.id })}}"><button class="btn btn-primary" >Voir </button></a><button style="margin-left:20px;" class="btn btn-primary btn_copy" data-clipboard-action="copy" data-clipboard-target="#foo"> Copier les info de livraison </button>
                            </div>
                            <div class="content">
                                <form>
                                     <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Prénom</label>
                                                <input type="text" class="form-control" placeholder="First name" disabled value="{{commande.client.prenom}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="Last Name" disabled  value="{{ commande.client.nom}}">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                         <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Téléphone</label>
                                                <input type="text" class="form-control" placeholder="phone" disabled  value="{{commande.client.phone}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" placeholder="Email" disabled value="{{commande.client.email}}">
                                            </div>
                                        </div>
                                    </div>
                                    {% if commande.client.adress %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adress</label>
                                                <input type="text" class="form-control" placeholder="Home Address" disabled value="{{commande.client.adress.adress}}">
                                            </div>
                                        </div>
                                    </div>
                                    {% if commande.client.adress.adressMore %}
                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adresse (suite)</label>
                                                <input type="text" class="form-control" placeholder="Home Address" disabled value="{{ commande.client.adress.adressMore }}">
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ville</label>
                                                <input type="text" class="form-control" placeholder="City"  disabled value="{{commande.client.adress.city}}">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Code postal</label>
                                                <input type="number" class="form-control"  disabled value="{{commande.client.adress.zipcode}}">
                                            </div>
                                        </div>

                                    </div>
                            {% endif %}        

                                {#  {% if user.isPro == 2 %}
                                  <a href="{{path('settouser', {'id': user.id })}}">

                                   <button type="submit" class="btn btn-danger btn-fill pull-left">Supprimer le statut pro</button></a>
                                   {% else %}
                                    <a href="{{path('settopro', {'id': user.id })}}">

                                    <button type="submit" class="btn btn-warning  btn-fill pull-left">Valider le statut pro</button>
                                     </a>

                                   {% endif %}
                                   <a href="{{ path('desactiveuser', { 'id' : user.id }) }}"> {% if user.enabled == 1 %}<button type="submit" style="margin-left:10px;" class="btn btn-primary  btn-fill pull-left">Désactiver l'utilisateur</button> {% else %} <button type="submit" style="margin-left:10px;" class="btn btn-primary  btn-fill pull-left">Activer l'utilisateur</button> {% endif %}</a>


                                    <button type="submit" class="btn btn-info btn-fill pull-right">Mettre à jour</button>

                                    <div class="clearfix"></div>#}
                                </form>
                            </div>
                        </div>
                        
                      </div>
                      </div>
                      </div>
                      <div class="row">
                         <div class="col-md-12">
                            <div class="card ">
                            <div class="header">

                                <h4 class="title">Détails</h4>
                                <p class="category">de commandes</p>
                            </div>
                            <div class="content">
                                <div class="table-responsive table-full-width">
                                    <table class="table table-hover table-striped ">
                                      <thead>
                                        <tr>
                                          <th width=5% >ID</th>
                                          <th width=5% >Quantité</th>
                                          <th width=30%>Produit</th>
                                          <th width=25%>Accessoire</th>
                                          <th width=8%> Rectangle Arrière </th>
                                          <th width=8%> Rectangle Avant </th>
                                          <th width=8%> Attache Centrale </th>
                                          <th width=8%> Couleur 3 </th>
                                          <th width=8%> Couleur 4 </th>
                                        </tr>
                                        </thead>

                                        <tbody>{% set color1 = 0 %}
                                        {% for product in addedProducts %}

                                        {% if product.product.name == "Noeud" %}
                                          <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>{{ product.product.name }}</td>
                                            <td>{% if product.accessoire == true %}{{ product.accessoire.name }} {% endif %}{% if product.accessoire and product.size %} - {% endif %}{% if product.size %} {{product.size}}{% endif %}</td>
                                            <td>
                                                {% if product.Color1 %}
                                                {% set color1 = color1 +1 %}
                                                    <div id="color1_{{ color1 }}">
                                                    <img  src="{{ asset('/upload/color/thumbnail/' ~ product.Color1.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px">
                                                    <div>
                                                    <div class="mdl-tooltip" for="color1_{{ color1 }}" style="will-change:unset">
                                                    {{ product.Color1.name }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if product.Color2 %}
                                                <div id="color2_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ product.Color2.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
                                                <div class="mdl-tooltip" for="color2_{{ color1 }}" style="will-change:unset">
                                                {{ product.Color2.name }}
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                            {% if product.Color3 %}
                                            <div id="color3_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ product.Color3.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
                                            <div class="mdl-tooltip" for="color3_{{ color1 }}" style="will-change:unset">
                                            {{ product.Color3.name }}
                                            </div>
                                            {% endif %}
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                                {% for sonProduct in addedProducts %}
                                                    {%  if sonProduct.parent != null and sonProduct.parent == product %}
                                                        
                                                            <tr>
                                                            <td>
                                                            {{sonProduct.id}}
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            {{sonProduct.product.cartName}}
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                            {% if sonProduct.product.name == "Coffret1" or sonProduct.product.name == "Coffret2" %}
                                                            <td>
                                                                {{sonProduct.quantity}} x 
                                                                <div id="color4_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ sonProduct.Color1.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
                                                                <div class="mdl-tooltip" for="color4_{{ color1 }}" style="will-change:unset">
                                                                {{ sonProduct.Color1.name }}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {% if sonProduct.product.name == "Coffret2" %}
                                                                {{sonProduct.quantity}} x 
                                                                <div id="color5_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ sonProduct.Color2.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
                                                                <div class="mdl-tooltip" for="color5_{{ color1 }}" style="will-change:unset">
                                                                {{ sonProduct.Color2.name }}
                                                                </div>{% endif %}
                                                            </td>
                                                            {% else %}
                                                            <td>
                                                            {{sonProduct.quantity}} x 
                                                                <div id="color4_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ sonProduct.Color1.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
                                                                <div class="mdl-tooltip" for="color4_{{ color1 }}" style="will-change:unset">
                                                                {{ sonProduct.Color1.name }}
                                                                </div>
                                                            </td>
                                                            <td>
                                                            </td>
                                                            {% endif %}
                                                            </tr>
                                                        
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                          </tr>

                                          {% elseif product.parent == null %}

                                          
                                            <tr>
                                                <td>
                                                {{ product.id}}
                                                </td>
                                                <td>
                                                {% if not product.Color1 %}
                                                {{product.quantity}}
                                                {% endif %}
                                                </td>
                                                
                                                <td>
                                                {% if previous_product != product.product %}
                                                {{product.product.name}}
                                                 {% endif %}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                {% if product.Color1 %}{{product.quantity}} x
                                                {% set color1 = color1 +1 %}
                                                    <div id="color1_{{ color1 }}">

                                                    <img  src="{{ asset('/upload/color/thumbnail/' ~ product.Color1.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px">
                                                    <div>


                                                    <div class="mdl-tooltip" for="color1_{{ color1 }}" style="will-change:unset">
                                                    {{ product.Color1.name }}
                                                    </div>

                                                    {% endif %}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            {% set previous_product = product.product %}
                                           
                                          {% endif %}
                                          {% endfor %}
                                         
                                         

                                          
                                          </tbody>
                                          </table>

                                </div>

                                
                            </div>
                        </div>
                        </div>
                          
                  </div>
                  <div class="row">
                         <div class="col-md-12">
                            <div class="card ">
                            <div class="header">

                                <h4 class="title">Remboursements</h4>
                                <p class="category">détails</p>
                            </div>
                            <div class="content">
                                <div class="table-responsive table-full-width">
                                    <table class="table table-hover table-striped ">
                                      <thead>
                                        <tr>
                                          <th width=20% >Date</th>
                                          <th width=20%>Montant</th>
                                          <th width=30%>Type</th>
                                          <th width=30%> Methode </th>
                                          
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for refund in refunds %}
                                        <tr>
                                            <td>
                                                {{ refund.date|date("d-m-Y") }}
                                            </td>
                                            <td>
                                                {{ refund.montant }}€
                                            </td>
                                            <td>
                                                {{ refund.type }}
                                            </td>
                                            <td>
                                                {{ refund.method }}
                                            </td>
                                            <td>
                                               {% if refund.method == 'manual' %} <a href="{{path('deleteRefund', {'id':refund.id})}}"><i class="fa fa-times"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                          </tbody>
                                          </table>

                                </div>

                                
                            </div>
                        </div>
                        </div>
                        
                </div>
            </div>

</div>











  </div>
<textarea id="foo" style="height:0px;width:0px;">
{{commande.client.prenom}} {{commande.client.nom}}
{% if commande.client.adress %}
{{commande.client.adress.adress}}{% if commande.client.adress.adressMore %}
{{ commande.client.adress.adressMore }}{% endif %}

{{commande.client.adress.zipcode}} {{commande.client.adress.city}}{% endif %}
</textarea>


{% endblock %}

{% block script_chart %}

{% endblock %}
