{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}


<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Commandes</h4>
                                <p class="category">traitées</p>
                                </div>
       
                                <div class="col-md-6">        
   <a href="{{ path('encours') }}"><button style="text-transform:uppercase" class="btn btn-success btn-fill pull-right">
  <i class="material-icons">Commandes en cours </i>
</button></a>
                                </div>
                                </div>
                            </div>





  <div class="content table-responsive table-full-width" ">
  <table id="bootstrap-table"  class="table table-hover table-striped" cellspacing="0">

  <thead>
           <tr>
           <th width=5%>ID</th>
          <th width=5%>ID Client</th>
           <th width=15%>Client</th>
           <th width=25% >Adresse de livraison</th>
           <th width=10%>Date de commande</th>
           <th width=20%>Produit</th>
            <th width=10%> Price </th>
           <th width=10%>Action</th>
           </tr>
       </thead>

       <tbody>
            {% for commande in listeCommande %}

              {% if commande.AtelierLivraison %}
              {% if (commande.AtelierLivraison.franchise == app.user or is_granted('ROLE_SUPER_ADMIN')) %}
                <tr>
                  <td>{{ commande.id }}</td>
                  <td>{{ commande.client.id }}</td>

                  <td>{{ commande.client.prenom }} {{ commande.client.nom }}</td>
                  <td>{{ commande.client.adress.adress }} <br> {{ commande.client.adress.zipcode }} {{ commande.client.adress.city }} </td>
                  <td>{{ commande.date|date("d-m-Y") }}</td>
                  <td>
                      {% for product in commande.addedproducts %}
                        <b>{{ product.product.name }}  {% if product.accessoire  %}{{ product.accessoire.name }}{% endif %} : {{ product.quantity }}<br></b>
                        {% if product.Color1 %}
                        {{ product.Color1.name }} /
                          {% endif %}
                          {% if product.color2 %}
                          {{ product.Color2.name }} /
                            {% endif %}
                            {% if product.Color3 %}
                            {{ product.Color3.name }} /
                              {% endif %}
                              {% if product.Color4 %}
                              {{ product.Color4.name }} /
                                {% endif %}
                                {% if product.Color5 %}
                                {{ product.Color5.name }} /
                                  {% endif %}
                                  {% if product.Color6 %}
                                  {{ product.Color6.name }} /
                                    {% endif %}
                                    {% if product.Color7 %}
                                    {{ product.Color7.name }} /
                                      {% endif %}
                                      {% if product.Color8 %}
                                      {{ product.Color8.name }} /
                                        {% endif %}
                                        {% if product.Color9 %}
                                        {{ product.Color9.name }} /
                                          {% endif %}
                                          {% if product.Color10 %}
                                          {{ product.Color10.name }} /
                                            {% endif %}

                        <br>

                      {% endfor %}
                  </td>
                  <td>
{{ commande.price }}
                  </td>

                  <td> <a href="{{ path('commande', {'id': commande.id })}}"><i class="fa fa-info-circle fa-2" aria-hidden="true"></i></a></td>
              </tr>
{% endif %}
{% elseif is_granted('ROLE_SUPER_ADMIN') %}
<tr>
  <td>{{ commande.id }}</td>
  <td>{{ commande.client.id }}</td>

  <td>{{ commande.client.prenom }} {{ commande.client.nom }}</td>
  <td>{{ commande.client.adress.adress }} <br> {{ commande.client.adress.zipcode }} {{ commande.client.adress.city }} </td>
  <td>{{ commande.date|date("d-m-Y") }}</td>
  <td>

  
      {% for product in commande.addedproducts %}
        <b>{{ product.product.name }} {% if product.accessoire  %}{{ product.accessoire.name }}{% endif %} : {{ product.quantity }}<br></b>
        {% if product.Color1 %}
        {{ product.Color1.name }} /
          {% endif %}
          {% if product.color2 %}
          {{ product.Color2.name }} /
            {% endif %}
            {% if product.Color3 %}
            {{ product.Color3.name }} /
              {% endif %}
              {% if product.Color4 %}
              {{ product.Color4.name }} /
                {% endif %}
                {% if product.Color5 %}
                {{ product.Color5.name }} /
                  {% endif %}
                  {% if product.Color6 %}
                  {{ product.Color6.name }} /
                    {% endif %}
                    {% if product.Color7 %}
                    {{ product.Color7.name }} /
                      {% endif %}
                      {% if product.Color8 %}
                      {{ product.Color8.name }} /
                        {% endif %}
                        {% if product.Color9 %}
                        {{ product.Color9.name }} /
                          {% endif %}
                          {% if product.Color10 %}
                          {{ product.Color10.name }} /
                            {% endif %}

        <br>

      {% endfor %}
  </td>
  <td>
{{ commande.price }}
  </td>

  <td> <a href="{{ path('commande', {'id': commande.id })}}"><i class="fa fa-info-circle fa-2" aria-hidden="true"></i></a></td>
</tr>
{% endif %}

            {% endfor %}
       </tbody>
  </table>

  </div>

</div>
</div>
</div>
  <script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/fullcalendar.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/chartist.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-table.js')}}"></script>
       <script src="{{ asset('admin/assets/js/bootstrap-checkbox-radio-switch-tags.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-selectpicker.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-notify.js')}}"></script>
    <script src="{{ asset('admin/assets/js/demo.js')}}"></script>
         <script src="{{ asset('admin/assets/js/sweetalert2.js')}}"></script>
         <script src="{{ asset('admin/assets/js/light-bootstrap-dashboard.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-datetimepicker.js')}}"></script>

<script type="text/javascript">
    var $table = $('#bootstrap-table');

    $().ready(function(){
        $table.bootstrapTable({
            toolbar: ".toolbar",
            clickToSelect: true,
            showRefresh: false,
            search: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            searchAlign: 'left',
            pageSize: 8,
            clickToSelect: false,
            pageList: [8,10,25,50,100],

            formatShowingRows: function(pageFrom, pageTo, totalRows){
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: function(pageNumber){
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

        
    });

    


</script>

{% endblock %}

{% block script_chart %}

{% endblock %}
