{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}



<div class="mdl-grid demo-content">
<div><h4>Commande n°{{ commande.id }} du {{ commande.date|date("d-m-Y") }} - {% if commande.isvalid == true %}traité{% else %}à faire
<button type="submit" onclick="if(confirm('Etes vous sur de vouloir valider l\'envoi cette commande ?')) {
  window.location.href = '{{ path("addsuivi",{"id": commande.id}) }}'
}" class="btn btn-primary" style="margin-top:20px; margin-left:1%;">Valider la commande</button>{% endif %}

 </h4></div>
  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="padding:20px;">
<center>
  <div class="mdl-color--white mdl-cell mdl-cell--12-col mdl-grid" style="padding:20px;">
  {{ commande.client.nom }} {{ commande.client.prenom }}<br>
  {{ commande.client.adress.adress }}</br>
{% if commande.client.adress.adressMore %}
  {{ commande.client.adress.adressMore }}</br>
{% endif %}
  {{ commande.client.adress.zipcode }} {{ commande.client.adress.city }}</br>
{% if commande.transportmethod is not null %} livraison : {{ commande.transportmethod.description }}{% else %} Livraison en atelier : {{ commande.atelierlivraison.name }} {% endif %}
{% if commande.paiementmethod is not null %} <br>Paiement : {{ commande.paiementmethod }}{% endif %}
<br><a href="{{ path("facture",{"id": commande.id}) }}"> Voir la facture</a>
<br>{% if commande.numerosuivi is not null %} Numéro suivi : {{ commande.numerosuivi }}{% endif %}



</div></center>

<div class="mdl-color--white mdl-cell mdl-cell--12-col mdl-grid" style="padding:20px;">
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width=5% >ID</th>
        <th width=5% >Quantité</th>
        <th width=30%>Produit</th>
        <th width=25%>Accessoire</th>
        <th width=7%> Couleur Exterieur </th>
        <th width=7%> Couleur Milieu </th>
        <th width=7%> Couleur Attache </th>
        <th width=7%> Couleur 4 </th>
        <th width=7%> Couleur 5 </th>
        <th width=5%> Produit père </th>
      </tr>
      </thead>

<tbody>{% set color1 = 0 %}

{% for product in commande.addedproducts %}
<tr>

<td>{{ product.id }}</td>

<td>{{ product.quantity }}</td>
<td>{{ product.product.name }}</td>
<td>{% if product.accessoire == true %}{{ product.accessoire.name }} {% endif %}</td>
<td>
{% if product.Color1 %}
{% set color1 = color1 +1 %}
  <div id="color1_{{ color1 }}"><img  src="{{ asset('/upload/color/thumbnail/' ~ product.Color1.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"><div>
  <div class="mdl-tooltip" for="color1_{{ color1 }}" style="will-change:unset">
  {{ product.Color1.name }}
  </div>

  {% endif %}
</td>
<td>
{% if product.Color2 %}
<div id="color2_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ product.Color2.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
<div class="mdl-tooltip" for="color2_{{ color1 }}" style="will-change:unset">
{{ product.Color2.name }}
</div>
{% endif %}
</td>
<td>
{% if product.Color3 %}
<div id="color3_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ product.Color3.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
<div class="mdl-tooltip" for="color3_{{ color1 }}" style="will-change:unset">
{{ product.Color3.name }}
</div>{% endif %}
</td>
<td>
{% if product.Color4 %}
<div id="color4_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ product.Color4.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
<div class="mdl-tooltip" for="color4_{{ color1 }}" style="will-change:unset">
{{ product.Color4.name }}
</div>{% endif %}
</td>
<td>
{% if product.Color5 %}
<div id="color5_{{ color1 }}"><img src="{{ asset('/upload/color/thumbnail/' ~ product.Color5.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px"></div>
<div class="mdl-tooltip" for="color5_{{ color1 }}" style="will-change:unset">
{{ product.Color5.name }}
</div>{% endif %}
</td>
<td>
{% if product.parent %}{{ product.parent.id }}{% endif %}

</td>

</tr>
{% endfor %}
</tbody>
</table>

</div>
<div class="mdl-color--white mdl-cell mdl-cell--12-col mdl-grid" style="padding:20px;">
<style>
.formulaire{
width:100%;
}
.form-control{
height:200px!important;
}
</style>

{{ form_start(form, {'method': 'post', 'attr': {'class': 'formulaire'} }) }}
 {{ form_errors(form) }}

 <div class="form-group">
     {{ form_label(form.commentaire, "Commentaire", {'label_attr': {'class': ''}}) }}
     {{ form_errors(form.commentaire) }}
     {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
 </div>


    <div>
        <button type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier le commentaire </button>
    </div>
{{ form_end(form) }}

</div>

  </div>



{% endblock %}

{% block script_chart %}

{% endblock %}
