{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                      {{ form_start(formCompany, {'attr': { 'class': '' } }) }}

                     
                         <div class="card">
                            <div class="header">
                                <h4 class="title">Boutique n°{{user.company.id}}</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                             <div class="form-group" >
                                              {{ form_label(formCompany.name, "Nom de l'entreprise", {'label_attr': {'class': '', 'id': '' }}) }}
                                              {{ form_errors(formCompany.name) }}
                                              {{ form_widget(formCompany.name, {'attr': {'class': 'form-control'} })}}
                                          </div>    
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                 {{ form_label(formCompany.siren, "SIREN", {'label_attr': {'class': '', 'id': '' }}) }}
                                              {{ form_errors(formCompany.siren) }}
                                              {{ form_widget(formCompany.siren, {'attr': {'class': 'form-control'} })}}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form_label(formCompany.reductionGeneric, "Réduction par défaut ", {'label_attr': {'class': '', 'id': '' }}) }}
                                              {{ form_errors(formCompany.reductionGeneric) }}
                                              {{ form_widget(formCompany.reductionGeneric, {'attr': {'class': 'form-control'} })}}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form_label(formCompany.isMonthly, "Paiement mensuel ? ", {'label_attr': {'class': '', 'id': '' }}) }}
                                              {{ form_errors(formCompany.isMonthly) }}
                                              {{ form_widget(formCompany.isMonthly, {'attr': {'class': 'form-control'} })}}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Prénom</label>
                                                <input type="text" class="form-control" placeholder="First name"  value="{{user.prenom}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="Last Name"   value="{{user.nom}}">
                                            </div>
                                        </div>
                                         <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Téléphone</label>
                                                <input type="text" class="form-control" placeholder="phone"   value="{{user.phone}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" placeholder="Email"  value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adresse de livraison</label>
                                                <input type="text" class="form-control" placeholder="Home Address"  value="{% if user.adress %}{{user.adress.adress}}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.adress and user.adress.adressMore %}
                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adresse (suite)</label>
                                                <input type="text" class="form-control" placeholder="Home Address"  value="{% if user.adress %}{{ user.adress.adressMore }}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ville</label>
                                                <input type="text" class="form-control" placeholder="City"   value="{% if user.adress %}{{user.adress.city}}{% endif %}">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Code postal</label>
                                                <input type="number" class="form-control"   value="{% if user.adress %}{{user.adress.zipcode}}{% endif %}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adresse de facturation</label>
                                                <input type="text" class="form-control" placeholder="Home Address"  value="{% if user.company and user.company.adressBilling %}{{user.company.adressBilling.adress}}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.adress and user.adress.adressMore %}
                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adresse (suite)</label>
                                                <input type="text" class="form-control" placeholder="Home Address"  value="{% if user.company and user.company.adressBilling %}{{ user.company.adressBilling.adressMore }}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ville</label>
                                                <input type="text" class="form-control" placeholder="City"   value="{% if user.company.adressBilling %}{{user.company.adressBilling.city}}{% endif %}">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Code postal</label>
                                                <input type="number" class="form-control"   value="{% if user.company.adressBilling %}{{user.company.adressBilling.zipcode}}{% endif %}">
                                            </div>
                                        </div>
                                    </div>


                                  {% if user.isPro == 2 %}
                                   <a href="{{path('companyDeactivate', {'id': user.id })}}" class="btn btn-danger btn-fill pull-left">Supprimer le statut pro</a>
                                   {% else %}
                                   
                                    <a href="{{path('companyValidation', {'id': user.id })}}" class="btn btn-warning  btn-fill pull-left">Valider le statut pro</a>
                                   {% endif %} 

                                    <button type="submit"  onclick="return confirm('Cela écrasera les anciennes réductions par défaut. Continuer ?')" class="btn btn-info btn-fill pull-right">Mettre à jour</button>
                                     {{ form_end(formCompany) }}

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="max-height:530px; overflow:scroll">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Historique</h4>
                                <p class="category">de commandes</p>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                          {% for commande in commandes|reverse %}
                                            <tr>
                                                
                                                <td>Commande n°{{commande.id}} du {{commande.date|date("d-m-Y") }}</td>
                                              <td> {% if commande.paiementMethod == "Prelevement" %} <a href="{{ path('monthlyInvoice',{'id_user': user.id, 'annee':commande.date|date("Y"), 'mois': commande.date|date("m")}) }}"><button class="btn btn-success btn-xs btn-fill">Factu mensuelle</button></a>{% endif %}</td>
                                                <td class="td-actions text-right">
                                                    <a href="{{ path('commande', {'id': commande.id })}}"><button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Voir la commnde">
                                                        <i class="fa fa-edit"></i>
                                                    </button></a>
                                                    
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-container">
                            <ul class="nav nav-icons" role="tablist">
                            {% for collection in collections %}
                                <li class="">
                                    <a href="#{{collection.title|replace({' ':''})}}" role="tab" data-toggle="tab">
                                        <i class="fa fa-info-circle"></i><br>
                                        {{collection.title}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-content">
                            {% for collection in collections %}
                            <div class="tab-pane" id="{{collection.title|replace({' ':''})}}">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Collection {{collection.title}}</h4>
                                        <p class="category">Définition des réductions pro par collection et par produit</p>
                                    </div>

                                    <div class="content">
                                        {% for product in products %}
                                            {% for reduction in reductions %}
                                            {% if reduction.collection == collection and reduction.product == product %}
                                            <div class="row">
                                            <div class="col-md-3">
                                        {{ product.cartname }} </div>
                                        <div class="col-md-6"  > <input type="number" style="max-width:100px" class="form-control" value="{{reduction.reduction}}" id="{{reduction.id}}"></div>
                                        <div class="col-md-3">                                    <button type="submit" onclick="editReduc({{reduction.id}})" class="btn btn-info btn-fill pull-left">Modifier la réduction</button>
                                   </div>
                                   </div>
                                            {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                   
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="max-height:530px; overflow:scroll">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Prélèvements</h4>
                                <p class="category">Mensuels</p>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width=5%>ID</th>
                                                <th width=10%>Mois</th>
                                                <th width=10%>Année</th>
                                                <th width=15%>Montant</th>
                                                <th width=15%>Statut</th>
                                                <th width=20%>Liste commandes</th>
                                                <th width=15%>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for payout in payouts|reverse %}
                                            <tr>
                                                
                                                <td>{{payout.id}}</td>
                                                <td>
                                                    {{payout.date|date("F") }}
                                                </td>
                                                <td >
                                                    {{payout.date|date("Y") }}
                                                </td>
                                                <td>
                                                {{payout.amount}}€
                                                </td>
                                            
                                                <td>
                                                    {% if payout.isPayed == 2 %}
                                                        Payé 
                                                    {% elseif payout.isPayed == 1 %}
                                                        En cours
                                                    {% elseif payout.isPayed == 3 %}
                                                        Echec
                                                    {% else %}
                                                        A payer
                                                    {% endif %} 
                                                </td>
                                                <td>
                                                     {% for commande in payout.commandes %}
                                                        <a href="{{path('commande', {'id': commande.id})}}">{{commande.id}}</a> ({{commande.date|date("d-m-y")}}, {{commande.price|round(2,'common')}}€)<br>
                                                     {% endfor %}
                                                </td>
                                                <td>
                                                    {% if (payout.isPayed == 3 or payout.isPayed == 0 ) and ("now"|date("m") > payout.date|date("m") and "now"|date("Y") == payout.date|date("Y")) %}
                                                        <a href="{{ path('debitStore', {'id' : payout.id }) }}"><button class="btn btn-warning btn-fill">Prélever</button></a>
                                                    {% elseif (payout.isPayed == 3 or payout.isPayed == 0 ) and ("now"|date("Y") > payout.date|date("Y")) %}
                                                        <a href="{{ path('debitStore', {'id' : payout.id }) }}"><button class="btn btn-warning btn-fill">Prélever</button></a>
                                                    {% else %}
                                                    <a href="{{ path('monthlyInvoice',{'id_user': user.id, 'annee':payout.year, 'mois': payout.month}) }}"><button class="btn btn-success btn-xs btn-fill">Factu mensuelle</button></a>

                                                    {% endif %} 
                                                    
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="max-height:530px; overflow:scroll">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">IBAN {% if last4 != 0 %}(iban rentré fini par : {{ last4 }}{% endif %}</h4>
                                <p class="category">Entrer le nouvel IBAN</p>
                            </div>
                            <div class="content">
                                <form action="{{ path('addIban', {'id':user.id})}}" method="post">
                                  <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nom complet</label>
                                                <input type="text" class="form-control" placeholder="Full name" name="full_name" value="{{user.prenom}} {{user.nom}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>IBAN</label>
                                                <input type="text" class="form-control" name="iban" placeholder="IBAN : FRXXX" >
                                            </div>
                                        </div>
                                         
                                    </div>
                                    <input type="submit" class="btn btn-warning btn-fill" value="Enregistrer l'iban">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>




<script>
function editReduc(id){
var newValue = document.getElementById(id).value;

var route = "{{path('editReducCompany',{'id': 'ID', 'montant' : 'MONTANT' } )}}";
route = route.replace("MONTANT", newValue);
route = route.replace("ID", id);


window.location = route;

}
</script>

{% endblock %}

{% block script_chart %}

{% endblock %}
