{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

<style>
#collection_colors input {
display: block;
width: 100%;
height: 34px;
padding: 20px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;


}
</style>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Couleur</h4>
            <p class="category">
              Edition
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
<div class="mdl-cell mdl-cell--12-col">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.name, "Nom", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.codehexa, "Code hexadecimal", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.codehexa) }}
                {{ form_widget(form.codehexa, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                {{ form_label(form.isbasic, "Couleur de base ?", {'label_attr': {'class': ''}}) }}<br>
                {{ form_errors(form.isbasic) }}
                {{ form_widget(form.isbasic, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>

	
	<div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.colorFile, "Miniature", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorFile) }}
                {{ form_widget(form.colorFile, {'attr': {'class': ''}}) }}  
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.colorNoeud1File, "Image Exterieur", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorNoeud1File) }}
                {{ form_widget(form.colorNoeud1File, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.colorNoeud2File, "Image Interieur", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorNoeud2File) }}
                {{ form_widget(form.colorNoeud2File, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/thumbnail/' ~ color.imageColorName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/noeud1/' ~ color.imagecolorNoeud1Name ) }}" style="width:auto;max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/noeud2/' ~ color.imagecolorNoeud2Name ) }}" style="width:auto;max-height:200px;">
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.colorNoeud3File, "Image milieu", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorNoeud3File) }}
                {{ form_widget(form.colorNoeud3File, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.tissuColorFile, "Coffret, tissu", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.tissuColorFile) }}
                {{ form_widget(form.tissuColorFile, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.tissuMilieuColorFile, "Coffret, noeud central", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.tissuMilieuColorFile) }}
                {{ form_widget(form.tissuMilieuColorFile, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/noeud3/' ~ color.imagecolorNoeud3Name ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/tissu/grand/' ~ color.tissuColorName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/tissu/milieu/' ~ color.tissuMilieuColorName ) }}" style="width:auto; max-height:200px;">
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.couleurPochette, "Pochette", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.couleurPochette) }}
                {{ form_widget(form.couleurPochette, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.couleurBoutons, "Boutons", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.couleurBoutons) }}
                {{ form_widget(form.couleurBoutons, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			
        
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/pochette/' ~ color.couleurPochetteName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/boutons/' ~ color.couleurBoutonsName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		</div>
	</div>


<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="form-group">
        <input type="submit" value="Valider" class="btn btn-primary" />

		</div>
	</div>
</div>
{{ form_end(form) }}
</div>
	</div> </div>
</div>

</div>
</div>

























{% endblock %}

{% block script_chart %}



{% endblock %}
