{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

<style>
#collection_colors input {
display: block;
width: 100%;
height: 34px;
padding: 20px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;


}
</style>
<style>
#color_companies checkbox, #color_companies label{
margin-top:5px

}

#color_companies [type="checkbox"]:not(:checked),
	#color_companies [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	#color_companies [type="checkbox"]:not(:checked) + label,
	#color_companies [type="checkbox"]:checked + label {
		position: relative;
    left:-px;
		padding-left: 75px;
		cursor: pointer;
    padding-bottom:10px;

	}
	 #color_companies [type="checkbox"]:not(:checked) + label:before,
	#color_companies [type="checkbox"]:checked + label:before,
	#color_companies [type="checkbox"]:not(:checked) + label:after,
	#color_companies [type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	#color_companies [type="checkbox"]:not(:checked) + label:before,
	#color_companies [type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 65px; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
	#color_companies [type="checkbox"]:not(:checked) + label:after,
	#color_companies [type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	/* on checked */
	#color_companies [type="checkbox"]:checked + label:before {
		background:#34495E;
	}
	#color_companies [type="checkbox"]:checked + label:after {
		background: #39D2B4;
		top: 2px; left: 40px;
	}

	#color_companies [type="checkbox"]:checked + label .ui,
	 #color_companies [type="checkbox"]:not(:checked) + label .ui:before,
	#color_companies [type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	#color_companies [type="checkbox"]:not(:checked) + label .ui:before {
		content: "no";
		left: 32px
	}
	#color_companies [type="checkbox"]:checked + label .ui:after {
		content: "yes";
		color: #39D2B4;
	}
	#color_companies [type="checkbox"]:focus +  label:before {
		border: 1px dashed #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}
</style>



<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Couleur</h4>
            <p class="category">
              Edition
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
	{{ form_start(form, {'attr': { 'class': '' } }) }}

<div class="mdl-cell mdl-cell--12-col">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.name, "Nom", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.codehexa, "Code hexadecimal", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.codehexa) }}
                {{ form_widget(form.codehexa, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                {{ form_label(form.isbasic, "Couleur de base ?", {'label_attr': {'class': ''}}) }}<br>
                {{ form_errors(form.isbasic) }}
                {{ form_widget(form.isbasic, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>

	
	<div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.colorFile, "Miniature", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorFile) }}
                {{ form_widget(form.colorFile, {'attr': {'class': ''}}) }}  
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
			{{ form_label(form.colorNoeud1File, "Image Arrière", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorNoeud1File) }}
                {{ form_widget(form.colorNoeud1File, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.colorNoeud2File, "Image Avant", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorNoeud2File) }}
                {{ form_widget(form.colorNoeud2File, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/thumbnail/' ~ color.imageColorName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/noeud1/' ~ color.imagecolorNoeud1Name ) }}" style="width:auto;max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/noeud2/' ~ color.imagecolorNoeud2Name ) }}" style="width:auto;max-height:200px;">
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.colorNoeud3File, "Image attache milieu", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.colorNoeud3File) }}
                {{ form_widget(form.colorNoeud3File, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.tissuColorFile, "Coffret, rectangle", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.tissuColorFile) }}
                {{ form_widget(form.tissuColorFile, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.tissuMilieuColorFile, "Coffret, attache milieu", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.tissuMilieuColorFile) }}
                {{ form_widget(form.tissuMilieuColorFile, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/noeud3/' ~ color.imagecolorNoeud3Name ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/tissu/grand/' ~ color.tissuColorName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/tissu/milieu/' ~ color.tissuMilieuColorName ) }}" style="width:auto; max-height:200px;">
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.couleurPochette, "Pochette", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.couleurPochette) }}
                {{ form_widget(form.couleurPochette, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.couleurBoutons, "Boutons", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.couleurBoutons) }}
                {{ form_widget(form.couleurBoutons, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			
        
		</div>
	</div>
    <div class="row" style="margin-top:20px;">
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/pochette/' ~ color.couleurPochetteName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		    <img src="{{ asset('/upload/color/boutons/' ~ color.couleurBoutonsName ) }}" style="width:auto; max-height:200px;">
		</div>
		<div class="col-md-4">
		</div>
	</div>
<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="form-group">
			{{ form_row(form.companies) }}
		</div>
	</div>
</div>
<div class="row" style="margin-top:20px;">
		<div class="col-md-4">	
            <div class="form-group">
                {{ form_label(form.quantityWarning, "Quantité limite", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.quantityWarning) }}
                {{ form_widget(form.quantityWarning, {'attr': {'class': ''}}) }}
            </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
                {{ form_label(form.quantityAlert, "Quantité Alerte", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.quantityAlert) }}
                {{ form_widget(form.quantityAlert, {'attr': {'class': ''}}) }}
            </div>
		</div>
	</div>


<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="form-group">
        <input type="submit" value="Valider" class="btn btn-primary" />

		</div>
	</div>
</div>

{{ form_end(form) }}
</div>
	</div> </div>
</div>

</div>
</div>

























{% endblock %}

{% block script_chart %}



{% endblock %}
