{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}




<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Activation compte pro</h4>
                        <p class="category">
                        Validation réduction
                        </p>
                    </div>          
                </div>
            </div>
        
            <div class="content">
                {{ form_start(form, {'attr': { 'class': '' } }) }}

                <div class="form-group">
                    {{ form_label(form.reductionGeneric, "En pourcentage", {'label_attr': {'class': ''}}) }}
                    {{ form_errors(form.reductionGeneric) }}
                    {{ form_widget(form.reductionGeneric, {'attr': {'class': 'form-control'}}) }}

                </div>

                <div>
                        <input type="submit" value="Valider l'activation du compte pro" class="btn btn-primary" />
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
     <div class="col-md-4">
    </div>
</div>



{% endblock %}

{% block script_chart %}

{% endblock %}
