{% extends 'templateadmin.html.twig' %}
{% block body %}
<script>
</script>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
        <div class="col-md-3 text-left">
             <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="addDate('m1d')">- 1 jour</button>

           <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="addDate('m1w')">- 1 semaine</button>
            <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="addDate('m1m')">- 1 mois</button>

          </div>
          
          <div class="col-md-3 text-left">
           Date de début
          </div>
          <div class="col-md-2 text-left">
           Date de fin 
          </div>
          <div class="col-md-4 text-right">
             <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="addDate('p1d')">+ 1 jour</button>

           <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="addDate('p1w')">+1 semaine</button>
            <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="addDate('p1m')">+1 mois</button>

          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" class="form-control datepicker" id="date_in" placeholder="Date de début">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" class="form-control datepicker" id="date_out" placeholder="Date de fin">
                </div> 
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-fill" id="validate_date_button" onclick="selectdate()">Valider</button>
                <button class="btn btn-primary btn-fill"id="compare_date_button"  onclick="open_comparedate()">Comparer</button>
            </div>
        </div>
        <script>
        </script>
        <div class="row" id="compare_date" style="display:{% if dateout_compare == 'null' or dateout_compare == '' %}none;{% else %}block;{% endif %}">
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" class="form-control datepicker_compare" id="date_in_compare" placeholder="Date de début">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" class="form-control datepicker_compare" id="date_out_compare" placeholder="Date de fin">
                </div> 
            </div>
            <div class="col-md-2">
              <i class="fa fa-times" aria-hidden="true" style="color:red; font-size:35px;cursor:pointer;" onclick="document.getElementById('date_out_compare').value = null;document.getElementById('date_in_compare').value = null;"></i>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-info {% if app.session.get('filtre') != 'pro' %}btn-fill{% endif %}" style="width:100%; margin-bottom:5px" onclick="selectfiltre('pro')">Filtre Pro</button>
                </div>
                <div class="col-md-4">
                    <button class="btn {% if app.session.get('filtre') != 'part' %}btn-fill{% endif %} btn-danger" style="width:100%" onclick="selectfiltre('part')">Filtre Particulier</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success {% if app.session.get('filtre') != 'all' %}btn-fill{% endif %}"style="width:100%; margin-top:5px" onclick="selectfiltre('all')" >Aucun Filtre</button>
                </div>
             </div>
             <div class="row" style="margin-top:30px;">
                <div class="col-md-4 text-right">
                Ou filtre par boutique : 
                </div>
                <div class="col-md-4">
                 
                    <select id="filtre_boutique" class="selectpicker" data-title="{% if app.session.get('boutique') %}{{ app.session.get('boutique') }}{% else %}Choisir une boutique{% endif %}" data-style="btn-default btn-block" data-menu-style="dropdown-blue" onchange="selectfiltre_boutique()">
                    {% for company in companies %}
                      <option value="{{company.name}}">{{company.name}}</option>
                    {% endfor %}
                    </select>
                  
                </div>
                <div class="col-md-4">
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Montant de commande</h4>
            <p class="category">
              Total
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:35px; text-align:center">{{totalCommande}}€</p>
            </div>
            
            {% if dateout_compare == 'null' %}
             <div class="col-md-12">
                <p style="text-align:left" class="category">Total M-1 </p><p style="text-align:center" class="category">{{totalCommandeM1}}€</p>
            </div>
             <div class="col-md-12">
                <p style="text-align:left" class="category">Total N-1 </p><p style="text-align:center" class="category">{{totalCommandeN1}}€</p>
            </div>
            {% else %}
            <div class="col-md-12">
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{totalCommande_compare}}€</p>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Nombre de commande</h4>
            <p class="category">
              Total
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:35px; text-align:center">{{nbCommande}}</p>
            </div>
            {% if dateout_compare != 'null' %}
             <div class="col-md-12">
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{nbCommande_compare}}</p>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Panier moyen</h4>
            <p class="category">
              Total
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% if nbCommande != 0 %}
                <p style="font-size:35px; text-align:center">{{(totalCommande/nbCommande)|round(2,'common')}}€</p>
                {% else %}
                <p style="font-size:35px; text-align:center">-- €</p>
                {% endif %}
            </div>

            {% if dateout_compare != 'null' %}
             <div class="col-md-12">
                {% if nbCommande_compare != 0 %}
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{(totalCommande_compare/nbCommande_compare)|round(2,'common')}}€</p>
                {% else %}
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">--€</p>
                {% endif %}            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Délai d'envoi</h4>
            <p class="category">
              En jours
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                
                <p style="font-size:35px; text-align:center">{{delaiEnvoi['d']}} J & {{delaiEnvoi['h']}} H </p>
                
            </div>
            {% if dateout_compare != 'null' %}
             <div class="col-md-12">
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{delaiEnvoi_compare['d']}}J & {{delaiEnvoi_compare['h']}}H</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Inscriptions</h4>
            <p class="category">
              Total
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:35px; text-align:center">{{nb_signup}}</p>
            </div>
             {% if dateout_compare != 'null' %}
             <div class="col-md-12">
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{nb_signup_compare}}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Nombre d'inscrits actifs</h4>
            <p class="category">
              Total
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:35px; text-align:center">{{nb_user_active}}</p>
            </div>
            {% if dateout_compare != 'null' %}
             <div class="col-md-12">
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{nb_user_active_compare}}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Commandes</h4>
            <p class="category">
              Par utilisateur inscrit
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% if nbCommande != 0 %}
                <p style="font-size:35px; text-align:center">{{averageOrder|round(2,'common')}}</p>
                {% else %}
                <p style="font-size:35px; text-align:center">-- €</p>
                {% endif %}
            </div>

            {% if dateout_compare != 'null' %}
             <div class="col-md-12">

             {% if nbCommande_compare != 0 %}
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{averageOrder_compare|round(2,'common')}}</p>
                {% else %}
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">--</p>
                {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Nombre de noeud</h4>
            <p class="category">
              Par commande
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
            {% if nbCommande != 0 %}
               <p style="font-size:35px; text-align:center">{{(total_noeud/nbCommande)|round(2,'common')}} // {{ecart_noeud}}</p>
               {% else %}
                <p style="font-size:35px; text-align:center">--</p>

               {% endif %}
 {% if dateout_compare != 'null' %}
             <div class="col-md-12">
                {% if nbCommande_compare != 0 %}
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">{{(total_noeud_compare/nbCommande_compare)|round(2,'common')}} // {{ecart_noeud_compare}}</p>
                {% else %}
                <p style="text-align:left" class="category">Total comparatif </p><p style="text-align:center" class="category">--</p>
                {% endif %}
                </div>
            {% endif %}

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
 <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Commandes par jour</h4>
            <p class="category">
              Montant
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div id="chart_by_day" class="ct-chart "></div>
            </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <h6>Légende</h6>
                <span class="label label-info">Pro</span>
                <span class="label label-danger">Particulier</span>
                <span class="label label-warning">Cumulé</span>

            </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="row">
 <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Commandes par jour</h4>
            <p class="category">
              Montant
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div id="chart_by_month" class="ct-chart "></div>
            </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <h6>Légende</h6>
                <span class="label label-info">Pro</span>
                <span class="label label-danger">Particulier</span>
                <span class="label label-warning">Cumulé</span>

            </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title">Répartition</h4>
                <p class="category">
                 par âge
                </p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div id="chartPie_age" class="ct-chart "></div>
                </div>
            </div>
          </div>
          <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <h6>Légende</h6>
                    <span class="label label-info">Moins de 20 ans</span>
                    <span class="label label-danger">20 à 30 ans</span>
                    <span class="label label-warning">30 à 40 ans</span>
                    <span class="label" style="background-color:#9368E9">40 à 50 ans</span>
                    <span class="label label-success">50 à 60 ans</span>
                    <span class="label label-primary">+ de 60 ans</span>
                   
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title">Répartition</h4>
                <p class="category">
                 par genre
                </p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div id="chartPie_gender" class="ct-chart "></div>
                </div>
            </div>
          </div>
          <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <h6>Légende</h6>
                    <span class="label label-info">Madame</span>
                    <span class="label label-danger">Mademoiselle</span>
                    <span class="label label-warning">Monsieur</span>

                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title">Répartition</h4>
                <p class="category">
                 par catégorie
                </p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div id="chartPie_category" class="ct-chart "></div>
                </div>
            </div>
          </div>
          <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <h6>Légende</h6>
                    <span class="label label-info">Pro</span>
                    <span class="label label-danger">Particulier</span>
                </div>
            </div>
        </div>
    </div>
   </div>

</div>
<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Codes promos</h4>
                                <p class="category"></p>
                                </div>
                                <div class="col-md-6">        

                                <a href="{{ path('addCodePromo') }}"><button style="text-transform:uppercase" class="btn btn-info btn-fill pull-right">
  <i class="material-icons">nouveau</i>
</button></a>
                                </div>
                                </div>
                            </div>


  <div class="content table-responsive table-full-width">
  {% if nb_code is not null %}
  <table id="commande_en_cours" class="table table-hover table-striped" cellspacing="0">
  <thead>
           <tr>
           <th width=5%>ID</th>
          <th width=20%>Code</th>
           <th width=15%>Type</th>
           <th width=20%>Utilisation</th>

           </tr>
       </thead>

       <tbody>
{% for code in listePromoCode %}
                <tr>
                  <td>  <a href="{{ path('editCode', {'id' : code.id })}}">{{ code.id }}</a></td>
                  <td><a href="{{ path('editCode', {'id' : code.id })}}">{{ code.code }}</a></td>
                  <td>{{ code.genre }} </td>
<td>{% for key, i in nb_code %}{% if key == code.id %}{{ i }}{% endif %}{% endfor %}</td>
                </tr>
      {% endfor %}

       </tbody>
  </table>
{% else %} <div class="content">Aucun code promo utilisé à cette période</div>
     {% endif %} 

  </div>


</div>
</div>
</div>


<div class="row">
 <div class="col-md-12">
    <ul role="tablist" class="nav nav-tabs">
    {% for collection in listeCollection %}
    <li role="presentation" class="">
        <a href="#{{collection.title}}" data-toggle="tab">{{collection.title}}</a>
    </li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for collection in listeCollection %}
    <div id="{{collection.title}}" class="tab-pane">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Collection</th>
                        <th>Montant des ventes</th>
                        <th>Nombre de ventes</th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalproduit = 0 %}
                    {% set nb_total = 0 %}
                    {% for listeProduct in listeProduct %}
                        {% if listeProduct.nbColor > 0 %}
                        {% for listeAddedProduct in listeAddedProducts %}
                            {% if listeAddedProduct.commande and listeAddedProduct.commande.isPanier == 0  %}
                                {% if date(listeAddedProduct.commande.date) >= date(datein) and date(listeAddedProduct.commande.date) <= date(dateout) %}
                                {% if listeAddedProduct.product == listeProduct %}
                                    {% if listeAddedProduct.collection == collection %}
                                        {% set totalproduit = totalproduit + listeAddedProduct.priceRemise %}
                                        {% set nb_total = nb_total + 1 %}
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    <tr>
                        <td>{{ listeProduct.cartname }}</td>
                        <td>{{collection.title}}</td>
                        <td>{{ totalproduit|round(2, 'common') }}€</td>
                         <td>{{ nb_total }}</td>

                    </tr>
                        {% set totalproduit = 0 %}
                         {% set nb_total = 0 %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endfor %}
</div>
</div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="card">
         <div class="header">
            <div class="row">
               <div class="col-md-6">
                  <h4 class="title">Délais traitement</h4>
                  <p class="category">Par taille de commande</p>
               </div>
               <div class="col-md-6">        
               </div>
            </div>
         </div>
         <div class="content table-responsive table-full-width">
            <table id="commande_en_cours" class="table table-hover table-striped" cellspacing="0">
               <thead>
                  <tr>
                     <th width="50%">Taille de la commande</th>
                     <th width="50%">Délai </th>

                  </tr>
               </thead>
               <tbody>
                {% for key, delaiEnvoi_size in delaiEnvoi_size %}
                   
                  <tr>
                     <td>
                     {{key}}
                     </td>
                     <td>
                     {% for key2, delaiEnvoi_size in delaiEnvoi_size|reverse %}
                       {{delaiEnvoi_size}}{{key2}} 
                       {% endfor %}
                     </td>
                     
                     
                  </tr> 
                   {% endfor %}

                   {% for key, delaiEnvoi_size_compare in delaiEnvoi_size_compare %}
                   
                  <tr>
                     <td>
                     {{key}} (Compare)
                     </td>
                     <td>
                     {% for key2, delaiEnvoi_size_compare in delaiEnvoi_size_compare|reverse %}
                       {{delaiEnvoi_size_compare}}{{key2}} 
                       {% endfor %}
                     </td>
                     
                     
                  </tr> 
                   {% endfor %}
                                  

                  

                
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>



{# <div class="row">
 <div class="col-md-12">
 <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title">Répartition</h4>
                <p class="category">
                 par couleur
                </p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
                <div class="col-md-12">
                    
    <ul role="tablist" class="nav nav-tabs">
    {% for product in listeProduct %}
    {%  if product.nbColor > 0 %}
    <li role="presentation" class="">
        <a href="#{{product.name}}" data-toggle="tab">{{product.cartname}}</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for product in listeProduct %}
   {% if product.nbColor > 0 %}

    <div id="{{product.name}}" class="tab-pane">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Couleur</th>
                        <th>Nombre de ventes (Couleur 1)</th>
                        <th>Nombre de ventes (Couleur 2)</th>
                        <th>Nombre de ventes (Couleur 3)</th>
                    </tr>
                </thead>
                <tbody>
                    {% set nb_total1 = 0 %}
                    {% set nb_total2 = 0 %}
                    {% set nb_total3 = 0 %}
                    {% for color in listeColor %}
                        {% for listeAddedProduct in listeAddedProducts %}
                            {% if listeAddedProduct.commande and listeAddedProduct.commande.isPanier == 0  %}
                                {% if date(listeAddedProduct.commande.date) >= date(datein) and date(listeAddedProduct.commande.date) <= date(dateout) %}
                                {% if listeAddedProduct.product == product %}
                                    {% if listeAddedProduct.color1 == color  %}
                                        {% set nb_total1 = nb_total1 + 1 %}
                                    {% elseif listeAddedProduct.color2 == color %}
                                        {% set nb_total2 = nb_total2 + 1 %}
                                    {% elseif listeAddedProduct.color3 == color %}
                                        {% set nb_total3 = nb_total3 + 1 %}
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    <tr>
                        <td>{{color.namePublic}}</td>
                         <td>{{ nb_total1 }}</td>
                         <td>{{ nb_total2 }}</td>
                         <td>{{ nb_total3 }}</td>
                    </tr>
                         {% set nb_total1 = 0 %}
                         {% set nb_total2 = 0 %}
                         {% set nb_total3 = 0 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endfor %}
</div>
    
</div>
</div>
</div>
            </div> #}
          </div>
    <script src="{{ asset('admin/assets/js/moment.min.js')}}"></script>

<script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}" ></script>

    <script src="{{ asset('admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/fullcalendar.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/chartist.min.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-table.js')}}"></script>
       <script src="{{ asset('admin/assets/js/bootstrap-checkbox-radio-switch-tags.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-selectpicker.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-notify.js')}}"></script>
    <script src="{{ asset('admin/assets/js/demo.js')}}"></script>
         <script src="{{ asset('admin/assets/js/sweetalert2.js')}}"></script>
         <script src="{{ asset('admin/assets/js/light-bootstrap-dashboard.js')}}"></script>
    <script src="{{ asset('admin/assets/js/bootstrap-datetimepicker.js')}}"></script>
<script>

$('#date_in').datetimepicker({
   
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    },
    format: 'Do MMMM YYYY',
    defaultDate: '{{datein|date("Y-m-d")}}',

});

$('#date_out').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    },
    format: 'Do MMMM YYYY',
    defaultDate: '{{dateout|date("Y-m-d")}}',

});

$('#date_in_compare').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    },
    format: 'Do MMMM YYYY',
    {% if datein_compare is defined and datein_compare != 'null' %}defaultDate: '{{datein_compare|date("Y-m-d")}}',{%endif%}

});

$('#date_out_compare').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    },
    format: 'Do MMMM YYYY',
    {% if dateout_compare is defined and dateout_compare != 'null' %}defaultDate: '{{dateout_compare|date("Y-m-d")}}',{%endif%}


});
</script>


<script>

/*var dataSales = {

  labels: [{% set total=0 %}{% for ca in listeCommande %}'{{ ca.date|date("d-m") }}'{% if loop.last == false %},{% endif %}{% endfor %}],

  series: [

            [{% set totalPro=0 %}{% for ca in listeCommande %}{% if ca.client.isPro >= 2 %}{% set totalPro = totalPro + ca.price %}{{ totalPro }}{% else %}{{ totalPro }}{% endif %}{% if loop.last == false %},{% endif %}{% endfor %}],

            [{% set totalPart=0 %}{% for ca in listeCommande %}{% if ca.client.isPro < 2 %}{% set totalPart = totalPart + ca.price %}{{ totalPart }}{% else %}{{ totalPart }}{% endif %}{% if loop.last == false %},{% endif %}{% endfor %}],

            [{% set total=0 %}{% for ca in listeCommande %}{% set total = total + ca.price %}{{ total }}{% if loop.last == false %},{% endif %}{% endfor %}]
            
            
        ]

};*/

var dataSales = {

  labels: [{% set total=0 %}{% for key, amount in order_amount %}'{{ key }}'{% if loop.last == false %},{% endif %}{% endfor %}],

  series: [

            [{% for key, amount in order_amount_pro %}{{ amount }}{% if loop.last == false %},{% endif %}{% endfor %}],

            [{% for key, amount in order_amount_part %}{{ amount }}{% if loop.last == false %},{% endif %}{% endfor %}],

            [{% for key, amount in order_amount %}{{ amount }}{% if loop.last == false %},{% endif %}{% endfor %}],
            
            
        ]

};

var dataSales_month = {

  labels: [{% set total=0 %}{% for key, amount in order_amount_month %}'{{ key }}'{% if loop.last == false %},{% endif %}{% endfor %}],

  series: [

            [{% for key, amount in order_amount_month_pro %}{{ amount }}{% if loop.last == false %},{% endif %}{% endfor %}],

            [{% for key, amount in order_amount_month_part %}{{ amount }}{% if loop.last == false %},{% endif %}{% endfor %}],

            [{% for key, amount in order_amount_month %}{{ amount }}{% if loop.last == false %},{% endif %}{% endfor %}],
            
            
        ]

};

var optionsSales = {

seriesBarDistance: 10,
axisX: {

        showGrid: false

    }

};

var responsiveOptions = [

  ['screen and (max-width: 640px)', {

    seriesBarDistance: 5,

    axisX: {

      labelInterpolationFnc: function (value) {

        return value[0];

      }

    }

  }]

];




Chartist.Bar('#chart_by_day', dataSales, optionsSales, responsiveOptions);
Chartist.Bar('#chart_by_month', dataSales_month, optionsSales, responsiveOptions);



Chartist.Pie('#chartPie_gender', {

  labels: ['{{nb_commande_Mme|round(2,'common')}}%','{{nb_commande_Mlle|round(2,'common')}}%','{{nb_commande_M|round(2,'common')}}%'],

  series: [{{nb_commande_Mme}}, {{nb_commande_Mlle}}, {{nb_commande_M}}]

});
Chartist.Pie('#chartPie_age', {

  labels: ['{{nbCommande_Age['020']|round(2,'common')}}%','{{nbCommande_Age['2030']|round(2,'common')}}%','{{nbCommande_Age['3040']|round(2,'common')}}%','{{nbCommande_Age['4050']|round(2,'common')}}%','{{nbCommande_Age['5060']|round(2,'common')}}%','{{nbCommande_Age['60']|round(2,'common')}}%'],

  series: [{{nbCommande_Age['020']}}, {{nbCommande_Age['2030']}}, {{nbCommande_Age['3040']}}, {{nbCommande_Age['4050']}},{{nbCommande_Age['5060']}},{{nbCommande_Age['60']}}]

});
Chartist.Pie('#chartPie_category', {

  labels: ['{{nbCommande_pro|round(2,'common')}}%','{{nbCommande_part|round(2,'common')}}%','15%','11%'],

  series: [{{nbCommande_pro}}, {{nbCommande_part}}]

});
</script>

<script>
            function selectdate(){
              var boutique = document.getElementById('filtre_boutique').value;
            if(boutique == ''){
              boutique = 'Choisir une boutique';
            }
            datein = document.getElementById('date_in').value;
            dateout = document.getElementById('date_out').value;
            datein_compare = document.getElementById('date_in_compare').value;
            dateout_compare = document.getElementById('date_out_compare').value;
            filtre = {% if app.session.get('filtre') is null %}'all'{% else %}'{{ app.session.get('filtre')}}'{% endif%};
            datein = moment(datein, 'Do MMMM YYYY').format('YYYY-MM-DD');
            dateout = moment(dateout, 'Do MMMM YYYY').format('YYYY-MM-DD');
            datein_compare = moment(datein_compare, 'Do MMMM YYYY').format('YYYY-MM-DD');
            dateout_compare = moment(dateout_compare, 'Do MMMM YYYY').format('YYYY-MM-DD');
            if(datein_compare == "Invalid date" || dateout_compare == "Invalid date"){
              datein_compare = null;
              dateout_compare = null;
            }

            var route = "{{ path('setFiltre', {'in': 'DATEIN', 'out' : 'DATEOUT', 'filtre' : 'FILTRE', 'in_compare': 'DATEINCOMPARE', 'out_compare' : 'DATEOUTCOMPARE', 'boutique' : 'BOUTIQUE'}) }}";
            route = route.replace("DATEIN", datein);
            route = route.replace("DATEOUT", dateout);
            route = route.replace("DATEINCOMPARE", datein_compare);
            route = route.replace("DATEOUTCOMPARE", dateout_compare);
            route = route.replace("FILTRE", filtre);
            route = route.replace("BOUTIQUE", boutique);

            window.location.href = route;
            }

            function selectfiltre(x){
            var boutique = document.getElementById('filtre_boutique').value;
            if(boutique == ''){
              boutique = 'Choisir une boutique';
            }
            datein = document.getElementById('date_in').value;
            dateout = document.getElementById('date_out').value;
            filtre = x;
            var datein = moment(datein, 'Do MMMM YYYY').format('YYYY-MM-DD');
            var dateout = moment(dateout, 'Do MMMM YYYY').format('YYYY-MM-DD');
            datein_compare = document.getElementById('date_in_compare').value;
            dateout_compare = document.getElementById('date_out_compare').value;
          

            datein_compare = moment(datein_compare, 'Do MMMM YYYY').format('YYYY-MM-DD');
            dateout_compare = moment(dateout_compare, 'Do MMMM YYYY').format('YYYY-MM-DD');
            if(datein_compare == "Invalid date" || dateout_compare == "Invalid date"){
              datein_compare = null;
              dateout_compare = null;
            }
            var route = "{{ path('setFiltre', {'in': 'DATEIN', 'out' : 'DATEOUT', 'filtre' : 'FILTRE', 'in_compare': 'DATEINCOMPARE', 'out_compare' : 'DATEOUTCOMPARE', 'boutique' : 'BOUTIQUE'}) }}";
            route = route.replace("DATEIN", datein);
            route = route.replace("DATEOUT", dateout);
            route = route.replace("DATEINCOMPARE", datein_compare);
            route = route.replace("DATEOUTCOMPARE", dateout_compare);
            route = route.replace("FILTRE", filtre);
            route = route.replace("BOUTIQUE", boutique);

            window.location.href = route;
            }
            function selectfiltre_boutique(){
              var boutique = document.getElementById('filtre_boutique').value;
            if(boutique == ''){
              boutique = 'Choisir une boutique';
            }
            datein = document.getElementById('date_in').value;
            dateout = document.getElementById('date_out').value;
            filtre = 'all'
            var datein = moment(datein, 'Do MMMM YYYY').format('YYYY-MM-DD');
            var dateout = moment(dateout, 'Do MMMM YYYY').format('YYYY-MM-DD');
            datein_compare = document.getElementById('date_in_compare').value;
            dateout_compare = document.getElementById('date_out_compare').value;
            datein_compare = moment(datein_compare, 'Do MMMM YYYY').format('YYYY-MM-DD');
            dateout_compare = moment(dateout_compare, 'Do MMMM YYYY').format('YYYY-MM-DD');
            if(datein_compare == "Invalid date" || dateout_compare == "Invalid date"){
              datein_compare = null;
              dateout_compare = null;
            }
            var route = "{{ path('setFiltre', {'in': 'DATEIN', 'out' : 'DATEOUT', 'filtre' : 'FILTRE', 'in_compare': 'DATEINCOMPARE', 'out_compare' : 'DATEOUTCOMPARE', 'boutique' : 'BOUTIQUE'}) }}";
            route = route.replace("DATEIN", datein);
            route = route.replace("DATEOUT", dateout);
            route = route.replace("DATEINCOMPARE", datein_compare);
            route = route.replace("DATEOUTCOMPARE", dateout_compare);
            route = route.replace("FILTRE", filtre);
            route = route.replace("BOUTIQUE", boutique);

            window.location.href = route;
            }
         </script>

         <script>
          function open_comparedate(){
            if(document.getElementById('compare_date').style.display == 'none'){
                document.getElementById('compare_date').style.display = 'block';
                document.getElementById('compare_date_button').innerHTML = "Annuler";

            }
            else{
                document.getElementById('compare_date').style.display = 'none';
                document.getElementById('compare_date_button').innerHTML = "Comparer à";

            }
            
            docu
          }
        </script>
        <script>
        function addDate(duration){
          var boutique = document.getElementById('filtre_boutique').value;
            if(boutique == ''){
              boutique = 'Choisir une boutique';
            }
                        filtre = {% if app.session.get('filtre') is null %}'all'{% else %}'{{ app.session.get('filtre')}}'{% endif%};

          datein = document.getElementById('date_in').value;
            dateout = document.getElementById('date_out').value;
            datein_compare = document.getElementById('date_in_compare').value;
            dateout_compare = document.getElementById('date_out_compare').value;
            datein_compare = moment(datein_compare, 'Do MMMM YYYY');
            dateout_compare = moment(dateout_compare, 'Do MMMM YYYY');
            datein = moment(datein, 'Do MMMM YYYY');
            dateout = moment(dateout, 'Do MMMM YYYY');

            if(duration == 'p1d'){
              datein = datein.add(1, 'day'); 
              dateout = dateout.add(1, 'day'); 
              datein_compare = datein_compare.add(1, 'day'); 
              dateout_compare = dateout_compare.add(1, 'day'); 

            }
            else if(duration == 'p1w'){
              datein = datein.add(1, 'week'); 
              dateout = dateout.add(1, 'week'); 
              datein_compare = datein_compare.add(1, 'week'); 
              dateout_compare = dateout_compare.add(1, 'week'); 
            }
            else if(duration == 'p1m'){
              datein = datein.add(1, 'month'); 
              dateout = dateout.add(1, 'month'); 
              datein_compare = datein_compare.add(1, 'month'); 
              dateout_compare = dateout_compare.add(1, 'month'); 
            }

            else if(duration == 'm1d'){
              datein = datein.subtract(1, 'day'); 
              dateout = dateout.subtract(1, 'day'); 
              datein_compare = datein_compare.subtract(1, 'day'); 
              dateout_compare = dateout_compare.subtract(1, 'day'); 

                        }
            else if(duration == 'm1w'){
              datein = datein.subtract(1, 'week'); 
              dateout = dateout.subtract(1, 'week'); 
              datein_compare = datein_compare.subtract(1, 'week'); 
              dateout_compare = dateout_compare.subtract(1, 'week'); 
            }
            else if(duration == 'm1m'){
 datein = datein.subtract(1, 'month'); 
              dateout = dateout.subtract(1, 'month'); 
              datein_compare = datein_compare.subtract(1, 'month'); 
              dateout_compare = dateout_compare.subtract(1, 'month'); 
            }
            


            datein = datein.format('YYYY-MM-DD');
            dateout = dateout.format('YYYY-MM-DD');
            datein_compare = datein_compare.format('YYYY-MM-DD');
            dateout_compare = dateout_compare.format('YYYY-MM-DD');

           
            if(datein_compare == "Invalid date" || dateout_compare == "Invalid date"){
              datein_compare = null;
              dateout_compare = null;
            }

            var route = "{{ path('setFiltre', {'in': 'DATEIN', 'out' : 'DATEOUT', 'filtre' : 'FILTRE', 'in_compare': 'DATEINCOMPARE', 'out_compare' : 'DATEOUTCOMPARE', 'boutique' : 'BOUTIQUE'}) }}";
            route = route.replace("DATEIN", datein);
            route = route.replace("DATEOUT", dateout);
            route = route.replace("DATEINCOMPARE", datein_compare);
            route = route.replace("DATEOUTCOMPARE", dateout_compare);
            route = route.replace("FILTRE", filtre);
            route = route.replace("BOUTIQUE", boutique);

            window.location.href = route;


        }
        </script>
        <script>
        if($(".selectpicker").length != 0){
    $(".selectpicker").selectpicker();
}
        </script>
{% endblock %}

