{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}


<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Textes</h4>
                                <p class="category">All</p>
                                </div>
                                <div class="col-md-6">        

                      
                                </div>
                                </div>
                            </div>




  <div class="content table-responsive table-full-width">
  <table id="commande_en_cours" class="table table-hover table-striped" cellspacing="0">
  <thead>
           <tr>
           <th width=5%>ID</th>
          <th width=5%>Nom</th>
           <th width=50%>Texte</th>
           <th width=15% >Page</th>
          <th width=5% >Action</th>

           </tr>
       </thead>

       <tbody>
{% for text in text %}
                <tr>
                  <td>{{ text.id }}</td>
                  <td>{{ text.name }}</td>
                  <td>  {{ text.text | raw }}</td>
                  <td>
                {{ text.page }}
                  </td>
<td>
  <a href="{{ path('editText', {'id': text.id }) }}">Modifier</a>
</td>
                </tr>
      {% endfor %}


       </tbody>
  </table>

  </div>




</div>
</div>
</div>

{% endblock %}

{% block script_chart %}

{% endblock %}
