{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}


<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Collections</h4>
                                <p class="category"></p>
                                </div>
                                <div class="col-md-6">        

                                <a href="{{ path('newcollection') }}"><button style="text-transform:uppercase" class="btn btn-info btn-fill pull-right">
  <i class="material-icons">nouveau</i>
</button></a>
                                </div>
                                </div>
                            </div>

  <div class="content table-responsive table-full-width">
  <table id="commande_en_cours" class="table table-hover table-striped" cellspacing="0">
  <thead>
           <tr>
           <th width=5%>ID</th>
            <th width=5%>Statut</th>
          <th width=5%>Nom</th>
           <th width=20%>Description</th>
           <th width=25% >Couleurs active</th>
             <th width=10% >Slider</th>
             <th width=10% >Image</th>
              <th width=10% >Icone</th>
           <th width=10%>Action</th>
           </tr>
       </thead>

       <tbody>
{% for collection in collections %}
                <tr>
                  <td>{{ collection.id }}</td>
                  <td>  {% if collection.active == true %}
                    <i class="fa fa-circle fa-2" aria-hidden="true" style="color:green"></i>
                    {% else %}
                  <i class="fa fa-circle fa-2" aria-hidden="true" style="color:red"></i>
                    {% endif %}</td>
                  <td>{{ collection.title }}</td>
                  <td>{{ collection.description }}</td>
                  <td> {% for color in collection.colors  %}{% if color.isactive == true %} <img src="{{ asset('/upload/color/thumbnail/' ~ color.imageColorName ) }}" style="height:30px; width:30px; margin-right:5px;border-radius:10px">{% endif %}{% endfor %}</td>
                  <td>		<img src="{{ asset('/upload/image_collection/' ~ collection.imageName ) }}" style="width:100%;height:auto">
</td>
                  <td>		<img src="{{ asset('/upload/image_collection/' ~ collection.imageNameCarre ) }}" style="width:100%;height:auto">
</td>
                    <td>
                  <img src="{{ asset('/upload/image_collection/' ~ collection.imageNameIcone ) }}" style="background-color:grey;width:100%;max-height:100px;height:auto">
                  </td>
                  <td>
                  <a href="{{ path("editcollection",{"id": collection.id}) }}">Modifier</a> - {% if collection.active == true %}<a href="{{ path("deactivateCollection",{"id": collection.id}) }}">Désactiver</a>{% else %}<a href="{{ path("activateCollection",{"id": collection.id}) }}">Activer</a>{% endif %}
                  </td>

                </tr>
      {% endfor %}


       </tbody>
  </table>

  </div>
  </div>
  </div>
  </div>




{% endblock %}

{% block script_chart %}

{% endblock %}
