{% extends 'templateadmin.html.twig' %}



{% block script_calcul %}

{% endblock %}

{% block body %}

<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Boutiques</h4>
                                <p class="category">En attente de validation</p>
                                </div>
                                <div class="col-md-3">        

                                <a href="{{ path('companies') }}"><button style="text-transform:uppercase" class="btn btn-info btn-fill pull-right">
  <i class="material-icons">Comptes pro</i>
</button></a>
                                </div>
                                <div class="col-md-3">        

                                <a href="{{ path('newuser') }}"><button style="text-transform:uppercase" class="btn btn-info btn-fill pull-right">
  <i class="material-icons">nouveau</i>
</button></a>
                                </div>
                                </div>
                            </div>


<div class="mdl-grid demo-content">
    <div class="content table-responsive table-full-width">
  <table id="commande_en_cours" class="table table-hover table-striped" cellspacing="0">
  <thead>
           <tr>
           <th width=5%>ID</th>
           <th width=20%>Nom</th>
           <th width=20% >Boutique</th>
           <th width=25%>Adresse de livraison</th>
           <th width=10%>Dernière connexion</th>
            <th width=10%> Statut </th>
            <th width=10%> Validé ? </th>
           <th width=5%>Action</th>
           </tr>
       </thead>

       <tbody>
            {% for user in listeUser_waiting %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.prenom }} {{ user.nom }}</td>
                    <td>{% if user.company %}{{ user.company.name }}{% endif %}
                  </td>
                  <td>{{ user.adress.adress }} <br> {{ user.adress.zipcode }} {{ user.adress.city }} </td>
                  <td>{{ user.lastlogin|date("d-m-Y") }}</td>
                  <td>
                    {% if user.isPro == 1 %}

                    Franchisé
                    {% elseif user.isPro == 2 %}
                      Pro
                    {% else %}
                    Utilisateur
                    {% endif %}
                  </td>
                  <td> <i class="fa fa-circle fa-2" aria-hidden="true" style="color:red"></i> </td>

                  <td> <a href="{{ path('companiesView', { 'id' : user.id }) }}"> Info</a></td>

              </tr>
            {% endfor %}
       </tbody>
  </table>
</div>

</div>
</div>
</div>


                    <div class="col-md-12">
                        <div class="card">
                                                <div class="header">

                                        <div class="row">
                    <div class="col-md-6">        

                                <h4 class="title">Boutiques</h4>
                                <p class="category">Validées</p>
                                </div>
                                
                                </div>
                            </div>

<div class="mdl-grid demo-content">



      <div class="content table-responsive table-full-width">
  <table id="bootstrap-table" class="table table-hover table-striped" cellspacing="0">
    <thead>
             <tr>
             <th date-field="ID" width=5%>ID</th>
             <th date-field="Nom"  width=20%>Nom</th>
             <th date-field="Email" width=20% >Boutique</th>
             <th date-field="Adresse"  width=25%>Adresse de livraison</th>
             <th date-field="Connexion"  width=10%>Dernière connexion</th>
              <th date-field="Statut"  width=10%> Statut </th>
              <th date-field="Validé ?"  width=10%> Validé ? </th>
             <th date-field="actions" data-events="operateEvents" data-formatter="operateFormatter" width=5%>Action</th>
             </tr>
         </thead>

         <tbody>
              {% for user in listeUser %}
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.prenom }} {{ user.nom }}</td>
                    <td>{% if user.company %}{{ user.company.name }}{% endif %}
                    </td>
                    <td>{% if user.adress %}{{ user.adress.adress }} <br> {{ user.adress.zipcode }} {{ user.adress.city }}{% endif%} </td>
                    <td>{{ user.lastlogin|date("d-m-Y") }}</td>
                    <td>
                      {% if user.isPro == 1 %}

                      Franchisé
                      {% elseif user.isPro == 2 %}
                        Pro
                      {% else %}
                      Utilisateur
                      {% endif %}
                    </td>
                    <td> <i class="fa fa-circle fa-2" aria-hidden="true" style="color:green"></i> </td>
                    <td> <a href="{{ path('companiesView', { 'id' : user.id }) }}"> Info</a></td>


                </tr>
              {% endfor %}
         </tbody>
    </table>

  </div>

</div>
</div>
</div>

<script type="text/javascript">
    var $table = $('#bootstrap-table');

    $().ready(function(){
        $table.bootstrapTable({
            toolbar: ".toolbar",
            clickToSelect: true,
            showRefresh: true,
            search: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            searchAlign: 'left',
            pageSize: 8,
            clickToSelect: false,
            pageList: [8,10,25,50,100],

            formatShowingRows: function(pageFrom, pageTo, totalRows){
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: function(pageNumber){
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

        window.operateEvents = {
            'click .view': function (e, value, row, index) {
                info = JSON.stringify(row);

                swal('You click view icon, row: ', info);
                console.log(info);
            },
            'click .edit': function (e, value, row, index) {
                info = JSON.stringify(row);

                swal('You click edit icon, row: ', info);
                console.log(info);
            },
            'click .remove': function (e, value, row, index) {
                console.log(row);
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                });
            }
        };
    });

    function operateFormatter(value, row, index) {
        return [
            '<a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)">',
                '<i class="fa fa-image"></i>',
            '</a>',
            '<a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
                '<i class="fa fa-edit"></i>',
            '</a>',
            '<a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
                '<i class="fa fa-remove"></i>',
            '</a>'
        ].join('');
    }


</script>

{% endblock %}

{% block script_chart %}

{% endblock %}
