{% extends 'base.html.twig' %}


{% block body %}

<div class="account_div div_account_top_mobile col-sm-12" >
<div class="col-xs-1 col-sm-3" style="height: 0px;">
</div>
<div class="col-xs-1 col-sm-6" style="background-color:#ddd; position:relative; top:2px;">
<center>
<a onClick="viewInfo()"><i class="fa fa-user" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_info_top">
</i></a>
<a onClick="viewAdresse()" > <i class="fa fa-home" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_adresse_top"></i></a>
<a onClick="viewMdp()"   > <i class="fa fa-lock" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_mdp_top"></i></a>
<a onClick="viewEncours()"  > <i class="fa fa-spinner" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_encours_top"></i></a>

<a onClick="viewDone()"  > <i class="fa fa-check-circle" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_done_top"></i></a>
</center>
</div>
<div class="col-xs-1 col-sm-3" style="height: 0px;">
</div>
</div>


      <div  style="margin-top:0px;height: 0px;" class="account_div col-sm-12">

         <div class="col-xs-1 col-sm-3" style="height: 0px;">
         </div>

         <div class="col-xs-10 col-sm-6 menu_account_div" style="background-color:#ddd;" >
            <div class="col-md-4 menu_account_div_top" style=" padding:30px; border-right: 1px solid #25225B; min-height:400px" >
               <div style="margin-bottom:15px;">
                    <a onClick="viewInfo()"><i class="fa fa-user" aria-hidden="true" style="margin-right:10px;color:#A94141;cursor:pointer" id="logo_info">
                  </i></a>
                  <a onClick="viewInfo()"  class="details_menu_account">Informations personnelles</a>
               </div>
               <div style="margin-bottom:15px;">
                <a onClick="viewAdresse()" > <i class="fa fa-home" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_adresse"></i></a>
                  <a onClick="viewAdresse()" class="details_menu_account"> Adresses</a>
               </div>
               <div style="margin-bottom:15px;">
                    <a onClick="viewMdp()"   > <i class="fa fa-lock" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_mdp"></i></a>
                  <a onClick="viewMdp()"   class="details_menu_account"> Mot de passe </a>
               </div>
               <div style="margin-bottom:15px;">
                    <a onClick="viewEncours()"  > <i class="fa fa-spinner" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_encours"></i></a>
                  <a onClick="viewEncours()" class="details_menu_account"> Commandes en cours</a>
               </div>
               <div style="margin-bottom:15px;">
                <a onClick="viewDone()"  > <i class="fa fa-check-circle" aria-hidden="true" style="margin-right:10px;cursor:pointer" id="logo_done"></i></a>
                  <a onClick="viewDone()" class="details_menu_account"> Commandes terminées</a>
               </div>
            </div>
            <div class="col-md-8" style=" padding:20px; min-height:200px" >
               <div id="div_info">
                  <div style="margin-left:20px" >
                <center>     <h3>Informations personnelles </h3></center>
                  </div>
                  {% block account_information %}
                  {% endblock %}
               </div>
               <div style="display:none" id="div_adresse">
                  <div style="margin-left:20px" >
                  <center>   <h3>Adresses </h3></center>
                  </div>
                  {% block adresses %}
                 {% endblock %}
               </div>
               <div style="display:none" id="div_mdp">
                  <div style="margin-left:20px" >
                  <center>   <h3>Mot de passe </h3></center>
                     {% block password %}
                    {% endblock %}
                  </div>
               </div>
               <div style="display:none" id="div_encours">
                  <div style="margin-left:20px" >
                    <center> <h3>Commandes en cours </h3></center>
                     {% block commandeencours %}
                    {% endblock %}
                  </div>
               </div>
               <div style="display:none" id="div_done">
                  <div style="margin-left:20px" >
                     <center><h3>Commandes terminées </h3></center>
                     {% block commandedone %}
                    {% endblock %}
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-1 col-sm-3"></div>
      </div>
      {% block javascripts %}{% endblock %}

   <!-- jQuery -->
      <script src="{{ asset('js/jquery.js') }}"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

       <script src="{{ asset('js/raphaeljs.min.js') }}"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>



      <!-- Plugin JavaScript -->
      <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
      <script src="{{ asset('js/jquery.fittext.js') }}"></script>
      <script src="{{ asset('js/wow.min.js') }}"></script>

      <!-- Custom Theme JavaScript -->
      <script src="{{ asset('js/creative.js') }}"></script>

     <script type="text/javascript">
         $('#checkbox-coffret').change(function() {
             $('#couleurs-coffret').toggle();
         });
     </script>

   <script>
      function viewInfo() {
          document.getElementById('div_info').style.display='';
          document.getElementById('div_mdp').style.display='none';
          document.getElementById('div_encours').style.display='none';
          document.getElementById('div_done').style.display='none';
          document.getElementById('div_adresse').style.display='none';
          document.getElementById('logo_info').style.color='#A94141';
          document.getElementById('logo_mdp').style.color='black';
          document.getElementById('logo_encours').style.color='black';
          document.getElementById('logo_done').style.color='black';
          document.getElementById('logo_adresse').style.color='black'
      }
      function viewMdp() {
          document.getElementById('div_info').style.display='none';
          document.getElementById('div_mdp').style.display='';
          document.getElementById('div_encours').style.display='none';
          document.getElementById('div_done').style.display='none';
          document.getElementById('div_adresse').style.display='none';
          document.getElementById('logo_info').style.color='black';
          document.getElementById('logo_mdp').style.color='#A94141';
          document.getElementById('logo_encours').style.color='black';
          document.getElementById('logo_done').style.color='black';
          document.getElementById('logo_adresse').style.color='black';
      }
      function viewEncours() {
          document.getElementById('div_info').style.display='none';
          document.getElementById('div_mdp').style.display='none';
          document.getElementById('div_encours').style.display='';
          document.getElementById('div_done').style.display='none';
          document.getElementById('div_adresse').style.display='none';
          document.getElementById('logo_info').style.color='black';
          document.getElementById('logo_mdp').style.color='black';
          document.getElementById('logo_encours').style.color='#A94141';
          document.getElementById('logo_done').style.color='black';
          document.getElementById('logo_adresse').style.color='black';
      }
      function viewDone() {
          document.getElementById('div_info').style.display='none';
          document.getElementById('div_mdp').style.display='none';
          document.getElementById('div_encours').style.display='none';
          document.getElementById('div_adresse').style.display='none';
          document.getElementById('div_done').style.display='';
          document.getElementById('logo_info').style.color='black';
          document.getElementById('logo_mdp').style.color='black';
          document.getElementById('logo_encours').style.color='black';
          document.getElementById('logo_done').style.color='#A94141';
          document.getElementById('logo_adresse').style.color='black';
      }
      function viewAdresse() {
          document.getElementById('div_info').style.display='none';
          document.getElementById('div_mdp').style.display='none';
          document.getElementById('div_encours').style.display='none';
          document.getElementById('div_adresse').style.display='';
          document.getElementById('div_done').style.display='none';
          document.getElementById('logo_info').style.color='black';
          document.getElementById('logo_mdp').style.color='black';
          document.getElementById('logo_encours').style.color='black';
          document.getElementById('logo_done').style.color='black';
          document.getElementById('logo_adresse').style.color='#A94141';
      }


   </script>
   {% endblock %}
