<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agathe vous gâte | La boutique</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />


    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- Custom Fonts -->

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('js/datepicker/css/datepicker.css') }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}" type="text/css">

    <!-- Awesome Bootstrap pour radio et checkbox CSS -->
    <link rel="stylesheet" href="{{ asset('css/awesome-bootstrap-checkbox.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ asset('css/sequence-theme.modern-slide-in.css') }}" rel="stylesheet" media="all">
     <!-- BB: Ca fait bugé la homme page attendons avant de reactiver -6
    <link rel="stylesheet" href="{{ asset('css/creative.css') }}" type="text/css">

    <!-- BB CSS homepage -->
    <!-- BB CSS menu -->
    <link rel="stylesheet" href="{{ asset('css/styles_home.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('css/styles_menu.css') }}" type="text/css">
    <!-- BB CSS FAQ -->
    <link rel="stylesheet" href="{{ asset('css/styles_faq.css') }}" type="text/css">
     <!-- BB CSS Plugin -->
    <link rel="stylesheet" href="{{ asset('css/styles_plugin.css') }}" type="text/css">
    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- CSS dynamic personalisation page -->
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- Follow Us -->
<div class="wrapper">
<div class="container flwus">
      <div class="row text-center">
        <a href="{{path('accueil')}}" ><div class="col-sm-1 col-xs-5 text-left" style="position:relative">
          <img src="{{ asset('images/home_menu_1.png') }}" alt="logo_agathevousgate" style="height: auto; max-height:35px">
        </div><div class="col-sm-2 col-xs-8 text-left hidden_small no_padding" style="position:relative">
          <img src="{{ asset('images/home_menu_2.png') }}" alt="logo_agathevousgate" style="height: auto; max-height:35px">
        </div></a>
        <div class="col-sm-6 col-xs-2">
        </div>

        <div class="col-sm-3 col-xs-5">
            <div class="row text-center">
            <div class="col-sm-8 col-xs-4 no_padding text-right gfy" ><p class="hidden_small" style="margin-right:10px; color:#242258">Nous suivre</div>
            <a href="https://www.facebook.com/agathevousgate/" target="_blank"><div class="col-sm-2 col-xs-2 no_padding"><img src="{{ asset('images/header/icone_facebook.png') }}" alt="facebook" style="width: 100%; height: auto;max-width:1.5rem;margin: -0.9rem; /*margin-right:100px*/"></div></a>
            <a href="https://www.instagram.com/agathevousgate/" target="_blank">  <div class="col-sm-2 col-xs-2 no_padding"><img src="{{ asset('images/header/icone_instagram.png') }}" alt="instagram" style="width: 100%; height: auto;max-width:2.8rem;margin: -0.9rem;"></div></a>
            </div>
        </div>
    </div>
</div>
<!--MENU-->
<!--<nav class="navbar navbar-default navbar-fixed-top flwus">
    <div class="container text-center">
    <ul class="nav navbar-nav navbar-right menu-right">
                    <li>
                        <p>Nous suivre:</p>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/header/icone_facebook.png') }}" alt="facebook" style="width: 100%; height: auto;max-width:1em;"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/header/icone_instagram.png') }}" alt="instagram" style="width: 100%; height: auto;max-width:2em;"></a>
                    </li>
    </ul>
    </div>
</nav>-->
{% if page is not defined %}
{% set page = 'compte' %}
{% endif %}
<nav class="navbar navbar-default nav_agathe_1" data-spy="affix" data-offset-top="48">
  <div class="container nav_agathe_2">
    <div class="navbar-header nav_agathe_3">
      <button type="button" class="navbar-toggle navbar_agathe" data-toggle="collapse" data-target="#myNavbar" style="margin-top: 1.75rem;/*centrage menu*/">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Icones pour menu mobile -->
      <div class="test_responsiv text-right">
        <li style="margin-right:10px;" class="menu-panier ">
            <a class="page-scroll border_menu" style=" {% if page == 'panier' %} border: 2px solid #242258 ;height:5.6rem; margin-bottom:3px;{% else %}color:#A94141;{% endif%};" href="{{ path('panier') }}"><i  style="font-size: 1.3em !important;{% if page == 'panier' %}color:#242258;  {% endif%}"  class="fa fa-shopping-cart"></i>
{% if is_granted('ROLE_USER') %}
  {% if nbarticlepanier is defined %}
    {% if nbarticlepanier > 0 %}
        <span class="badge badge-green ">{{ nbarticlepanier }}</span>
    {% endif %}
  {% else %}
    {% if app.session.get('nb_article') > 0 %}
        <span class="badge badge-green ">{{ app.session.get('nb_article') }} </span>
    {% endif %}

  {% endif %}
{% endif %}</a>
        </li>
        <li class="menu-account ">
            <a class="dropdown-toggle border_menu" href="#" id="dropdownAccount" {% if page == 'compte' %}style="border-color:#242258"{% endif%} data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i style="font-size: 1.3em !important; {% if page == 'compte' %}color:#242258;height:5.6rem;{% else %}color:#A94141;height:5.6rem; {% endif%}" class="fa fa-user vtff"></i>{% if is_granted('ROLE_USER') %} <span {% if page == 'compte' %}style="color:#242258"{% endif%}  class="glyphicon glyphicon-ok green" aria-hidden="true">{% endif %}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownAccount">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('compte') }}">Mon compte</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                    <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a></li>
                {% endif %}

            </ul>
        </li>
    </div>
      <!-- Icones pour menu mobile -->
      <!--<a class="navbar-brand page-scroll" href="{{ path('accueil') }}"><img src="/agath evousgate/web/images/header/logo_header_scroll.png" alt="logo_agathevousgate" left:15px;height: auto; max-height:25px"></a>-->
    </div>
    {% if page is not defined %}
    {% set page = 'vide' %}
    {% endif %}
    <div class="collapse navbar-collapse" style="padding-right:20px" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="home_logo_div" class="{% if page == 'accueil' %}active{% endif%} ForFuckSack"><a href="{{ path('accueil') }}">Home</a></li>

        <li class="{% if page == 'collection' %}active{% endif%}"><a href="{{ path('collections') }}">Collections</a></li>



        <li class="{% if page == 'personnalisation' %}active{% endif%}"><a href="{{ path('personnalisation', {'idCollection': 30 }) }}">Créer son noeud</a></li>

        <li class="{% if page == 'agatheque' %}active{% endif%}"><a href="{{ path('agatheque') }}">Agathèque</a></li>
        <li class="{% if page == 'faq' %}active{% endif%}"><a href="{{ path('faq') }}">FAQ</a></li>
        <li class="{% if page == 'quisommesnous' %}active{% endif%}"><a href="{{ path('quisommesnous') }}">Qui sommes nous ?</a></li>
        {% if is_granted('ROLE_USER') %}
          {% if app.user.isPro == 2 %}
           
        <li class="{% if page == 'boutique' %}active{% endif%}"><a  href="{{path ('boutique_collection', {'name': 'Basic' })}}" >Espace boutique</a>
         
        </li>
         
          {% endif %}
        {% endif %}

      </ul>
      <ul class="nav navbar-nav navbar-right menu-right hidden_small no_hover" style="{% if page == 'panier' %}height:56px;{% elseif page == 'compte' %}height:56px;{% endif%}">

                    <li style="margin-right:10px;" class="menu-panier ">
                        <a class="page-scroll border_menu" style=" {% if page == 'panier' %} border: 2px solid #242258 ; margin-bottom:3px;{% endif%};" href="{{ path('panier') }}"><i  style="font-size: 1.7em !important;{% if page == 'panier' %}color:#242258;  {% endif%}"  class="fa fa-shopping-cart"></i> {% if is_granted('ROLE_USER') %}{% if nbarticlepanier is defined %}{% if nbarticlepanier > 0 %}<span class="badge badge-green ">{{ nbarticlepanier }}</span>{% endif %}{% else %}{% if app.session.get('nb_article') > 0 %}<span class="badge badge-green ">{{ app.session.get('nb_article') }} </span>{% endif %}{% endif %}{% else %}{% if app.session.get('nb_article') > 0 %}<span class="badge badge-green ">{{ app.session.get('nb_article') }}</span> {% endif %}{% endif %}</span></a>
                    </li>
                    <li class="menu-account ">
                        <a class="dropdown-toggle border_menu" href="#" id="dropdownAccount" {% if page == "compte" %}style="border-color:#242258"{% endif%} data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i style="font-size: 1.7em !important; {% if page == 'compte' %}color:#242258;{% else %} {% endif%}" class="fa fa-user"></i>{% if is_granted('ROLE_USER') %} <span {% if page == 'compte' %}style="color:#242258"{% endif%}  class="glyphicon glyphicon-ok green" aria-hidden="true">{% endif %}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAccount">
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('compte') }}">Mon compte</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                                <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a></li>
                            {% endif %}

                        </ul>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-2x fa-user"></i></a>
                    </li>-->
        </ul>
    </div>
  </div>
</nav>


    <body style="/*margin-top:150px; margin-bottom:150px*/">
    <style>
    @media screen and (min-width: 1500px){


    .resume_cart{
    	border:1px solid rgb(169, 65, 65);
    	min-height: 250px;
    	min-width: 150px;
    	width:10%;
    	position: fixed;
    	top:120px;
    	right:5px;
      background-color: white;

    }
    .resume_cart_h2{
    	border-bottom: 1px solid rgb(36, 34, 88);
    }
    .resume_cart_checkout{
    	position: absolute;
    	bottom:5px;
    	margin-top: 10px;
    }
    .resume_cart_article, .resume_cart_h2, .resume_cart_checkout {
    	width:100%;

    }
    .resume_cart_article{
    	margin-left: 5px;
    }
    .resume_cart_quit{
      color:grey;
      cursor:pointer;
      position:absolute;
      top : 3px;
      right:6px;
    }
}
@media screen and (max-width: 1500px){
.resume_cart{
display:none;
}
}
    </style>


        {% block body %} {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <div class="push"></div>
</div>
<footer class="general-footer">
    <div class="container-fluid footer">
      <div class="container">
        <div class="row text-center">
            <div class="col-sm-3 col-xs-12">
                <img src="{{ asset('img/agathe_logo_footer.png') }}" alt="logo_agathevousgate_footer" style="height: auto; width: 100%; max-width: 150px;">
            </div>
            <div class="col-sm-9 col-xs-12 hidden_small">
                <div class="row text-center">

                    <a href="mailto:agathe@agathevousgate.fr" style="color:white"><div class="col-sm-4">Un événement</div></a>
                    <a href="{{path('cgv')}}" style="color:white"><div class="col-sm-4">Condition générale de vente</div></a>
                  <a href="mailto:agathe@agathevousgate.fr" style="color:white">    <div class="col-sm-4">Une question</div></a>
                </div>
                <div class="row text-center">

                      <a href="{{ path('personnalisation', {'idCollection': 30 }) }}" style="color:white"><div class="col-sm-4">Un noeud sur-mesure</div>
                      <a href="{{path('faq')}}" style="color:white"><div class="col-sm-4">Paiement 100% sécurisé</div>
                      <a href="{{path('fos_user_registrationcompany_register')}}" style="color:white"><div class="col-sm-4">Accéder à l'espace boutique</div>

                    <div class="col-sm-4"></div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid copyright">
        <div class="row text-center">
            <div class="col-sm-4 col-xs-1"></div>
            <div class="col-sm-4 col-xs-10">Copyright 2016 - Agathe vous gâte</div>
            <div class="col-sm-4 col-xs-1"></div>
        </div>
    </div>

</footer>


    <!-- jQuery -->
       <script src="{{ asset('js/jquery.js') }}"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

        <script src="{{ asset('js/raphaeljs.min.js') }}"></script>

       <!-- Bootstrap Core JavaScript -->
       <script src="{{ asset('js/bootstrap.min.js') }}"></script>



       <!-- Plugin JavaScript -->
       <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
       <script src="{{ asset('js/jquery.fittext.js') }}"></script>
       <script src="{{ asset('js/wow.min.js') }}"></script>

       <!-- Custom Theme JavaScript -->
       <script src="{{ asset('js/creative.js') }}"></script>

      <script type="text/javascript">

          $('#checkbox-coffret').change(function() {
              $('#couleurs-coffret').toggle();
          });
/*
          $(function() {
            $('nav a[href^="/' + location.pathname+ '"]').addClass('active');
            alert('nav a[href="' + location.pathname + '"]');

        });*/
        $(window).on('scroll', function() {
            var y_scroll_pos = window.pageYOffset;
            var scroll_pos_test = 48;             // set to whatever you want it to be

            if(y_scroll_pos > scroll_pos_test) {

            }
        });

      </script>

      <script>
        function resume_cart_exit(){
document.getElementById('resume_cart').style.display = 'none';
}
$(document).ready(function(){
$("image_menu_scroll").click(function(){
        alert("The paragraph was clicked.");
    });

$(window).on('scroll', function() {
      var y_scroll_pos = window.pageYOffset;
      var scroll_pos_test = 48;             // set to whatever you want it to be

      if(y_scroll_pos > scroll_pos_test) {
        $("#home_logo_div").html("<a style='padding-bottom:0px' href='{{ path('accueil') }}'><img src='{{ asset('images/header/logo_header_scroll.png') }}' alt='logo_agathevousgate' class='image_menu_scroll'></a>");

      }

      else if(y_scroll_pos < scroll_pos_test) {
        $("#home_logo_div").html("<a href='{{ path('accueil') }}'>Home</a>");
      }
  });

  });


      </script>
      <script src="{{ asset('js/datepicker/js/bootstrap-datepicker.js') }}"></script>

<script type="text/javascript">CRISP_WEBSITE_ID = "c13da6f1-bc59-4a70-9859-1f784a14f4ba";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87983475-1', 'auto');
  ga('send', 'pageview');

</script>
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.cookiebar.css') }}" />
<script type="text/javascript" src="{{ asset('js/jquery.cookiebar.js') }}"></script>
<script>
$(document).ready(function(){
    $.cookieBar({
      message: 'Nous utilisons des cookies afin de vous proposer la meilleure navigation possible. En continuant sur ce site vous acceptez les cookies',
      fixed: true,
      acceptOnContinue: true,
      zindex: '10',
      bottom: true,



      acceptText: 'J\'accepte',
    });
  });


</script>
</html>
