<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La boutique | Agathe vous gâte</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- Custom Fonts -->

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}" type="text/css">

    <!-- Awesome Bootstrap pour radio et checkbox CSS -->
    <link rel="stylesheet" href="{{ asset('css/awesome-bootstrap-checkbox.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ asset('css/sequence-theme.modern-slide-in.css') }}" rel="stylesheet" media="all">
     <!-- BB: Ca fait bugé la homme page attendons avant de reactiver -6
    <link rel="stylesheet" href="{{ asset('css/creative.css') }}" type="text/css">

    <!-- BB CSS homepage -->
    <link rel="stylesheet" href="{{ asset('css/styles_home.css') }}" type="text/css">
    <!-- BB CSS menu -->
    <link rel="stylesheet" href="{{ asset('css/styles_menu.css') }}" type="text/css">
    <!-- BB CSS FAQ -->
    <link rel="stylesheet" href="{{ asset('css/styles_faq.css') }}" type="text/css">
     <!-- BB CSS Plugin -->
    <link rel="stylesheet" href="{{ asset('css/styles_plugin.css') }}" type="text/css">
    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- Follow Us -->
<div class="wrapper">
<div class="container flwus">
      <div class="row text-center">
        <div class="col-sm-2 col-xs-2" style="position:relative">
          <img src="{{ asset('images/header/logo_header_scroll.png') }}" alt="logo_agathevousgate" style="position:absolute; left:15px;height: auto; max-height:25px">
        </div>
        <div class="col-sm-8 col-xs-4">
        </div>

        <div class="col-sm-2 col-xs-6">
            <div class="row text-center">
            <div class="col-sm-6 col-xs-4 no_padding"><p>Suivez-nous</p></div>
            <div class="col-sm-3 col-xs-4 no_padding"><img src="{{ asset('images/header/icone_facebook.png') }}" alt="facebook" style="width: 100%; height: auto;max-width:0.6em;"></div>
            <div class="col-sm-3 col-xs-4 no_padding"><img src="{{ asset('images/header/icone_instagram.png') }}" alt="instagram" style="width: 100%; height: auto;max-width:1.2em;"></div>
            </div>
        </div>
    </div>
</div>
<!--MENU-->
<!--<nav class="navbar navbar-default navbar-fixed-top flwus">
    <div class="container text-center">
    <ul class="nav navbar-nav navbar-right menu-right">
                    <li>
                        <p>Nous suivre:</p>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/header/icone_facebook.png') }}" alt="facebook" style="width: 100%; height: auto;max-width:1em;"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/header/icone_instagram.png') }}" alt="instagram" style="width: 100%; height: auto;max-width:2em;"></a>
                    </li>
    </ul>
    </div>
</nav>-->
<nav class="navbar navbar-default nav_agathe_1" data-spy="affix" data-offset-top="48">
  <div class="container nav_agathe_2">
    <div class="navbar-header nav_agathe_3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand page-scroll" href="{{ path('accueil') }}"><img class="img-responsive img-principal-menu" src="{{ asset('images/logo_test.jpg') }}" style="width:100%;height:auto; max-width:75px;"></a>-->
    </div>
    {% if page is not defined %}
    {% set page = 'vide' %}
    {% endif %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{% if page == 'accueil' %}active{% endif%}"><a href="{{ path('accueil') }}">Home</a></li>

        <li class="{% if page == 'collection' %}active{% endif%}"><a href="{{ path('collections') }}">Collections</a></li>



        <li class="{% if page == 'personnalisation' %}active{% endif%}"><a href="{{ path('personnalisation', {'idCollection': 14 }) }}">Créer son noeud</a></li>

        <li class="{% if page == 'agatheque' %}active{% endif%}"><a href="{{ path('agatheque') }}">Agathèque</a></li>
        <li class="{% if page == 'faq' %}active{% endif%}"><a href="{{ path('faq') }}">FAQ</a></li>
        <li class="{% if page == 'quisommesnous' %}active{% endif%}"><a href="{{ path('quisommesnous') }}">Qui sommes nous ?</a></li>
        {% if is_granted('ROLE_USER') %}
          {% if app.user.isPro == 2 %}
            {% if collection is defined %}
        <li class="dropdown {% if page == 'tissu' %}active{% endif%}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tissus<span class="caret"></span></a>
          <ul class="dropdown-menu">

              {% for col in collection %}

                    <li class="">
                        <a class="page-scroll" href="{{ path('listeFranchise', {'id': col.id }) }}">{{ col.title }}</a>
                    </li>

                    {% endfor %}
          </ul>
        </li>
          {% endif %}
          {% endif %}




          {% if app.user.isPro == 1 %}
          <li class="{% if page == 'rectangle' %}active{% endif%}"><a href="{{ path('listeProRectangle') }}">Pro</a></li>
          {% endif %}
        {% endif %}

      </ul>
      <ul class="nav navbar-nav navbar-right menu-right">

                    <li class="menu-panier {% if page == 'panier' %}active{% endif%}">
                        <a class="page-scroll" href="{{ path('panier') }}"><i class="fa fa-2x fa-shopping-cart"></i> <span class="badge badge-green ">{% if is_granted('ROLE_USER') %}{% if nbarticlepanier is defined %}{{ nbarticlepanier }}{% else %}{{ app.session.get('nb_article') }} {% endif %}{% else %}{{ app.session.get('nb_article') }} {% endif %}</span></a>
                    </li>
                    <li class="menu-account {% if page == 'compte' %}active{% endif%}">
                        <a class="dropdown-toggle" href="#" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-2x fa-user"></i>{% if is_granted('ROLE_USER') %} <span class="glyphicon glyphicon-ok green" aria-hidden="true">{% endif %}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAccount">
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('compte') }}">Mon compte</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                                <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a></li>
                            {% endif %}

                        </ul>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-2x fa-user"></i></a>
                    </li>-->
        </ul>
    </div>
  </div>
</nav>




    <body style="/*margin-top:150px; margin-bottom:150px*/">
    <style>
    @media screen and (min-width: 1500px){


    .resume_cart{
    	border:1px solid rgb(169, 65, 65);
    	min-height: 250px;
    	min-width: 150px;
    	width:10%;
    	position: fixed;
    	top:110px;
    	right:5px;
      background-color: white;

    }
    .resume_cart_h2{
    	border-bottom: 1px solid rgb(36, 34, 88);
    }
    .resume_cart_checkout{
    	position: absolute;
    	bottom:5px;
    	margin-top: 10px;
    }
    .resume_cart_article, .resume_cart_h2, .resume_cart_checkout {
    	width:100%;

    }
    .resume_cart_article{
    	margin-left: 5px;
    }
    .resume_cart_quit{
      color:grey;
      cursor:pointer;
      position:absolute;
      top : 3px;
      right:6px;
    }
}
@media screen and (max-width: 1500px){
.resume_cart{
display:none;
}
}
    </style>
    {% if listePanier is defined %}

    <div class="resume_cart" id="resume_cart">
      <div class="resume_cart_quit">
        <a onclick="resume_cart_exit()"><i class="fa fa-times fa-1" aria-hidden="true"></i></a>
      </div>
    	<h2 class="resume_cart_h2">
    		<center>Panier</center>
    	</h2>
      {% set numero_ligne = 0 %}

      {% for listepanier in listePanier %}

    	<div class="resume_cart_article">
    		<span> {{ listepanier.quantity }} {{ listepanier.product.name }} </span> <span style="position:absolute; right:5px;">

          {% if listepanier.id %}
            <a href="{{ path('deleteproduct',{'id':listepanier.id} ) }}"><i class="fa fa-trash-o" aria-hidden="true" ></i></a>
            {% else  %}

          <a href="{{ path('deleteproduct_session',{'id':numero_ligne} ) }}"><i class="fa fa-trash-o" aria-hidden="true" ></i></a>


          {% endif %}
        </a></span>
    	</div>
{% set numero_ligne = numero_ligne + 1 %}
      {% endfor %}

    		<div class="resume_cart_article" style="height:50px">
    		<span>  </span> <span style="position:absolute; right:5px;"></span>
    	</div>
    	<div class="resume_cart_checkout">
    		<center><a href="{{ path('panier') }}" class="btn btn-primary btn-lg active btn_send">Voir le panier</a></center>
    	</div>
    </div>
    {% endif %}

        {% block body %} {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <div class="push"></div>
</div>
<footer class="general-footer">
    <div class="container-fluid footer">
          <div class="row text-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">Un événement</div>
            <div class="col-sm-3">Condition générale de vente</div>
            <div class="col-sm-3">Une question</div>
          </div>
          <div class="row text-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">Un noeud sur-mesure</div>
            <div class="col-sm-3">Paiement 100% sécurisé</div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row text-center">
            <div class="col-sm-3">Agathe vous gâte</div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
          </div>
    </div>
    <div class="container-fluid copyright">
      <div class="row text-center">
        <div class="col-sm-4 col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">Copyright 2016 - Agathe Lefeuvre</div>
        <div class="col-sm-4 col-xs-1"></div>
      </div>
    </div>
</footer>


    <!-- jQuery -->
       <script src="{{ asset('js/jquery.js') }}"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

        <script src="{{ asset('js/raphaeljs.min.js') }}"></script>

       <!-- Bootstrap Core JavaScript -->
       <script src="{{ asset('js/bootstrap.min.js') }}"></script>



       <!-- Plugin JavaScript -->
       <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
       <script src="{{ asset('js/jquery.fittext.js') }}"></script>
       <script src="{{ asset('js/wow.min.js') }}"></script>

       <!-- Custom Theme JavaScript -->
       <script src="{{ asset('js/creative.js') }}"></script>

      <script type="text/javascript">
          $('#checkbox-coffret').change(function() {
              $('#couleurs-coffret').toggle();
          });
          /*Test script menu active
          $(function() {
            $('nav a[href^="/' + location.pathname+ '"]').addClass('active');
            alert('nav a[href="' + location.pathname + '"]');

        });*/

      </script>

      <script>
        function resume_cart_exit(){
document.getElementById('resume_cart').style.display = 'none';
}
      </script>


</html>
