
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">


    -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>

  {% block script_calcul %}
  {% endblock %}

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Administration</span>
          <div class="mdl-layout-spacer"></div>



        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="{{ asset('img/logo-principal-menu.png') }}" style="height:60%">
          <div class="demo-avatar-dropdown">
            <span>{{ app.user.prenom }} {{ app.user.nom }}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">


              <li class="mdl-menu__item"><i class="material-icons">exit_to_app</i>Logout</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="{{ path('dashboard') }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>Dashboard</a>
          <a class="mdl-navigation__link" href="{{ path('encours') }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_play</i>Commandes en cours</a>
          <a class="mdl-navigation__link" href="{{ path('done') }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_add_check</i>Commande terminées</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">note_add</i>Nouvelle commande manuel</a>

          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">

        {% block body %}
        {% endblock %}

      <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
    <script src="{{ asset('js/material.min.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>




    {% block script_chart %}
    {% endblock %}
    {% set totalFemme = 0 %}
    {% for commande in listeCommande %}
      {% if commande.client.genre == "madame" or commande.client.genre == "mademoiselle"  %}
        {% set totalFemme = totalFemme + commande.price %}
      {% endif %}
    {% endfor %}

    {% set totalHomme = 0 %}
    {% for commande in listeCommande %}
      {% if (commande.client.genre == "monsieur") %}
        {% set totalHomme = totalHomme + commande.price %}
      {% endif %}
    {% endfor %}

    {% set total_2030 = 0 %}
    {% set total_020 = 0 %}
    {% set total_3040 = 0 %}
    {% set total_4050 = 0 %}
    {% set total_5060 = 0 %}
    {% set total_60 = 0 %}


    {% set totalPro = 0 %}
    {% set totalParticulier = 0 %}

    {% for commande in listeCommande %}
    {% if commande.client.isPro == true %}
      {% set totalPro = totalPro + commande.price %}
      {% else %}
      {% set totalParticulier = totalParticulier + commande.price %}
    {% endif %}
    {% endfor %}


    {% set now = 'now'|date("Y") %}
    {% for commande in listeCommande %}
      {% if now - commande.client.naissance <= 20 %}
        {% set total_020 = total_020 + commande.price %}
      {% elseif now - commande.client.naissance > 20 and now - commande.client.naissance <= 30 %}
      {% set total_2030 = total_2030 + commande.price %}
      {% elseif now - commande.client.naissance > 30 and now - commande.client.naissance <= 40 %}
      {% set total_3040 = total_3040 + commande.price %}
      {% elseif now - commande.client.naissance > 40 and now - commande.client.naissance <= 50 %}
      {% set total_4050 = total_4050 + commande.price %}
      {% elseif now - commande.client.naissance > 50 and now - commande.client.naissance <= 60 %}
      {% set total_5060 = total_5060 + commande.price %}
      {% elseif now - commande.client.naissance > 60 %}
      {% set total_60 = total_60 + commande.price %}

    {% endif %}

    {% endfor %}


    <script>
    new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'CA_total',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: [
      {% set total=0 %}
     {% for ca in listeCommande %}
      {% set total = total + ca.price %}
      { date: "{{ ca.date|date("Y-m-d") }}", value: "{{ total }}" },
    {% endfor %}
    ],
    // The name of the data record attribute that contains x-values.
    xkey: 'date',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    labels: ['Montant'],

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.

    });
    </script>
    <script>
    Morris.Donut({
      element: 'homme_femme',
      data: [
        {label: "Homme", value: {{ totalHomme }} },
        {label: "Femme", value: {{ totalFemme }} }

      ]
    });
    </script>

    <script>
    Morris.Donut({
      element: 'pro_particulier',
      data: [
        {label: "Pro", value: {{ totalPro }} },
        {label: "Particulier", value: {{ totalParticulier }} }

      ]
    });
    </script>

    <script>
    Morris.Donut({
      element: 'age',
      data: [
        {label: "0-20 ans", value: {{ total_020 }} },
        {label: "20-30 ans", value: {{ total_2030 }} },
      {label: "30-40 ans", value: {{ total_3040 }} },
      {label: "40-50 ans", value: {{ total_4050 }} },
      {label: "50-60 ans", value: {{ total_5060 }} },
      {label: "> 60 ans", value: {{ total_60 }} }

      ],
    colors: ['#191970', '#eeba30', '#b10821', '#9361b5', '#849612', '#eb6111']
    });
    </script>

    <script>
    $(document).ready(function() {
        $('#commande_en_cours').DataTable();
    } );
    </script>
  </body>
</html>
