
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">


    -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" type="text/css">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css" />


    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
    <script>
    function displayCommande(){
    var x = document.getElementsByClassName('commande');
    var i;

     for (i = 0; i < x.length; i++) {
      if (x[i].style.display == "none"){
         x[i].style.display = "";


      }

    }
    }




    function displayDefinedProduct(){
    var x = document.getElementsByClassName('definedproduct');
    var i;

     for (i = 0; i < x.length; i++) {
      if (x[i].style.display == "none"){
         x[i].style.display = "";
      }

      }

    }
    </script>
  </head>
  <body>

  {% block script_calcul %}
  {% endblock %}

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Agathe Vous Gâte - Back Office</span>
      <span id="lien_logout" style="position:absolute; right:10px;" class="mdl-layout-title"><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons" style="color:white; font-size:40px">exit_to_app</i></a></span>
      <div class="mdl-tooltip" for="lien_logout" style="will-change:unset">
      Se déconnecter
      </div>
      <span id="lien_accueil" class="mdl-layout-title" style="position:absolute; right:50px;" ><a href="{{ path('accueil') }}"><i class="material-icons" style="color:white;font-size:40px">store</i></a></span>
      <div class="mdl-tooltip" for="lien_accueil" style="will-change:unset">
      Aller sur le site AgatheVousGâte
      </div>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">

    {% if is_granted('ROLE_SUPER_ADMIN') == false %}
    <a href="{{ path('encours') }}" class="mdl-layout__tab">Commandes</a>
  {% else %}
      <a href="{{ path('dashboard') }}" class="mdl-layout__tab {% if page == 'dashboard' %} is-active {% endif %}">Dashboard</a>
      <a href="{{ path('encours') }}" class="mdl-layout__tab {% if page == 'commande' %} is-active {% endif %}">Commandes</a>
      <a href="{{ path('listeAtelier') }}" class="mdl-layout__tab {% if page == 'atelier' %} is-active {% endif %}">Ateliers</a>
      <a href="{{ path('users') }}" class="mdl-layout__tab {% if page == 'users' %} is-active {% endif %}">Utilisateurs</a>
      <a href="{{ path('listeCollection') }}" class="mdl-layout__tab {% if page == 'collection' %} is-active {% endif %}">Collection</a>
      <a href="{{ path('definedProduct') }}" class="mdl-layout__tab {% if page == 'definedProduct' %} is-active {% endif %}">Produits définis</a>
      <a href="{{ path('listeCodePromo') }}" class="mdl-layout__tab {% if page == 'codePromo' %} is-active {% endif %}">Codes Promos</a>
      <a href="{{ path('listecolor') }}" class="mdl-layout__tab {% if page == 'color' %} is-active {% endif %}">Couleurs</a>
      <a href="{{ path('imageSite') }}" class="mdl-layout__tab {% if page == 'image' %} is-active {% endif %}">Images</a>

{% endif %}
    </div>
  </header>

</div>
      <main class="mdl-layout__content mdl-color--grey-100" style="margin-top:120; margin-left:0px;">


        {% block body %}


        {% endblock %}



      <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
    <script src="{{ asset('js/material.min.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>






    {% block script_chart %}
    {% endblock %}


    <script>

    $(document).ready(function() {
        $('#commande_en_cours').DataTable();
    } );
    </script>
<script>
document.getElementById('view-source').style.display = 'none';
</script>
  </body>
</html>
