{% extends 'base.html.twig' %}


{% block body %}

<body>


<div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-xs-12"><h1 class ="heading" style="font-size: 1.5em;">RETROUVEZ TOUTE NOTRE COLLECTION</h1></div>
      </div>
{% for collection in collections %}
  {% if collection.active == true %}
      {% if loop.index is divisibleby(2) %}
      <a href="{{ path('listeproduit',{'id' : collection.id} ) }}">

      <div class="row">

        <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre ) }}" alt="londre_noeud" style="width: 100%; height: auto;"></div>
        <div class="col-sm-6 nos_collections nos_collections_text" style="background-color:#FFF;color:#252259; font-size:2em; ">

        <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%; max-height: 40%;height:auto; margin-top:50px;margin-bottom:30px;">
        <div>
          {{ collection.title }}
        </div>
        <div>
            COLLECTION SUMMER 2016
        </div>

        </div>
    </div>
      </a>

      {% else %}
      <a href="{{ path('listeproduit',{'id' : collection.id} ) }}">

      <div class="row">

      <div class="col-sm-6 nos_collections nos_collections_text" style="background-color:#FFF;color:#252259; font-size:2em;">

      <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%; max-height: 40%;height:auto; margin-top:50px;margin-bottom:30px;">
      <div>
        {{ collection.title }}
      </div>
      <div>
          COLLECTION SUMMER 2016
      </div>

      </div>
        <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre ) }}" alt="londre_noeud" style="width: 100%; height: auto;"></div>
      </div>
      </a>


      {% endif %}
    {% else %}
        {% if app.user.isPro == 1 %}
          {% if loop.index is divisibleby(2) %}
          <a href="{{ path('listeproduit',{'id' : collection.id} ) }}">

            <div class="row">
              <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre ) }}" alt="londre_noeud" style="width: 100%; height: auto;"></div>
              <div class="col-sm-6 nos_collections nos_collections_text" style="background-color:#FFF;color:#252259; font-size:2em; ">

              <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%; max-height: 40%;height:auto; margin-top:50px;margin-bottom:30px;">
              <div>
                {{ collection.title }}
              </div>
              <div>
                  COLLECTION SUMMER 2016
              </div>

              </div>  </div>
</a>
          {% else %}
          <a href="{{ path('listeproduit',{'id' : collection.id} ) }}">
            <div class="row">
            <div class="col-sm-6 nos_collections nos_collections_text" style="background-color:#FFF;color:#252259; font-size:2em; ">

            <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%; max-height: 40%;height:auto; margin-top:50px;margin-bottom:30px;">
            <div>
              {{ collection.title }}
            </div>
            <div>
                COLLECTION SUMMER 2016
            </div>

            </div>
            <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre ) }}" alt="londre_noeud" style="width: 100%; height: auto;"></div>
            </div>
          </a>
      {% endif %}
    {% endif %}
    {% endif %}




{% endfor  %}
<div class="row">

<div class="col-md-12 col-sm-12 hero-feature" style="padding-left:0;padding-right:0; margin-top:40px;margin-bottom:40px">


<div class="container customisation_noeud">
      <div class="row text-center">
        <div class="col-sm-4 col-xs-4"></div>
        <div class="col-sm-4 col-xs-4"><img src="{{ asset('/images/noeud_personnalisation.svg') }}" alt="logo noeud" style="width: 100%; height: auto; min-width: 4em; max-width:13em;"></div>
        <div class="col-sm-4 col-xs-4"></div>
      </div>
      <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 col-xs-12"><h2>CRÉEZ VOTRE PROPRE NOEUD</h2></div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row text-center creer_bottom">
        <div class="col-sm-4 col-xs-1"></div>
        <div class="col-sm-4 col-xs-10"><a href="{{ path('personnalisation', {'idCollection': 16})}}" class="btn btn-primary btn-lg active btn_agathe" role="button">OK, LET'S GO !</a></div>
        <div class="col-sm-4 col-xs-1"></div>
      </div>
</div>
</div>
</div>

<style>
.nos_collections_text {
height:376px ;
font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

}

@media (max-width: 1200px) {
.nos_collections_text {
height:356px ;
    }}

    @media (max-width: 992px) {
    .nos_collections_text {
    height:275px ;
        }}

        @media (max-width: 768px) {
        .nos_collections_text {
        height:0px ;
        overflow:hidden;
            }}

</style>
</body>



{% endblock %}
