<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
    <head>
        <title>Restitution HTML</title>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' >
    </head>
    <body style='padding: 10px; font-size: 10pt;'>
<style type='text/css'>
<!--
table { vertical-align: top; }
tr    { vertical-align: top; }
td    { vertical-align: top; }
}
-->
</style>
{% set totalsum = null %}{% set numero_ligne = 0 %} {% set refundTotal = 0 %}


<div backcolor='#FEFEFE' backimg='./res/bas_page.png' backimgx='center' backimgy='bottom' backimgw='100%' backtop='0' backbottom='30mm' footer='date;heure;page' style='font-size: 12pt'>

    <table cellspacing='0' style='width: 100%; text-align: center; font-size: 14px'>
        <tr>

            <td style='width: 25%; color: #444444;'>
                <img src='http://agathevousgate.fr/images/logo_test.jpg' style='margin-right:-150px'>
            </td>
            <td style='width: 75%;'>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table cellspacing='0' style='width: 100%; text-align: left; font-size: 11pt;'>
        <tr>
            <td style='width:50%;'></td>
            <td style='width:14%; '>Client :</td>
             {% if user.company %}
            <td style='width:36%'>{{user.company.name}} - SIREN : {{user.company.siren}}</td>
            {% else %}
            <td style='width:36%'>{{user.nom}} {{user.prenom}}</td>
             {% endif %}
        </tr>
        <tr>
            <td style='width:50%;'></td>
            <td style='width:14%; '>Adresse :</td>
            {% if user.company and user.company.adressBilling %}
            <td style='width:36%'>
                {{user.company.adressBilling.adress}}<br>
                {{user.company.adressBilling.zipcode}} {{user.company.adressBilling.city}}<br>

            </td>
            {% else %}
            <td style='width:36%'>
            {% if user.adress %}
                {{user.adress.adress}}<br>
                {{user.adress.zipcode}} {{user.adress.city}}<br>
            {% endif %}
            </td>
            {% endif %}
        </tr>
        <tr>
            <td style='width:50%;'></td>
            <td style='width:14%; '>Email :</td>
            <td style='width:36%'>{{user.email}}</td>
        </tr>

    </table>
    <br>
    <br>
    <table cellspacing='0' style='width: 100%; text-align: left;font-size: 10pt'>
        <tr>
            <td style='width:50%;'></td>
            <td style='width:50%; '>Reims, le {{ invoice.createdAt|date("d/m/Y") }}</td>
        </tr>
    </table>
    <br>
    <i>
        <b><u>Facture N°{{invoice.randomId}} du {{invoice.order.date|date("d/m/Y")}}</u></b><br>
        {% for edit in edits %}
            Modifié le {{ edit.createdAt|date("d/m/Y") }} - {{edit.type}}<br>
        {% endfor %}
    </i>
    <br>
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 32%'>{{invoice.nbElements}} produit{% if invoice.nbElements > 1%}s{% endif %}</th>
            <th style='width: 32%'>Couleur</th>
            <th style='width: 13%'>Prix Unitaire</th>
            <th style='width: 10%'>Quantité</th>
            <th style='width: 13%'>Prix Net</th>
        </tr>
    </table>

    {% for listepanier in listePanier %}
    {% set totalsum = totalsum + listepanier.price * listepanier.quantity %}
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;'>
        <tr>
            <td style='width: 12%; text-align: left'>{{ listepanier.product.cartname }}</td>
            <td style='width: 52%; text-align: left'>
            {% if listepanier.Color1 %}
            <img style="width:30px; height:30px" src="http://agathevousgate.fr/web/upload/color/thumbnail/{{listepanier.Color1.imageColorName }}">
            {% endif %}
            {% if listepanier.Color2 %}
            <img style="width:30px; height:30px" src="http://agathevousgate.fr/web/upload/color/thumbnail/{{listepanier.Color2.imageColorName }}">
            {% endif %}
            {% if listepanier.Color3 %}
            <img style="width:30px; height:30px" src="http://agathevousgate.fr/web/upload/color/thumbnail/{{listepanier.Color3.imageColorName }}">
            {% endif %}
            </td>
            <td style='width: 13%; text-align: right'>{{ listepanier.price }}</td>
            <td style='width: 10%'>{{ listepanier.quantity }}</td>
            <td style='width: 13%; text-align: right;'>{{ listepanier.price * listepanier.quantity }}€</td>
        </tr>
    </table>
    {% endfor %}


 
   
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 87%; text-align: right;'>Sous-Total : </th>
            <th style='width: 13%; text-align: right;'>{{ invoice.Price - invoice.TransportCost + invoice.Remise }}€</th>
        </tr>
    </table>
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 87%; text-align: right;'>Livraison : </th>
            <th style='width: 13%; text-align: right;'>{{ invoice.transportCost }}€</th>
        </tr>
    </table>
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 87%; text-align: right;'>Remise : </th>
            <th style='width: 13%; text-align: right;'>- {{ invoice.remise }}€</th>
        </tr>
    </table>
      {% for refund in refunds %}
   <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 87%; text-align: right;'>Remboursement le {{refund.date|date("d-m-Y")}} </th>
            <th style='width: 13%; text-align: right;'>{{ refund.montant }}€</th>
            {% set refundTotal = refundTotal + refund.montant %}
        </tr>
    </table>
   {% endfor %}
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 87%; text-align: right;'>Total réglé : </th>
            <th style='width: 13%; text-align: right;'>{{ invoice.Price - refundTotal }}€</th>
        </tr>
    </table>
    <table cellspacing='0' style='width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;'>
        <tr>
            <th style='width: 87%; text-align: right;'>{% if tva == 0 %}TVA non applicable - article 293 B du CGI {% else %}Dont TVA {{tva}}% {% endif %}</th>
            <th style='width: 13%; text-align: right;'>{{ (invoice.Price - refundTotal) * (tva/100) }}€</th>
        </tr>
    </table>

</div>

    </body>
</html>
