{% extends 'base.html.twig' %}


{% block body %}
<section id="Follow_us"></section>



<section id="Header"></section>
<div class="container header">
      <div class="row">
        <div class="col-sm-5 col-xs-3"></div>
        <div class="col-sm-2 col-xs-6 logo_div"><img src="{{ asset('images/logo_test.jpg')}}" alt="Noeud_papillion_agathevousgate" style="width:100%;height:auto; min-width:150px;"></div>
        <div class="col-sm-5 col-xs-3"></div>
      </div>


      <div class="row">
        <div class="col-sm-12 no_padding">

      <section id="slider-homepage">
        <div class="container no_padding">
            <div id="carousel-example-generic" class="carousel slide index-carousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                {% set ta_go_cest_ma_groupie = 0 %}
                {% for collection in first3collection %}
                  {% if ta_go_cest_ma_groupie == 0 %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ta_go_cest_ma_groupie}}" class="active"></li>

                  {% else %}
                  <li data-target="#carousel-example-generic" data-slide-to="{{ta_go_cest_ma_groupie}}"></li>
                    {% set ta_go_cest_ma_groupie = ta_go_cest_ma_groupie+1 %}
                    {% endif %}
                    {% endfor %}
                </ol>
                <!-- Wrapper for slides -->

                <div class="carousel-inner" role="listbox">
                {% for collection in first3collection %}
                    <div class="item {% if loop.index is divisibleby(2) %}active{% endif %}">
                        <a href="{{ path('listeproduit',{'id' : collection.id} ) }}">
                            <img src="{{ asset('upload/image_collection/' ~ collection.imageName) }}" alt="slider">
                        </a>

                    </div>


                {% endfor %}

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </section>


        </div>
      </div>
      <div class="row text-center creer_top">
        <div class="col-sm-text-center12">
            <h1>UN NOEUD INNOVANT</h1>
        </div>
      </div>
      <div class="row text-center creer_bottom">
        <div class="col-sm-12">
            <b><p>Le concept de noeuds papillon Agathe Vous Gâte est innovant et</br> personnalisé. Créez vos propres noeuds pap' made in France et</br> Accrochez-les partout</p></b>
        </div>
      </div>

</div>



<section id="Cree_noeud"></section>
<div class="container customisation_noeud">
      <div class="row text-center">
        <div class="col-sm-4 col-xs-4"></div>
        <div class="col-sm-4 col-xs-4"><img src="{{ asset('images/noeud_personnalisation.svg') }}" alt="logo noeud" style="width: 100%; height: auto; min-width: 4em; max-width:13em;"></div>
        <div class="col-sm-4 col-xs-4"></div>
      </div>
      <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 col-xs-12"><h2>CRÉER VOTRE PROPRE NOEUD</h2></div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row text-center creer_bottom">
        <div class="col-sm-4 col-xs-1"></div>
        <div class="col-sm-4 col-xs-10"><a href="{{ path('personnalisation', {'idCollection': 16})}}" class="btn btn-primary btn-lg active btn_agathe" role="button">OK, LET'S GO !</a></div>
        <div class="col-sm-4 col-xs-1"></div>
      </div>
</div>

<!-- Generer via base de donnée ? Responsifs ? juste des exemples ?-->
<section id="nos_collections"></section>

<div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-xs-12"><h1 style="font-size: 1.5em;">RETROUVEZ TOUTE NOTRE COLLECTION <img src="{{ asset('img/arrow_collection.png')}}"
</h1></div>
      </div>
      {% for collection in first3collection %}
      {% if loop.index is divisibleby(2) %}
      <a href="{{ path('listeproduit',{'id' : collection.id} ) }}">

      <div class="row">
        <div class="col-sm-6 nos_collections hidden_small" style="background-color:#FFF;color:#252259; font-size:2em; height:376px ;font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;">

        <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%; max-height: 40%;height:auto; margin-top:50px;margin-bottom:50px;">
        <div>
          {{ collection.title }}
        </div>
        <div>
            COLLECTION SUMMER 2016
        </div>

        </div>
        <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre) }}" alt="londre noeud" style="width: 100%; height: auto;"></div>
      </div>
      </a>

{% elseif loop.index is divisibleby(3) %}
<a href="{{ path('listeproduit',{'id' : collection.id} ) }}">

<div class="row">

  <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre ) }}" alt="londre_noeud" style="width: 100%; height: auto;"></div>

  <div class="col-sm-6 nos_collections hidden_small" style="background-color:#A94141; color:#FFF; font-size:2em; height:376px ;font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;">

  <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%;  max-height: 40% ; height: auto; margin-top:50px;margin-bottom:50px;">
  <div>
    {{ collection.title }}
  </div>
  <div>
      COLLECTION SUMMER 2016
  </div>

  </div>

</div>
</a>

{% else %}
<a href="{{ path('listeproduit',{'id' : collection.id} ) }}">

<div class="row">

  <div class="col-sm-6 nos_collections"><img src="{{ asset('upload/image_collection/' ~ collection.imageNameCarre ) }}" alt="londre_noeud" style="width: 100%; height: auto;"></div>

  <div class="col-sm-6 nos_collections hidden_small" style="background-color:#eae9e9; color:#252259;font-size:2em; height:376px ;font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;">

  <img src="{{ asset('upload/image_collection/' ~ collection.imageNameIcone ) }}" alt="londre_noeud" style="width: 40%; max-height: 40%; height: auto; margin-top:50px;margin-bottom:50px;">
  <div>
    {{ collection.title }}
  </div>
  <div>
      COLLECTION SUMMER 2016
  </div>

  </div>

</div>
</a>
{% endif %}

      {% endfor  %}

</div>

<section id="produits_populaire"></section>
<div class="container-fluid produits_populaires">
  <div class="container">
      <div class="row text-center">
        <div class="col-sm-3 col-xs-1"></div>
        <div class="col-sm-6 col-xs-10"><h1>PRODUITS POPULAIRES</h1></div>
        <div class="col-sm-3 col-xs-1"></div>
      </div>
      <div class="row text-center">
        <div class="col-sm-4 col-xs-4 produits_populaires_image_left"><img src="{{ asset('images/image_beta.jpg') }}" alt="logo noeud" style="width: 100%; height: auto;"></div>
        <div class="col-sm-4 col-xs-4 produits_populaires_image"><img src="{{ asset('images/image_beta.jpg') }}" alt="logo noeud" style="width: 100%; height: auto;"></div>
        <div class="col-sm-4 col-xs-4 produits_populaires_image_right"><img src="{{ asset('images/image_beta.jpg') }}" alt="logo noeud" style="width: 100%; height: auto;"></div>
      </div>
    </div>
</div>

<section id="made_in_france"></section>
<div class="container made_in_france">
      <div class="row">
        <div class="col-sm-4 col-xs-2"></div>
        <div class="col-sm-4 col-xs-8"><img src="{{ asset('images/madeinfrance.jpg') }}" alt="madeinfrance" style="width: 100%; height: auto; min-width: 4em;"></div>
        <div class="col-sm-4 col-xs-2"></div>
      </div>
      <div class="row text-center">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-10 col-xs-10"><p>Les noeuds-papillon Agathe Vous Gâte sont innovants, tendances et personnalisés</p></div>
        <div class="col-sm-1 col-xs-1"></div>
      </div>
      <div class="row text-center">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-10 col-xs-10"><p>Une invention pratique et facile, fabriquée en France, pour habiller toute la famille !</p></div>
        <div class="col-sm-1 col-xs-1"></div>
      </div>
      <div class="row text-center">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-10 col-xs-10"><p>Hommes, femmes et enfants composent et accrochent leur noeud comme bon leur semble.</p></div>
        <div class="col-sm-1 col-xs-1"></div>
      </div>

</div>

<section id="Partagez_vos_creations"></section>
<div class="container-fluid share">
  <div class="container">
    <div class="row">



      <div class="col-sm-6 no_padding share_background">
        <!--<img src="{{ asset('img/share.jpg') }}" style="visibility: hidden;" />-->
        <div class="no_padding">
            <div id="carousel-example-generic" class="carousel slide index-carousel" data-ride="carousel">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="londres.php">
                            <img src="{{ asset('img/share.jpg') }}" alt="slider">
                        </a>
                        <div class="carousel-caption">
                            <a href="{{ path('agatheque') }}" class="btn btn-primary btn-lg active btn_agathe" role="button">Agathèque</a>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>

      </div>
      <div class="col-sm-6 no_padding text-center" style="padding-left:30px;">
        <h1>PARTAGEZ VOS CREATIONS !</h1></br>
        <p>Paras lacinia nisi in egestas egestas. Fusce ullamcorper, nisi sed dignissim pretium, velit justo consectetur magna, vitae finibus dui nunc in tellus. Aenean risus odio, scelerisque ac aliquet eget, iaculis et neque. Morbi consectetur nec nibh at tristique. Pellentesque iaculis, ipsum sit amet tristique convallis, augue</br>Mauris sodales sed turpis non feugiat. In pellentesque elit felis, quis sodales eros accumsan quis. Phasellus condimentum id eros id pretium. Nunc imperdiet ac sapien auctor congue. Nulla non dictum diam.</p></br>
        <h1>OU ENVOYEZ LES NOUS</h1></br>

        {{ form_start(form, {'attr': { 'class': '' } }) }}







        <form class="form-horizontal" role="form">
        <div class="form-group">
        <div class="col-sm-12" style="margin-bottom:20px;">

            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
            </div>

        </div>
        <div class="form-group">
        <div class="col-sm-12" style="margin-bottom:20px;">

            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control',  'placeholder': 'Nom'}}) }}
            </div>

        </div>
        <div class="form-group">
  <div class="col-sm-12" style="margin-bottom:20px;">
            {{ form_errors(form.commentaire) }}
            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control',  'placeholder': 'Un commentaire ?'}}) }}
            </div>

        </div>

                <div class="form-group">
                  <div class="col-sm-12">
<div class="row">
                    <div class="col-sm-6  file">
                    {{ form_errors(form.photoFile) }}
                    {{ form_widget(form.photoFile, {'attr': {'class': 'btn btn-primary btn-lg active btn_sendimg'}}) }}
                    </div>
                    <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg active btn_send">Envoyer</button>
                    </div>
                    </div>

                  </div>
                </div>
                {{ form_end(form) }}



      </div>



    </div>
  </div>
</div>
<style>

/*
		Demo CSS code
	*/

	.file {
	  position: relative;
	}
	.file label {
	  color: #fff;
    cursor:pointer;
    font-weight:normal;

	}
  .file label:hover {
	  color: #3B3B3B!important;

	}
	.file input {
    cursor:pointer;
	  position: absolute;
	  display: inline-block;
	  left: 0;
	  top: 0;
	  opacity: 0.01;
	  cursor: pointer;
	}


	</style>


  






{% endblock %}
