{% extends 'base.html.twig' %}
{% block body %}
<body >
   <!-- Message d'accueil -->
   <section id="slider-homepage">
      <div class="container" style="margin-bottom:40px">
      <div class="row text-center">
         <style>
            .product{
            border:0;
            background-color:rgb(169, 65, 65);
            overflow:hidden;
            padding-left:0;
            padding-right:0;
            height:340px;
            }
            .product_img{
            position:relative;
            top:0px;
            width:100%;
            transition: all 0.3s ease-out;
            z-index: 2;
            }
            .product:hover > .product_img{
            position:relative;
            top:-8rem;
            z-index: 2;
            }
            .product:hover > .caption{
            position:relative;
            top:-10.5rem;
            z-index: 1;
            display:block;
            visibility: visible;
              opacity: 1;
            }
            .caption{
            visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
            }
            .title_collec{
            display : "";
            }
            @media (max-width: 765px) {
            .title_collec{
            display : none;
            }
            }
         </style>
         {% set i=0 %}
         {% for listeProduit in listeProduit %}
         {% if listeProduit.product.name == 'Noeud' %}
         {% if i == 0 %}
         <div class="col-md-12 col-sm-12 hero-feature" >
            <div class='row'>
               <div class="col-md-4 col-sm-4 col-xs-4 text-left">
<div class="title_collec">	<a href="{{ path('collections') }}">

    <h1 class="heading" style="    font-weight: normal;color:#3B3B3B; font-size: 1.6rem;font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter;">  <i class="fa fa-angle-left fa-2" aria-hidden="true"></i> Collections</h1>
</a></div>

               </div>
               <div class="col-md-4 col-sm-4 col-xs-4">
                  <div><h1 class="heading">	{{ listeProduit.collection.title }}</h1></div>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-4">
                  <!--{% if collectionPlus %}
                  <a href="{{ path('listeproduit', {'id' : collectionPlus.id })}}">
                     <div style="font-size: 1.75em;  color:#242258; font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter;position:absolute; right:5px">	<span class="title_collec">{{ collectionPlus.title }} </span><i class="fa fa-angle-right fa-2" aria-hidden="true"></i></div>
                  </a>
                  {% endif %}-->
               </div>
            </div>
            <div class="col-md-12 col-sm-12 hero-feature" style="padding-left:0;padding-right:0; ">
               <img  style="width:100%;" src="{{ asset('/upload/image_collection/' ~ listeProduit.collection.imageName ) }}" alt="">
            </div>
            <div class="col-md-12 col-sm-12 hero-feature" style="padding-left:0;padding-right:0; padding-top:40px; padding-bottom:40px;background-color:#E0EAF1;  ">
               <div style="font-size: 1.25em; font-weight: bold; color:#242258; font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter;">	{{ listeProduit.collection.description }}</div>
            </div>
            {% endif %}
            {% set i= i+1 %}
            <div class="col-md-6 col-sm-6 product">
            <div id="whitebackground_{{listeProduit.id}}" style="position:absolute; top:0px; left:0px; background-color:white; height:55%; width:100%">
              </div>
               <div class="product_img" style="height:100%">
                  <img id="img_{{listeProduit.id}}" style="width:100%; max-height:auto;margin-top:0px;height:auto;min-width:100px;" src="{{ asset('/upload/image_produit_predefini/' ~ listeProduit.imageName ) }}" alt="">
                  <b>
                     <h2 id="text_{{listeProduit.id}}" style="color:white;background-color:rgb(169, 65, 65); ">{{ listeProduit.collection.title }} {{listeProduit.name }} - {{ listeProduit.collection.priceNoeud }}€</h2>
                  </b>
               </div>
               <div class="caption">
                  <div class="col-md-6 col-sm-6">
                     <p>
                        <a style="width:90%" href="{{ path('product', {'id':listeProduit.id, 'coffret':'false' })}}" class="btn btn-primary btn-lg active btn_collection">Voir le noeud</a>
                     </p>
                  </div>
                  <div class="col-md-6 col-sm-6">

                     <p>
                        <a style="width:90%" id="bouton_{{listeProduit.id}}" href="{{ path('product', {'id':listeProduit.id, 'coffret': 'true' })}}" class="btn btn-primary btn-lg active btn_collection">Voir le coffret</a>
                     </p>
                  </div>

                  <script>
                  {% for enfant in listeProduit.enfants %}
                    {% if  enfant.product.name == 'Coffret1' or enfant.product.name == 'Coffret2' %}
                      var url_{{listeProduit.id}} = '{{ asset('/upload/image_produit_predefini/' ~ enfant.imageName ) }}';
                    {% endif %}
                  {% endfor %}
                  $( "#bouton_{{listeProduit.id}}" ).hover(
                    function() {
                      $( '#img_{{listeProduit.id}}' ).attr("src", url_{{listeProduit.id}});  $( '#img_{{listeProduit.id}}' ).css('max-height' , '80%');$( '#img_{{listeProduit.id}}' ).css('width' , 'auto');$( '#img_{{listeProduit.id}}' ).css('margin-top' , '10%');$( '#text_{{listeProduit.id}}' ).css('margin-top' , '-10%');$( '#text_{{listeProduit.id}}' ).css('background-color' , 'white');$( '#img_{{listeProduit.id}}' ).css('margin-top' , '10%');$( '#whitebackground_{{listeProduit.id}}' ).css('height' , '72%');
                    }, function() {
                      $( '#img_{{listeProduit.id}}' ).attr("src", "{{ asset('/upload/image_produit_predefini/' ~ listeProduit.imageName ) }}");$( '#img_{{listeProduit.id}}' ).css('max-height' , 'auto');$( '#img_{{listeProduit.id}}' ).css('width' , '100%');$( '#img_{{listeProduit.id}}' ).css('margin-top' , '0');$( '#text_{{listeProduit.id}}' ).css('margin-top' , '20px');$( '#whitebackground_{{listeProduit.id}}' ).css('height' , '55%');$( '#text_{{listeProduit.id}}' ).css('background-color' , '');
                    }
                  );
                  $('#navigation ul li').css('display', 'inline-block');

                  </script>
               </div>
            </div>
            {% if i == 2 %}
            <div class="col-md-12 col-sm-12 hero-feature" style="padding-left:0;padding-right:0; margin-top:40px;margin-bottom:40px">
						<div class="customisation_noeud">
									<div class="row text-center">
										<div class="col-sm-4 col-xs-4"></div>
										<div class="col-sm-4 col-xs-4"><img src="{{ asset('/images/noeud_personnalisation.svg') }}" alt="logo noeud" style="width: 100%; height: auto; min-width: 4em; max-width:13em;"></div>
										<div class="col-sm-4 col-xs-4"></div>
									</div>
									<div class="row text-center">
										<div class="col-sm-3"></div>
										<div class="col-sm-6 col-xs-12"><h2>CRÉEZ VOTRE PROPRE NOEUD</h2></div>
										<div class="col-sm-3"></div>
									</div>
									<div class="row text-center creer_bottom">
										<div class="col-sm-4 col-xs-1"></div>
										<div class="col-sm-4 col-xs-10"><a href="{{ path('personnalisation', {'idCollection': listeProduit.collection.id })}}" class="btn btn-primary btn-lg active btn_agathe" role="button">OK, LET'S GO !</a></div>
										<div class="col-sm-4 col-xs-1"></div>
									</div>
						</div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </section>
   <section id="homepage-collections">
      <div class="container-fluid">
      </div>
   </section>


   {% endblock %}
