{% extends 'base.html.twig' %}
{% block body %}
<body>

   <section>
   <div class="container">
   <div class="row">
   <div class="col-lg-12 text-center">
      <h2 class="section-heading">Votre paiement</h2>
      <div class="row">
         <div class="col-lg-4 text-center">
            <div class="panel panel-info">
               <div class="panel-heading" style="position:relative;">
                  <h3 class="panel-title">Récapitulatif </h3>
               </div>
               <div class="panel-body">
                  {% set totalsum = null %}{% set numero_ligne = 0 %}
                  {% set remise = 0 %}
                  {% for listepanier in listePanier %}
                  {% if listepanier.product.name == 'Noeud' %}
                {% set totalsum = totalsum + listepanier.collection.priceNoeud * listepanier.quantity %}
                {% elseif listepanier.product.name == 'Coffret1' %}
                {% set totalsum = totalsum + listepanier.collection.priceCoffret1 * listepanier.quantity %}
                {% elseif listepanier.product.name == 'Coffret2' %}
                {% set totalsum = totalsum + (listepanier.collection.priceCoffret2 + listepanier.collection.priceCoffret1) * listepanier.quantity %}
                {% elseif listepanier.product.name == 'Pochette' %}
                {% set totalsum = totalsum + listepanier.collection.pricePochette * listepanier.quantity %}
                {% elseif listepanier.product.name == 'Boutons' %}
                {% set totalsum = totalsum + listepanier.collection.priceBouton * listepanier.quantity %}
                {% else %}
                {% set totalsum = totalsum + listepanier.product.price * listepanier.quantity %}
                {% endif %}
                  <h2>{{ listepanier.quantity}} {{ listepanier.product.name }} - {% if listepanier.product.name == 'Noeud' %}
                  {{ listepanier.collection.priceNoeud * listepanier.quantity }}
                  {% elseif listepanier.product.name == 'Coffret1' %}
                  {{ listepanier.collection.priceCoffret1 * listepanier.quantity }}
                  {% elseif listepanier.product.name == 'Coffret2' %}
                  {{ (listepanier.collection.priceCoffret2 + listepanier.collection.priceCoffret1) * listepanier.quantity }}
                  {% elseif listepanier.product.name == 'Pochette' %}
                  {{ listepanier.collection.pricePochette * listepanier.quantity }}
                  {% elseif listepanier.product.name == 'Boutons' %}
                  {{ listepanier.collection.priceBouton * listepanier.quantity }}
                  {% else %}
                  {{ listepanier.product.price * listepanier.quantity }}
                  {% endif %}€ </h2>
                  <p>Collection {{ listepanier.collection.title }}</p>
                  <p>
                     {% if listepanier.Color1 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color1.imageColorName ) }}" style="height:30px; margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color2 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color2.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color3 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color3.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color4 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color4.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color5 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color5.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color6 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color6.imageColorName ) }}" style="height:30px; margin-bottom:10px;width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color7 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color7.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color8 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color8.imageColorName ) }}" style="height:30px; margin-bottom:10px;width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color9 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color9.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color10 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color10.imageColorName ) }}" style="height:30px; margin-bottom:10px;width:30px; border-radius:10px">
                     {% endif %}
                  </p>
               {% endfor %}
               </div>

            </div>
        </div>
            {% if commande.atelierlivraison is null  %}
            <div class="col-lg-4 text-center">
               <div class="panel panel-info">
                  <div class="panel-heading" style="position:relative;">
                     <h3 class="panel-title">Adresse de livraison </h3>
                  </div>
                  <div class="panel-body">
                     {{ app.user.adress.adress}}<br>
                     {% if app.user.adress.adressMore %}
                     {{ app.user.adress.adressMore }}<br>
                     {% endif %}
                     {{ app.user.adress.zipcode}} {{ app.user.adress.city}}<br>
                  </div>
               </div>
            </div>
          {% else %}
          <div class="col-lg-4 text-center">
             <div class="panel panel-info">
                <div class="panel-heading" style="position:relative;">
                   <h3 class="panel-title">Point de collecte </h3>
                </div>
                <div class="panel-body">
                   {{ commande.atelierLivraison.name }}<br>
                   {{ commande.atelierLivraison.adresse1 }}<br>
          {% if commande.atelierLivraison.adresse2 %}
                   {{ commande.atelierLivraison.adresse2 }}<br>
                   {% endif %}
                   {{ commande.atelierLivraison.zipcode }} {{ commande.atelierLivraison.city }}<br>
                    Contact : {{ commande.atelierLivraison.email }} ou {{ commande.atelierLivraison.phone }}<br>

                </div>
             </div>
          </div>
          {% endif %}
            <div class="col-lg-4 text-center">
               <div class="panel panel-info">
                  <div class="panel-heading" style="position:relative;">
                     <h3 class="panel-title">Paiement </h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-xs-6 " style="">
                           <p class="text-left"></p>
                           <p class="text-left">Sous-total</p>

                           <p class="text-left"> {% if nbcommande == 0 and app.user.parrainEmail is not null %}Parrainage{% else %}Remise{% endif %}</p>
<p class="text-left">Livraison</p>
                           <p class="text-left">Total</p>
                        </div>
                        <div class="col-xs-6" >
                           <p></p>
                           <p class="text-right"> {{ totalsum }} €</p>
                           {% set livraison = 0 %}
                           {% set codePromo = app.session.get('codePromo') %}
                               {% if codePromo %}
                                   {% if codePromo.minimumCommande <= totalsum %}
                                       {% if codePromo.genre == 'pourcentage' %}

                                           {% set remise = totalsum * codePromo.montant / 100 %}

                                       {% elseif codePromo.genre  == 'remise' %}
                                           {% set remise = codePromo.montant %}
                                       {% elseif codePromo.genre  == 'fdp' %}
                                           {% set livraison = 0 %}
                                      {% elseif codePromo.genre  == 'fdp-remise' %}

                                          {% set livraison = 0 %}
                                            {% set remise = codePromo.montant %}
                                       {% endif %}
                                       <p class="text-right" ><strong> - {{ remise|round(2, 'floor') }} €</strong></p>
                                       {% set totalsum = totalsum - remise|round(2, 'floor') %}

                                   {% else %}
                                   <p class="text-right" >0 €</p>
                                 {% endif %}
{% elseif nbcommande == 0 and app.user.parrainEmail is not null %}
{% set remise = totalsum * (parrainage.montant / 100) %}
<p class="text-right" ><strong > - {{ remise|round(2, 'floor') }} €</strong></p>
{% set totalsum = totalsum - remise|round(2, 'floor') %}
                                {% else %}

                                <p class="text-right">0 € </p>

                               {% endif %}



                               {% if totalsum + remise|round(2, 'floor') > minLivraison.montant or commande.atelierLivraison is not null%}

                                 {% set livraison = 0 %}
                               {% else %}
                                 {% set livraison = coutLivraison %}

                               {% endif %}

                               {% if codePromo %}

                                   {% if codePromo.minimumCommande <= totalsum + remise|round(2, 'floor')%}

                                     {% if codePromo.genre == 'fdp' %}

                                       {% set livraison = 0 %}
                                       {% elseif codePromo.genre  == 'fdp-remise' %}
                                           {% set livraison = 0 %}

                                           {% set remise = codePromo.montant %}


                                     {% endif %}

                                   {% endif %}


                               {% endif %}
                           <p class="text-right"><strong> + {{ livraison }} €</strong></p>
                           <p class="text-right"><strong>  {{ totalsum + livraison }} €</strong></p>
                        </div>
                     </div>

                     <div style="margin-bottom:20px">
                        <i class="fa fa-cc-mastercard fa-4" aria-hidden="true" style="font-size:50px"></i>
                        <i class="fa fa-cc-visa fa-4" aria-hidden="true" style="font-size:50px"></i>
                        <i class="fa fa-cc-amex fa-4" aria-hidden="true" style="font-size:50px"></i>
                     </div>
                     <form action="{{ path('charge')}}" method="POST">
                        <script
                           src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                           data-key="pk_live_miMlmwMmksv9SJdNrsyEVcGV"
                           data-amount="{{ prixtotal }}"
                           data-name="Agathe Vous Gâte"
                           data-description=""
                           data-image="{{ asset('/img/logo-principal-menu.png') }}"
                           data-locale="fr"
                           data-zip-code="false"
                           data-currency="eur"
data-allow-remember-me="false"
data-label="Payer en carte bancaire"></script>
                     </form>


                     <div style="margin-bottom:5px; font-size:10px;">
                        *Paiement sécurisé par Stripe, pour en savoir plus, cliquez <a href="{{ path('faq')}}">ici</a><br><br>
                     </div>
                    <div style="margin-bottom:5px; font-size:10px;"> OU <br>
                      <a href="{{ path('chargepaypal') }}"><button type="submit" class="btn btn-primary btn-lg active btn_send" >Payer avec Paypal</button></a> 
                     </div>
                  </div>
               </div>
            </div>
      </div>
</div>
   </div>
</div>
<div id="div_attente" style="display:none; position:absolute; top:0; left:0; height:100%; width:100%; z-index:10; background-color:rgba(0,0,0,0.5)">
<img src="{{ asset('images/ball-triangle.svg')}}" style="position:absolute; top:40%; left:40%; height:20%; width:20%"/><br><p style="position:absolute; top:30%; left:45%;color:white;">Paiement en cours...</p>
</div>

</body>
<script>
$(".stripe-button-el").click(function() {
setTimeout("document.getElementById('div_attente').style.display = 'block'", 2000)

});



</script>
{% endblock %}
