{% extends 'base.html.twig' %}
{% block body %}
<body>

   <section>
   <div class="container">
   <div class="row">
   <div class="col-lg-12 text-center">
      <h2 class="section-heading">Votre paiement</h2>
      <div class="row">
         <div class="col-lg-4 text-center">
            <div class="panel panel-info">
               <div class="panel-heading" style="position:relative;">
                  <h3 class="panel-title">Récapitulatif </h3>
               </div>
               <div class="panel-body">
               {% set totalsum = null %}{% set numero_ligne = 0 %}
               {% set remisePro = 0 %}
               {% set remise= 0 %}

              {% set total_taxes = 0 %}
               {% set total_reduction = 0 %}
               {% for listepanier in listePanier %}
                      {% set totalsum = totalsum + listepanier.priceTemp * listepanier.quantity %}
                      {% set remisePro = remisePro + listepanier.priceRemise * listepanier.quantity %}
                  <h2>{{ listepanier.quantity}} {{ listepanier.product.name }} -


                  {{ (listepanier.priceTemp * listepanier.quantity)|round(2,'common') }} €
                  </h2>
                  <p> {% if listepanier.collection %}Collection {{ listepanier.collection.title }}{% endif %}</p>
                  <p>
                     {% if listepanier.Color1 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color1.imageColorName ) }}" style="height:30px; margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color2 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color2.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color3 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color3.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color4 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color4.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color5 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color5.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color6 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color6.imageColorName ) }}" style="height:30px; margin-bottom:10px;width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color7 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color7.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color8 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color8.imageColorName ) }}" style="height:30px; margin-bottom:10px;width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color9 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color9.imageColorName ) }}" style="height:30px;margin-bottom:10px; width:30px; border-radius:10px">
                     {% endif %}
                     {% if listepanier.Color10 %}
                     <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color10.imageColorName ) }}" style="height:30px; margin-bottom:10px;width:30px; border-radius:10px">
                     {% endif %}
                  </p>
               {% endfor %}
               </div>

            </div>
        </div>
            {% if commande.atelierlivraison is null  %}
            <div class="col-lg-4 text-center">
               <div class="panel panel-info">
                  <div class="panel-heading" style="position:relative;">
                     <h3 class="panel-title">Adresse de livraison </h3>
                  </div>
                  <div class="panel-body">
                     {{ app.user.adress.adress}}<br>
                     {% if app.user.adress.adressMore %}
                     {{ app.user.adress.adressMore }}<br>
                     {% endif %}
                     {{ app.user.adress.zipcode}} {{ app.user.adress.city}}<br>
                  </div>
               </div>
            </div>
          {% else %}
          <div class="col-lg-4 text-center">
             <div class="panel panel-info">
                <div class="panel-heading" style="position:relative;">
                   <h3 class="panel-title">Point de collecte </h3>
                </div>
                <div class="panel-body">
                   {{ commande.atelierLivraison.name }}<br>
                   {{ commande.atelierLivraison.adresse1 }}<br>
          {% if commande.atelierLivraison.adresse2 %}
                   {{ commande.atelierLivraison.adresse2 }}<br>
                   {% endif %}
                   {{ commande.atelierLivraison.zipcode }} {{ commande.atelierLivraison.city }}<br>
                    Contact : {{ commande.atelierLivraison.email }} ou {{ commande.atelierLivraison.phone }}<br>

                </div>
             </div>
          </div>
          {% endif %}
            <div class="col-lg-4 text-center">
               <div class="panel panel-info">
                  <div class="panel-heading" style="position:relative;">
                     <h3 class="panel-title">Paiement </h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-xs-6 " style="">
                           <p class="text-left"></p>
                           <p class="text-left">Sous-total {% if app.user and app.user.isPro == 2 %}HT{% endif %}</p>
                            {% set codePromo = app.session.get('codePromo') %}
                            {% set livraison = 0 %}
                            {% set pre_totalsum = totalsum %}
                           {% set codePromo = app.session.get('codePromo') %}
                           {% if autoVoucher %}
                                {% if autoVoucher.genre == 'pourcentage' %}
                                    {% set remise = totalsum * autoVoucher.montant / 100 %}
                                {% elseif autoVoucher.genre  == 'remise' %}
                                    {% set remise = autoVoucher.montant %}
                                {% elseif autoVoucher.genre  == 'fdp' %}
                                    {% set livraison = 0 %}
                                {% elseif autoVoucher.genre  == 'fdp-remise' %}
                                    {% set livraison = 0 %}
                                    {% set remise = autoVoucher.montant %}
                                {% endif %}
                                
                                {% set totalsum = totalsum - remise|round(2, 'floor') %}
                            {% elseif codePromo %}
                                {% if codePromo.minimumCommande <= totalsum %}
                                    {% if codePromo.genre == 'pourcentage' %}
                                        {% set remise = totalsum * codePromo.montant / 100 %}
                                    {% elseif codePromo.genre  == 'remise' %}
                                        {% set remise = codePromo.montant %}
                                    {% elseif codePromo.genre  == 'fdp' %}
                                        {% set livraison = 0 %}
                                    {% elseif codePromo.genre  == 'fdp-remise' %}
                                        {% set livraison = 0 %}
                                        {% set remise = codePromo.montant %}
                                    {% endif %}
                                    
                                    {% set totalsum = totalsum - remise|round(2, 'floor') %}
                                
                                {% endif %}
                            {% elseif nbcommande == 0 and app.user.parrainEmail is not null %}
                                {% set remise = totalsum * (parrainage.montant / 100) %}
                                
                                {% set totalsum = totalsum - remise|round(2, 'floor') %}
                            {% endif %}

                           <p class="text-left"> {% if nbcommande == 0 and app.user.parrainEmail is not null %}Parrainage{% elseif remise != 0  %}Remise{% endif %}</p>
<p class="text-left">Livraison</p>
{% if app.user and app.user.isPro == 2 %}<p class="text-left">TVA {% if tva == 0 %}<br><p class="text-left"><a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006069577&idArticle=LEGIARTI000021645089" style="text-decoration:none; font-size:8px;">non applicable, art 293 B du CGI</a></p>{% endif %}</p>{% endif %}

                           <p class="text-left">Total TTC</p>

                        </div>
                        <div class="col-xs-6" >
                           <p></p>
                           <p class="text-right"> {{ pre_totalsum|round(2, 'common')}} €</p>
                            {% if remise !=0 %}<p class="text-right" > - {{ remise|round(2, 'floor') }} €</p>{% endif %}

                           
                                


                            {% if totalsum + remise|round(2, 'floor') > minLivraison.montant or commande.atelierLivraison is not null%}

                                 {% set livraison = 0 %}
                               {% else %}
                                 {% set livraison = commande.transportMethod.price %}

                               {% endif %}

                               {% if codePromo %}

                                   {% if codePromo.minimumCommande <= totalsum + remise|round(2, 'floor')%}

                                     {% if codePromo.genre == 'fdp' %}

                                       {% set livraison = 0 %}
                                       {% elseif codePromo.genre  == 'fdp-remise' %}
                                           {% set livraison = 0 %}

                                           {% set remise = codePromo.montant %}


                                     {% endif %}

                                   {% endif %}


                               {% endif %}

                           <p class="text-right"> + {% if app.user and app.user.isPro == 2 %}{{ (livraison / (1+tva_delivery/100))|round(2, 'common') }}{% else %}{{ livraison }}{% endif %} €</p>
                         
                           {% if app.user and app.user.isPro == 2 %}
                           <p class="text-right"> + {{ ((totalsum  * (1+tva/100) - totalsum) + livraison - (livraison / (1+tva_delivery/100)))|round(2, 'common') }}€ </p>

                           {% endif %}
                                                      {% if tva == 0 %}<p class="text-right"> <br></p>{% endif %}

                          {% if app.user and app.user.isPro == 2 %} <p class="text-right"><strong>  {{ ((totalsum * (1+tva/100) + livraison))|round(2, 'common') }} €</strong></p>{% else %}<p class="text-right"><strong>  {{ ((totalsum + livraison))|round(2, 'common') }} €</strong></p> {% endif %}
                        
                        </div>
                     </div>

                     <div style="margin-bottom:20px">
                        <i class="fa fa-cc-mastercard fa-4" aria-hidden="true" style="font-size:50px"></i>
                        <i class="fa fa-cc-visa fa-4" aria-hidden="true" style="font-size:50px"></i>
                        <i class="fa fa-cc-amex fa-4" aria-hidden="true" style="font-size:50px"></i>
                     </div>
                     <form action="{{ path('charge')}}" method="POST">
                        <script
                           src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                           data-key="{{stripe_public_key}}"
                           data-amount="{{ prixtotal }}"
                           data-name="Agathe Vous Gâte"
                           data-description=""
                           data-image="{{ asset('/img/logo-principal-menu.png') }}"
                           data-locale="fr"
                           data-zip-code="false"
                           data-currency="eur"
data-allow-remember-me="false"
data-label="Payer en carte bancaire"></script>
                     </form>


                     <div style="margin-bottom:5px; font-size:10px;">
                        *Paiement sécurisé par Stripe, pour en savoir plus, cliquez <a href="{{ path('faq')}}">ici</a><br><br>
                     </div>
                   {#<div style="margin-bottom:5px; font-size:10px;"> OU <br>
                      <a href="{{ path('chargepaypal') }}"><button type="submit" class="btn btn-primary btn-lg active btn_send" ><i class="fa fa-paypal" aria-hidden="true"></i> Payer avec Paypal </button></a>
                    </div> #}
                    {% if app.user.isPro == 2 and app.user.company.isMonthly == true %}
                    <div style="margin-bottom:5px; font-size:10px;"> OU <br>
                      <a href="{{ path('addtopayout') }}"><button type="submit" class="btn btn-primary btn-lg active btn_sendimg" style="padding-left:15px; padding-right:15px"> Prélèvement fin de mois </button></a>
                    </div>
                    {% endif %}
                  </div>
               </div>
            </div>
      </div>
</div>
   </div>
</div>
<div id="div_attente" style="display:none; position:absolute; top:0; left:0; height:100%; width:100%; z-index:10; background-color:rgba(0,0,0,0.5)">
<img src="{{ asset('images/ball-triangle.svg')}}" style="position:absolute; top:40%; left:40%; height:20%; width:20%"/><br><p style="position:absolute; top:30%; left:45%;color:white;">Paiement en cours...</p>
</div>

</body>




{% endblock %}
