{% extends 'base.html.twig' %}


{% block body %}

<body>



 <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Votre panier {% if not listePanier %} est vide {% endif %}</h2>



                    <hr class="primary"><br />
                </div>
            </div>
        </div>
        {% if listePanier %}



        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                        <div class="col-md-9" >
                                {% set totalsum = null %}{% set numero_ligne = 0 %}
                                  {% set remise = 0 %}
                                    {% for listepanier in listePanier %}
                                  {% set totalsum = totalsum + listepanier.product.price * listepanier.quantity %}
                             <div class="col-sm-12 col-md-12" >

                            <div class="col-md-3 hidesmall" style="max-height:150px">
                                <div class="noeud_position" style="max-height:150px" >
                                {% if listepanier.product.name == 'Noeud' %}
                                <div id="noeuddevant" class="noeud_devant" style="margin-top:25px;max-height:100px;background:url({{ asset('/upload/color/noeud1/' ~ listepanier.Color1.imagecolorNoeud1Name)}});"></div>
                                <div id="noeudderriere" class="noeud_derriere" style="margin-top:25px;max-height:100px;background:url({{ asset('/upload/color/noeud2/' ~ listepanier.Color2.imagecolorNoeud2Name)}});"></div>
                                <div id="noeudpetit" class="noeud_petit" style="margin-top:25px;max-height:100px; background:url({{ asset('/upload/color/noeud3/'~ listepanier.Color3.imagecolorNoeud3Name)}});"></div>
{% elseif listepanier.product.name == 'Coffret1' %}

        <div id="coffret_big_1" class="coffret_big_1" style="margin-top:25px;max-height:100px;background:url({{ asset('/upload/color/tissu/grand/' ~ listepanier.Color1.tissuColorName )}});"></div>



{% elseif listepanier.product.name == 'Coffret2' %}

        <div id="coffret_big_1" class="coffret_big_1" style="margin-top:25px;max-height:100px;background:url({{ asset('/upload/color/tissu/grand/' ~ listepanier.Color1.tissuColorName)}});"></div>
        <div id="coffret_big_2" class="coffret_big_2" style="margin-top:25px;max-height:100px;background:url({{ asset('/upload/color/tissu/grand/' ~ listepanier.Color2.tissuColorName)}});"></div>




{% elseif listepanier.product.name == 'Pochette' %}
<div id="coffret_big_2" class="coffret_big_2" style="margin-top:-25px;max-height:100px;background:url({{ asset('/upload/color/pochette/'~ listepanier.Color1.couleurPochetteName )}});"></div>

{% elseif listepanier.product.name == 'Boutons' %}
<div id="coffret_big_2" class="coffret_big_2" style="margin-top:-25px;max-height:100px; background-size:contain;  background:url({{ asset('/upload/color/boutons/' ~ listepanier.Color1.couleurBoutonsName)}}) no-repeat;"></div>


{% endif %}
    </div>


                            </div>
                            <div class="col-md-8" class="objectpanier" style="">
                                <div style="height:200px; width:100%; position:relative">
                                    <h2>{{ listepanier.size }} {{ listepanier.product.name }} {% if listepanier.accessoire %}{{ listepanier.accessoire.name }}{% endif %} - {{ listepanier.product.price }}€ </h2>
<div class="row">
<div class="col-md-4" style="">

                                    <p>Collection {% if listepanier.collection %}{{ listepanier.collection.title }}{% endif %}</p>
                                    <p>
                                        {% if listepanier.Color1 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color1.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color2 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color2.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color3 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color3.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color4 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color4.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color5 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color5.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color6 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color6.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color7 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color7.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color8 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color8.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color9 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color9.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                        {% if listepanier.Color10 %}
                                        <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color10.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                        {% endif %}
                                    </p>
</div>
<div class="col-md-4" style="position:relative; left:10px; top:-15px">
                                    <p>
                                    {% if listepanier.id %}

                                        <a href="{{ path('plusproduct',{'id':listepanier.id} ) }}">
                                            <div style="position:relative; top:20px; left:35px">
                                                <i class="fa fa-plus fa-1" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                        <div>
                                        <input style="width:50px" type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanier.quantity }}" disabled>
                                        </div>
                                        <a href="{{ path('minusproduct',{'id':listepanier.id} ) }}">
                                            <div>
                                                <i style="position:relative; bottom:18px; left:35px" class="fa fa-minus fa-1" aria-hidden="true">
                                                </i>
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('plusproduct',{'id':numero_ligne } ) }}">
                                            <div style="position:relative; top:20px; left:35px">
                                                <i class="fa fa-plus fa-1" aria-hidden="true">
                                                </i>
                                            </div>
                                        </a>
                                        <div>
                                            <input style="width:50px" type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanier.quantity }}" disabled>
                                        </div>
                                        <a href="{{ path('minusproduct',{'id':numero_ligne } ) }}">
                                            <div>
                                                <i style="position:relative; bottom:18px; left:35px" class="fa fa-minus fa-1" aria-hidden="true">
                                                </i>
                                            </div>
                                        </a>
                                          {% endif %}
                                    </p>
</div>
<div class="col-md-4" style="">



                                </div>
              </div>              </div>
</div>
                            <div class="col-md-1 delete_icon" >
                            <p >

                            {% if listepanier.id %}
                                <a href="{{ path('deleteproduct',{'id':listepanier.id} ) }}">
                                    <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                </a>
                            {% else  %}

                                <a href="{{ path('deleteproduct_session',{'id':numero_ligne} ) }}">
                                    <i class="fa fa-trash-o" aria-hidden="true" ></i>

                                </a>
                            {% endif %}
                            </p>
                            </div>
                                                </div>

                        {% set numero_ligne = numero_ligne + 1 %}
                        {% endfor %}
                        </div>

                        <div class="col-md-3">
                        <div class="col-md-12"  style="border:1px solid #A94141">
                            <div class="row">
                            <div class="col-xs-7 " style="">
                                <p></p>
                                <p>Sous-total</p>

                                <p> {% if nbcommande == 0 and app.user.parrainEmail is not null %}Parrainage{% else %}Remise{% endif %}</p>
<p>Livraison</p>

                                <p>Total</p>
                            </div>
                            <div class="col-xs-5" >
                                <p></p>
                                <p class="text-right"><strong>  {{ totalsum }} €</strong></p>
                                {% set livraison = 0 %}
                                {% set codePromo = app.session.get('codePromo') %}
                                    {% if codePromo %}
                                        {% if codePromo.minimumCommande <= totalsum %}
                                            {% if codePromo.genre == 'pourcentage' %}

                                                {% set remise = totalsum * codePromo.montant / 100 %}

                                            {% elseif codePromo.genre  == 'remise' %}
                                                {% set remise = codePromo.montant %}
                                            {% elseif codePromo.genre  == 'fdp' %}
                                                {% set livraison = 0 %}
                                            {% endif %}
                                            <p class="text-right"><strong> - {{ remise|round(2, 'floor') }} €</strong></p>
                                            {% set totalsum = totalsum - remise|round(2, 'floor') %}

                                        {% else %}
                                        <p class="text-right">0 €</p>
                                      {% endif %}
     {% elseif nbcommande == 0 and app.user.parrainEmail is not null %}
  {% set remise = totalsum * (parrainage.montant / 100) %}
<p class="text-right"><strong > - {{ remise|round(2, 'floor') }} €</strong></p>
  {% set totalsum = totalsum - remise|round(2, 'floor') %}
                                     {% else %}

                                     <p class="text-right">0 € </p>

                                    {% endif %}



                                    {% if totalsum + remise|round(2, 'floor') > minLivraison.montant %}

                                      {% set livraison = 0 %}
                                    {% else %}
                                      {% set livraison = coutLivraison.montant %}

                                    {% endif %}

                                    {% if codePromo %}

                                        {% if codePromo.minimumCommande <= totalsum %}

                                          {% if codePromo.genre == 'fdp' %}

                                            {% set livraison = 0 %}


                                          {% endif %}

                                        {% endif %}


                                    {% endif %}
                                <p class="text-right"><strong> + {{ livraison }} €</strong></p>
                                <p class="text-right"> <strong>  {{ totalsum + livraison }} €</strong></p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="position:relative">
                            <div class="col-md-4" style="">
                                <input type="text" id="input_promo" placeholder="XXXXX" style=" height:31px; position:absolute; left:-15px ;" {% if nbcommande == 0 and app.user.parrainEmail is not null %} disabled {% endif %}>
                            </div>

                            <a onclick="verifCode()"> <div class="col-md-8" style="background-color:#A94141;cursor:pointer; height:31px;position:absolute;width:75%; right:0px; top:-1px; {% if nbcommande == 0 and app.user.parrainEmail is not null %} opacity:0.5; cursor:auto; {% endif %}">
                            <div class="col-md-12">
                             <center>  <p style="color:white; position:absolute; top:5px; "> Valider le coupon </p></center>
                             </div>

                            </div>
                            </a>                       </div>
                        <div class="col-md-12" style="position:relative; top:29px;height:30px; background-color:#242258" >
                            <div class="col-md-3">
                            </div>

                            <div class="col-md-6">
                                <a href="{{ path('choixlivraison') }}"><p style="color:white; position:absolute; top:5px; "><span class="glyphicon glyphicon-shopping-cart"></span> Payer </p></a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
<script>
function verifCode(){
var codepromo = document.getElementById("input_promo").value;
{% set codepromo_twig %}codepromo{% endset %}

var url = "{{ path('panier', { 'code': 'twig' }) }}";
url = url.replace("twig", codepromo);
window.location.replace(url);


}

</script>


{% endblock %}
