{% extends 'base.html.twig' %}
{% block body %}
<body>
   <section>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Votre panier {% if not listePanier %} est vide {% endif %}
               </h2>
               <hr class="primary">
               <br />
            </div>
         </div>
      </div>
      {% if listePanier %}
      <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-12">
            <div class="col-md-9" >
               {% set totalsum = null %}{% set numero_ligne = 0 %}
               {% set remise = 0 %}
               {% for listepanier in listePanier %}
                  {% set totalsum = totalsum + (listepanier.priceTemp * listepanier.quantity) %}
               {% endfor %}
               {% for key, listepanier in listePanierParent %}
               <div class="col-sm-12 col-md-12" >
                  <div class="row">
                     <div class="col-sm-12 col-md-12" >
                        {% set is_alone = 1 %}
                        {% set price_line = 0 %}
                                    {% for listepanierenfant in listePanierEnfant %}
                                        {% if (listepanierenfant.product.name == 'Coffret1') and (listepanierenfant.parent == listepanier) %}
                                            {% set is_alone = 0 %}
                                                {% set price_line = listepanier.priceTemp %}
                                        {% elseif (listepanierenfant.product.name == 'Coffret2') and (listepanierenfant.parent == listepanier) %}
                                            {% set is_alone = 0 %}
                                              {% set price_line = listepanier.priceTemp %}
                                        {% endif  %}
                                    {% endfor %}
                        <h2>
                           {% if is_alone == 1 %}
                              {% if listepanier.product.name == 'Noeud' %}
                                    Noeud {% if listepanier.collection %}{{ listepanier.collection.title }}{% endif %}
                                    {% set price_line =  listepanier.priceTemp %}
                              {% else %}
                                {{ listepanier.product.cartName }}
                              {% endif  %}

                           {% endif  %}

                                         {% for listepanierenfant in listePanierEnfant %}
                                            {% if (listepanierenfant.product.name == 'Coffret1') and (listepanierenfant.parent == listepanier) %}
                                                Coffret Trio {{ listepanier.collection.title }}
                                                {% set price_line = price_line + listepanierenfant.priceTemp %}
                                             {% elseif (listepanierenfant.product.name == 'Coffret2') and (listepanierenfant.parent == listepanier) %}
                                                Coffret Prestige {{ listepanier.collection.title }}
                                                {% set price_line = price_line + listepanierenfant.priceTemp %}
                                            {% endif %}
                                        {% endfor %}
                             {% for listepanierenfant in listePanierEnfant %}
                                   {% if (listepanierenfant.product.name == 'Pochette') and (listepanierenfant.parent == listepanier) %}
                                       - Pochette
                                       {% set price_line = price_line + listepanierenfant.priceTemp %}
                                  {% elseif (listepanierenfant.product.name == 'Boutons') and (listepanierenfant.parent == listepanier) %}
                                     - Boutons
                                     {% set price_line = price_line + listepanierenfant.priceTemp %}
                                  {% endif %}
                              {% endfor %}

                          {% if price_line != 0 %}
                            - {{ price_line|round(2, 'common') }}€
                          {%  endif %}
                        </h2>
                     </div>
                  </div>


                  {% if listepanier.product.name == "Noeud" %}
                  <div class="row">
                     <div class="col-md-6 hidesmall" style="max-height:200px">
                        <div class="noeud_position" style="max-height:200px" >
                               {% if listepanier.product.name == 'Noeud' %}
                                   <div id="noeuddevant" class="noeud_devant" style="max-height:200px;background:url({{ asset('/upload/color/noeud1/' ~ listepanier.Color1.imagecolorNoeud1Name)}});"></div>
                                   <div id="noeudderriere" class="noeud_derriere" style="max-height:200px;background:url({{ asset('/upload/color/noeud2/' ~ listepanier.Color2.imagecolorNoeud2Name)}});"></div>
                                   <div id="noeudpetit" class="noeud_petit" style="max-height:200px; background:url({{ asset('/upload/color/noeud3/'~ listepanier.Color3.imagecolorNoeud3Name)}});"></div>
                               {% endif %}
                               {% if listepanier.id %}
                                   <button style="position:absolute;cursor:pointer; bottom:10px;z-index:3; right:10px; background-color:white;font-size:20px" class="delete"  onclick="this.disabled=true; window.location = '{{ path("deleteproduct",{"id":listepanier.id} ) }}';" >
                                      <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                   </button>
                               {% else  %}
                                  <a style="position:absolute; bottom:10px; cursor:pointer; z-index:3; right:10px; background-color:white;font-size:20px" class="delete" href="{{ path('deleteproduct_session',{'id':key} ) }}" onclick="this.href='{{ path('deleteproduct_session',{'id':key} ) }}'; " >
                                    <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </a>
                           {% endif %}
                        </div>
                     </div>
                     {% for keyEnfant, listepanierenfant in listePanierEnfant %}

                           {% if (listepanierenfant.product.name == 'Coffret1') and (listepanierenfant.parent == listepanier) %}
                           <div class="col-md-2 hidesmall" style="max-height:200px">
                              <div class="noeud_position" style="max-height:200px" >
                                 <div id="coffret_big_1" class="coffret_big_1" style="margin-top:25px;max-height:200px;background:url({{ asset('/upload/color/tissu/grand/' ~ listepanierenfant.Color1.tissuColorName )}});"></div>
                                 {% if listepanier.id %}
                                 <button style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete"  onclick="this.disabled=true; window.location = '{{ path("deleteproduct",{"id":listepanierenfant.id} ) }}';" >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </button>
                                 {% else  %}
                                 <a style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete" href="{{ path('deleteproduct_session',{'id':keyEnfant} ) }}" onclick="this.href='{{ path('deleteproduct_session',{'id':keyEnfant} ) }}'; " >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </a>
                                 {% endif %}
                              </div>
                           </div>
                           {% elseif (listepanierenfant.product.name == 'Coffret2') and (listepanierenfant.parent == listepanier) %}
                           <div class="col-md-2 hidesmall" style="max-height:200px">
                              <div class="noeud_position" style="max-height:200px" >
                                 <div id="coffret_big_1" class="coffret_big_1" style="margin-top:50px;max-height:200px;background:url({{ asset('/upload/color/tissu/grand/' ~ listepanierenfant.Color1.tissuColorName)}});"></div>
                                 <div id="coffret_big_2" class="coffret_big_2" style="margin-top:50px;max-height:200px;background:url({{ asset('/upload/color/tissu/grand/' ~ listepanierenfant.Color2.tissuColorName)}});"></div>
                                 {% if listepanier.id %}
                                 <button style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete"  onclick="this.disabled=true; window.location = '{{ path("deleteproduct",{"id":listepanierenfant.id} ) }}';" >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </button>
                                 {% else  %}
                                 <a style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete" href="{{ path('deleteproduct_session',{'id':keyEnfant} ) }}" onclick="this.href='{{ path('deleteproduct_session',{'id':keyEnfant} ) }}'; " >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </a>
                                 {% endif %}
                              </div>
                           </div>
                           {% elseif (listepanierenfant.product.name == 'Pochette') and (listepanierenfant.parent == listepanier) %}
                           <div class="col-md-2 hidesmall" style="max-height:200px">
                              <div class="noeud_position" style="max-height:200px" >
                                 <div id="coffret_big_2" class="coffret_big_2" style="margin-top:-25px;max-height:200px;background:url({{ asset('/upload/color/pochette/'~ listepanierenfant.Color1.couleurPochetteName )}});"></div>
                                 {% if listepanier.id %}
                                 <button style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete"  onclick="this.disabled=true; window.location = '{{ path("deleteproduct",{"id":listepanierenfant.id} ) }}';" >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </button>
                                 {% else  %}
                                 <a style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete" href="{{ path('deleteproduct_session',{'id':keyEnfant} ) }}" onclick="this.href='{{ path('deleteproduct_session',{'id':keyEnfant} ) }}'; " >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </a>
                                 {% endif %}
                              </div>
                           </div>
                           {% elseif (listepanierenfant.product.name == 'Boutons') and (listepanierenfant.parent == listepanier) %}
                           <div class="col-md-2 hidesmall" style="max-height:200px">
                              <div class="noeud_position" style="max-height:200px" >
                                 <div id="coffret_big_2" class="coffret_big_2" style="margin-top:25px;max-height:200px; background-size:contain;  background:url({{ asset('/upload/color/boutons/' ~ listepanierenfant.Color1.couleurBoutonsName)}}) no-repeat;"></div>
                                 {% if listepanier.id %}
                                 <button style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete"  onclick="this.disabled=true; window.location = '{{ path("deleteproduct",{"id":listepanierenfant.id} ) }}';" >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </button>
                                 {% else  %}
                                 <a style="position:absolute; bottom:10px; right:10px; background-color:white;font-size:20px" class="delete" href="" onclick="this.href='{{ path('deleteproduct_session',{'id':keyEnfant} ) }}'; " >
                                 <i class="fa fa-trash-o" aria-hidden="true" ></i>
                                 </a>
                                 {% endif %}
                              </div>
                           </div>
                           {% endif %}
                        {% endfor %}
                        </div>
                        <div class="row" style="margin-top:20px; margin-bottom:20px">
                           <div class="col-sm-12 col-md-12 " onclick="open_details('details_{{loop.index}}'); change_text('afficher_{{loop.index}}')">
                              <p style="cursor:pointer" id="afficher_{{loop.index}}">Afficher les détails</p>
                           </div>
                        </div>
                        {% endif %}
                        <div class="row" id="details_{{ loop.index }}" {% if listepanier.product.name == "Noeud" %}style="display:none"{% else %}style="display:block"{% endif %}>
                           <div class="col-sm-12 col-md-12" >
                              <div class="table-responsive">
                                 <table class="table table-bordered">
                                    <thead>
                                       <tr>
                                          <th>Produit</th>
                                          <th>Quantité</th>
                                          <th>Prix unitaire</th>
                                          <th>Total</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>{{ listepanier.product.cartname }} {{ listepanier.size }} {% if listepanier.accessoire %} avec tour de cou {{ listepanier.accessoire.name }}{% endif %}<br>
                                             {% if listepanier.Color1 %}
                                             <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color1.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                             {% endif %}
                                             {% if listepanier.Color2 %}
                                             <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color2.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                             {% endif %}
                                             {% if listepanier.Color3 %}
                                             <img src="{{ asset('/upload/color/thumbnail/' ~ listepanier.Color3.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                             {% endif %}
                                          </td>
                                          <td>
                                             {% if listepanier.id %}
                                                 <a href="{{ path('plusproduct',{'id':listepanier.id} ) }}">
                                                    <div style="position:relative; top:20px; left:35px">
                                                       <i class="fa fa-plus fa-1" aria-hidden="true"></i>
                                                    </div>
                                                 </a>
                                                 <div>
                                                    <input style="width:50px" type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanier.quantity }}" disabled>
                                                 </div>
                                                 <a href="{{ path('minusproduct',{'id':listepanier.id} ) }}">
                                                    <div>
                                                       <i style="position:relative; bottom:18px; left:35px" class="fa fa-minus fa-1" aria-hidden="true">
                                                       </i>
                                                    </div>
                                                 </a>
                                             {% else %}
                                             <a href="{{ path('plusproduct',{'id':key } ) }}">
                                                <div style="position:relative; top:20px; left:35px">
                                                   <i class="fa fa-plus fa-1" aria-hidden="true">
                                                   </i>
                                                </div>
                                             </a>
                                             <div>
                                                <input style="width:50px" type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanier.quantity }}" disabled>
                                             </div>
                                             <a href="{{ path('minusproduct',{'id':key } ) }}">
                                                <div>
                                                   <i style="position:relative; bottom:18px; left:35px" class="fa fa-minus fa-1" aria-hidden="true">
                                                   </i>
                                                </div>
                                             </a>
                                             {% endif %}
                                          </td>
                                          <td>
                                            {{ listepanier.priceTemp|round(2, 'common') }}€
                                          </td>
                                          <td>
                                          {{ listepanier.priceTemp|round(2, 'common') * listepanier.quantity }}€
                                          </td>
                                       </tr>
                                       {% for keyEnfant, listepanierenfant in listePanierEnfant %}
                                        {% if (listepanierenfant.parent == listepanier) %}
                                       <tr>
                                          <td>{{ listepanierenfant.product.cartname }}<br>
                                             {% if listepanierenfant.Color1 %}
                                             <img src="{{ asset('/upload/color/thumbnail/' ~ listepanierenfant.Color1.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                             {% endif %}
                                             {% if listepanierenfant.Color2 %}
                                             <img src="{{ asset('/upload/color/thumbnail/' ~ listepanierenfant.Color2.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                             {% endif %}
                                             {% if listepanierenfant.Color3 %}
                                             <img src="{{ asset('/upload/color/thumbnail/' ~ listepanierenfant.Color3.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px">
                                             {% endif %}
                                          </td>
                                          <td>
                                             {% if listepanierenfant.id %}
                                             <a href="{{ path('plusproduct',{'id':listepanierenfant.id} ) }}">
                                                <div style="position:relative; top:20px; left:35px">
                                                   <i class="fa fa-plus fa-1" aria-hidden="true"></i>
                                                </div>
                                             </a>
                                             <div>
                                                <input style="width:50px" type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanierenfant.quantity }}" disabled>
                                             </div>
                                             <a href="{{ path('minusproduct',{'id':listepanierenfant.id} ) }}">
                                                <div>
                                                   <i style="position:relative; bottom:18px; left:35px" class="fa fa-minus fa-1" aria-hidden="true">
                                                   </i>
                                                </div>
                                             </a>
                                             {% else %}
                                             <a href="{{ path('plusproduct',{'id':keyEnfant } ) }}">
                                                <div style="position:relative; top:20px; left:35px">
                                                   <i class="fa fa-plus fa-1" aria-hidden="true">
                                                   </i>
                                                </div>
                                             </a>
                                             <div>
                                                <input style="width:50px" type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanierenfant.quantity }}" disabled>
                                             </div>
                                             <a href="{{ path('minusproduct',{'id':keyEnfant } ) }}">
                                                <div>
                                                   <i style="position:relative; bottom:18px; left:35px" class="fa fa-minus fa-1" aria-hidden="true">
                                                   </i>
                                                </div>
                                             </a>
                                             {% endif %}
                                          </td>
                                          <td>
                                          {{ listepanierenfant.priceTemp|round(2, 'common')}}€
                                          </td>
                                          <td>

                                          {{ listepanierenfant.priceTemp|round(2, 'common') * listepanierenfant.quantity }}€

                                          </td>

                                       </tr>
                                        {% endif %}
                                       {% endfor %}
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <style>
                           .delete{
                           background:none;
                           border:none;
                           font-size:1em;
                           }
                        </style></div>
                        {% set numero_ligne = numero_ligne + 1 %}
                        {% endfor %}
                  </div>
                  <div class="col-md-3">
                     <div class="col-md-12"  style="border:1px solid #A94141">
                        <div class="row">
                           <div class="col-xs-7 " style="">
                              <p></p>
                              <p>Sous-total</p>
                              {% if is_granted('ROLE_USER') %}
                              <p> {% if nbcommande == 0 and app.user.parrainEmail is not null %}Parrainage{% else %}Remise{% endif %}</p>
                              {% else %}
                              <p> Remise </p>
                              {% endif %}
                              <p>Total</p>
                           </div>
                           <div class="col-xs-5" >
                              <p></p>
                              <p class="text-right"><strong>  {{ totalsum|round(2,'common') }} €</strong></p>
                              {% set codePromo = app.session.get('codePromo') %}
                              {% if codePromo %}
                              {% if codePromo.minimumCommande <= totalsum %}
                              {% if codePromo.genre == 'pourcentage' %}
                              {% set remise = totalsum * codePromo.montant / 100 %}
                              {% elseif codePromo.genre  == 'remise' %}
                              {% set remise = codePromo.montant %}
                              {% elseif codePromo.genre  == 'fdp' %}
                              {% elseif codePromo.genre  == 'fdp-remise' %}
                              {% set remise = codePromo.montant %}
                              {% endif %}
                              <p class="text-right"><strong> - {{ remise|round(2, 'common') }} €</strong></p>
                              {% set totalsum = totalsum - remise|round(2, 'common') %}
                              {% else %}
                              <p class="text-right">0 €</p>
                              {% endif %}
                              {% elseif nbcommande == 0 and is_granted('ROLE_USER') %}
                              {% if app.user.parrainEmail is not null %}
                              {% set remise = totalsum * (parrainage.montant / 100) %}
                              <p class="text-right"><strong > - {{ remise|round(2, 'common') }} €</strong></p>
                              {% set totalsum = totalsum - remise|round(2, 'common') %}
                              {% else %}
                              <p class="text-right"><strong > 0 €</strong></p>
                              {% endif %}
                              {% else %}
                              <p class="text-right">0 € </p>
                              {% endif %}
                              {% if codePromo %}
                              {% if codePromo.minimumCommande <= totalsum %}
                              {% if codePromo.genre == 'fdp' %}
                              {% elseif codePromo.genre  == 'fdp-remise' %}
                              {% set remise = codePromo.montant %}
                              {% endif %}
                              {% endif %}
                              {% endif %}
                              <p class="text-right"> <strong>  {{ totalsum|round(2,'common') }} €</strong></p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12" style="position:relative">
                        <div class="col-md-4" style="">
                           <input type="text" id="input_promo" placeholder="XXXXX" style=" height:31px; position:absolute; left:-15px ;" {% if is_granted('ROLE_USER') %}
                           {% if nbcommande == 0 and app.user.parrainEmail is not null %} disabled {% endif %}{% endif %}>
                        </div>
                        <a onclick="verifCode()">
                           <div class="col-md-8" style="background-color:#A94141;cursor:pointer; height:31px;position:absolute;width:75%; right:0px; top:-1px; {% if is_granted('ROLE_USER') %}{% if nbcommande == 0 and app.user.parrainEmail is not null %} opacity:0.5; cursor:auto;{% endif %} {% endif %}">
                              <div class="col-md-12">
                                 <center>
                                    <p style="color:white; position:absolute; top:5px; font-size:15px; left:5px"> Valider le coupon </p>
                                 </center>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col-md-12" style="position:relative; top:29px;height:30px; background-color:#242258" >
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                           <a href="{{ path('choixlivraison') }}">
                              <p style="color:white; position:absolute; top:5px; "><span class="glyphicon glyphicon-shopping-cart"></span> Payer </p>
                           </a>
                        </div>
                        <div class="col-md-3">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endif %}
   </section>
   <script>
      function verifCode(){
      var codepromo = document.getElementById("input_promo").value;
      {% set codepromo_twig %}codepromo{% endset %}

      var url = "{{ path('panier', { 'code': 'twig' }) }}";
      url = url.replace("twig", codepromo);
      window.location.replace(url);


      }

   </script>
   <script>
      function open_details(i){
      if(document.getElementById(i).style.display == "block"){
      document.getElementById(i).style.display = "none";

      }
      else {
      document.getElementById(i).style.display = "block";

      }
      }
      function change_text(i){

      if(document.getElementById(i).innerHTML == "Afficher les détails"){
      document.getElementById(i).innerHTML = "Cacher les détails";

      }
      else {
      document.getElementById(i).innerHTML = "Afficher les détails";

      }
      }
   </script>
   {% endblock %}
