{% extends 'base.html.twig' %}


{% block body %}

<body>
<!-- FAQ START -->
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12"><h1 style="padding: 30px 0px;">FOIRE AU QUESTIONS</h1></div>
    </div> 
</div>
<div class="container text-center">
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1"></i>
            </div>
        </div> 
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse2"></i>
            </div>
        </div> 
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse3"></i>
            </div>
        </div> 
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse4"></i>
            </div>
        </div> 
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>


</div>
</div>
<!-- FAQ FIN -->
<div style="background-color: red; height: 300px;"></div>
<!-- Qui sont ses gens -->
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12"><h1 style="padding: 30px 0px;">AGATHE VOUS GATE</h1></div>
    </div> 
    <div class="row text-center">
        <div class="col-sm-12"><img src="{{ asset('images/Face_Agathe.jpg')}}" class="img-circle"alt="Face_agathevousgate" style="max-width:25vw"></br><h2>Agathe Lefeuvre</h2></div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>Un trou noir possède une masse donnée, concentrée en un point que l’on appelle singularité gravitationnelle. Cette masse permet de définir une sphère appelée horizon du trou noir, centrée sur la singularité et dont le rayon est une limite maximale en deçà de laquelle le trou noir empêche tout rayonnement et a fortiori toute matière de s’échapper. Cette sphère représente en quelque sorte l’extension spatiale du trou noir. C’est ainsi que le terme « trou » est inapproprié : il serait plus correct de parler de « boule noire » pour conceptualiser concrètement sa forme physique réelle tridimensionnelle dans l’espace. Pour un trou noir de masse égale à celle du Soleil, son rayon vaut environ 3 kilomètresNote 1. À une distance interstellaire (en millions de kilomètres), un trou noir n’exerce pas plus d’attraction que n’importe quel autre corps de même masse ; il ne s’agit donc pas d’un « aspirateur » irrésistible. Par exemple, si le Soleil se trouvait remplacé par un trou noir de même masse, les orbites des corps tournant autour (planètes et autres) resteraient pour l'essentiel inchangées (seuls les passages à proximité de l'horizon induiraient un changement notable).</p>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col-sm-12">
            <p>Un trou noir est un objet astrophysique comme un autre. Il se caractérise par le fait qu’il est très difficile à observer directement (voir ci-dessous), et que sa région centrale ne peut être décrite de façon satisfaisante par les théories physiques en leur état du début du XXIe siècle, car elle abrite une singularité gravitationnelle. Cette dernière ne peut être décrite que dans le cadre d’une théorie de la gravitation quantique, manquante à ce jourNote 2. En revanche, on sait parfaitement décrire les conditions physiques qui règnent dans son voisinage immédiat, de même que son influence sur son environnement, ce qui permet de les détecter par diverses méthodes indirectes.</p>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col-sm-12">
            <p>L’existence des trous noirs est envisagée dès le XVIIIe siècle indépendamment par John Michell9 et Pierre-Simon de Laplace. Il s’agissait alors d’objets prédits comme suffisamment denses pour que leur vitesse de libération soit supérieure à la vitesse de la lumière — c’est-à-dire que même la lumière ne peut vaincre leur force gravitationnelle. Plutôt qu’une telle force (qui est un concept newtonien), il est plus juste de dire que la lumière subit en fait un décalage vers le rouge infini.</p>
        </div>
    </div> 
</div>


 <!--   <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Votre panier {% if not listePanier %} est vide {% endif %}</h2>



                    <hr class="primary"><br />
                </div>
            </div>
        </div>
        {% if listePanier %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center"> Action</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-right">Prix</th>
                            <th class="text-right">Total</th>

                        </tr>
                        </thead>
                        <tbody>






{% set totalsum = null %}{% set numero_ligne = 0 %}

														{% for listepanier in listePanier %}
{% set totalsum = totalsum + listepanier.product.price * listepanier.quantity %}


                            <tr>
                                <td class="col-sm-1 col-md-1 text-center">
{% if listepanier.id %}
                                    <a href="{{ path('deleteproduct',{'id':listepanier.id} ) }}"><i class="fa fa-trash-o" aria-hidden="true" ></i></a>
                                    {% else  %}

<a href="{{ path('deleteproduct_session',{'id':numero_ligne} ) }}"><i class="fa fa-trash-o" aria-hidden="true" ></i></a>


{% endif %}


                                        <i class="fa fa-refresh" aria-hidden="true"></i>

                                </td>

                                    <td class="col-sm-8 col-md-6 text-center">

                                    {% if listepanier.Color1 %}
                                    {{ listepanier.Color1.name }} /
                                      {% endif %}
                                      {% if listepanier.color2 %}
                                      {{ listepanier.Color2.name }} /
                                        {% endif %}
                                        {% if listepanier.Color3 %}
                                        {{ listepanier.Color3.name }} /
                                          {% endif %}
                                          {% if listepanier.Color4 %}
                                          {{ listepanier.Color4.name }} /
                                            {% endif %}
                                            {% if listepanier.Color5 %}
                                            {{ listepanier.Color5.name }} /
                                              {% endif %}
                                              {% if listepanier.Color6 %}
                                              {{ listepanier.Color6.name }} /
                                                {% endif %}
                                                {% if listepanier.Color7 %}
                                                {{ listepanier.Color7.name }} /
                                                  {% endif %}
                                                  {% if listepanier.Color8 %}
                                                  {{ listepanier.Color8.name }} /
                                                    {% endif %}
                                                    {% if listepanier.Color9 %}
                                                    {{ listepanier.Color9.name }} /
                                                      {% endif %}
                                                      {% if listepanier.Color10 %}
                                                      {{ listepanier.Color10.name }} /
                                                        {% endif %}
<br>


                                      {{ listepanier.product.name }}<br />

                                    </td>

                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                        <input type="number" class="form-control" id="exampleInputEmail1" name="" value="{{ listepanier.quantity }}">
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-right"><strong>{{ listepanier.product.price }} €</strong></td>
                                    <td class="col-sm-1 col-md-1 text-right"><strong>{{ listepanier.product.price * listepanier.quantity }} €</strong></td>


                            </tr>

{% set numero_ligne = numero_ligne + 1 %}
													{% endfor %}



                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Sous-total</h5></td>
                            <td class="text-right"><h5><strong>  {{ totalsum }} €</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Frais de livraison</h5></td>
                            <td class="text-right"><h5><strong>{% if totalsum <50 %} {% set livraison = 5 %}{% else %} {% set livraison = 0 %} {% endif %} {{ livraison }} €</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong>{{ totalsum + livraison }} €</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button type="button" class="btn btn-default">
                                    <a href="index.php"><span class="glyphicon glyphicon-shopping-cart"></span> Retourner à l'accueil</a>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">
                                      <a href="{{ path('choixlivraison') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Payer </a><span class="glyphicon glyphicon-play"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {% endif %}
-->
{% endblock %}
