{% extends 'base.html.twig' %} {% block body %}
<SCRIPT LANGUAGE="JavaScript">
var blnBlocage = false;
window.onbeforeunload = function () {
            if (blnBlocage == true) {
           return "Êtes-vous sûr de vouloir quitter cette page sans avoir enregistré ?";
}
   };

</SCRIPT>
<body id="page-top">
    <!-- Partie 1: Customisation du noeud DEBUT-->
    <section>
        <div class="container">
          <div class="alert alert-danger text-center" role="alert" id="errorMessage" style="margin-top:20px;display:none;">

          </div>
        </div>
      </section>
    <div class="container text-center">
        <h1 class="heading">CRÉER SON NOEUD</h1>
        <ul rel="sequence" class="seq-pagination list-inline" role="navigation" aria-label="Pagination">
            <li><button class="btn btn-alc_active btn_perso" role="button"><div class="nbr numberCircle_active">1</div>Customisation</a></li>
            <li><button class="btn btn-alc btn_TT" role="button"><div class="nbr2 numberCircle">2</div>Taille et accessoires</a></li>

        </ul>
    </div>

    {% set noeud_price = 0 %}
    {% set coffret1_price = 0%}
    {% set coffret2_price = 0 %}
    {% set boutons_price = 0 %}
    {% set pochette_price = 0 %}

  <!-- Page Produit & Taille -->
<div class="main_page">

<section class="personnalisation_noeud">

    <div class="container main_personnalisation">
        <div class="row">
            <div class="col-sm-12 col-xs-12 choix_collection no_padding">
                <!-- Choix de la collection-->
                <h4>Noeud <i class="fa fa-question-circle fa-2" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ici on explique"></i></h4>


            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 no_padding">
                <!-- Aperçu noeud-->
                <div class="noeud_position">
                {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors == collection.firstColor %}
                    <div id="noeuddevant" class="noeud_devant" style="background:url({{ asset('/upload/color/noeud1/' ~ colors.imagecolorNoeud1Name )}});"></div>
                    <div id="noeudderriere" class="noeud_derriere" style="background:url({{ asset('/upload/color/noeud2/' ~ colors.imagecolorNoeud2Name )}});"></div>
                    <div id="noeudpetit" class="noeud_petit" style="background:url({{ asset('/upload/color/noeud3/' ~ colors.imagecolorNoeud3Name )}});"></div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                </div>
                <!-- Aperçu noeud- FIN-->
            </div>
            <div class="col-sm-6 no_padding">
                <!-- Choix des couleurs -->
                <div class="container accordeon_noeud no_padding">
                  <!-- Choix collections dans le truc -->
                  <div class="panel panel-default" style="margin-bottom: 0px;">
                      <div  aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse0" id="panel-heading-plugin-collection" style="background-color: rgb(169, 65, 65); border:none;" class="panel-heading panel-heading-plugin">
                          <div class="row">
                              <div class="col-sm-11">
                                  <h4 class="panel-title">
          Choix de la collection</h4>
                              </div>
                              <div class="col-sm-1">
                                  <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                              </div>
                          </div>
                      </div>
                      <div id="collapse0" class="panel-collapse collapse">
                          <div class="panel-body">
                            {% for collection in collection %}
                              {% if collection.isPerso == true %}
                             <a href="{{ path('personnalisation', {'idCollection': collection.id }) }}"> {{ collection.title }}</a></br>{% endif %}
                            {% endfor %}

                            </div>
                      </div>
                  </div>
                  <!-- Choix collections dans le truc FIN -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="panel-heading-plugin-1" class="panel-heading panel-heading-plugin" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                <div class="row" >
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Couleur 1</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-up no_padding" style="color: rgb(255, 255, 255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <ul class="img-thumbnails pull-left">
                                    {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors.isActive == true %}
                                    {% if colors.isBasic == false %}{% if X1 == 1 %}
                                    <div class="row">
                                        {% endif %}
                                        <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  couleurs_no_basic 2-nobasic" selected=''>
                                            <style>
                                                input[type="radio"] + .{{ colors.name }}_1 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                            </style>
                                            <input type="radio" id="{{ colors.imageColorName }}_1" name="color1" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-1', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudderriere','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}');  color_selected('{{ colors.imageColorName }}', 2, '{{ colors.CouleurPochetteName }}', '{{ colors.CouleurBoutonsName }}', 1); doublechoice('col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  couleurs_no_basic 2-nobasic');setLibertyAttache('{{ colors.name }}', '{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}', '{{ colors.imageColorName }}_3', '{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}', 0 ); " class="radio_colors" value="{{ colors.id }}" />
                                            <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_1" for="{{ colors.imageColorName }}_1"></label></a>

                                        </div>
                                        <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                        {% set X1 = X1+1 %} {% if X1 == 7 %}
                                    </div>
                                    {% set X1 = 1 %} {% endif %} {% endif %}  {% endif %}{% endfor %} {% endif %} {% endfor %}
                                </ul>
                                <ul class="img-thumbnails pull-left">
                                    {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors.isActive == true %}
                                    {% if colors.isBasic == true %}{% if X1 == 1 %}
                                    <div class="row">
                                        {% endif %}
                                        <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size" selected=''>
                                            <style>
                                                input[type="radio"] + .{{ colors.name }}_1 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                            </style>
                                            <input type="radio" id="{{ colors.imageColorName }}_1" name="color1" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-1', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudderriere','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}');  color_selected('{{ colors.imageColorName }}', 2); redisplaydoublechoice('col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  couleurs_no_basic 2-nobasic') " class="radio_colors" value="{{ colors.id }}" />
                                            <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_1" for="{{ colors.imageColorName }}_1"></label></a>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                        {% set X1 = X1+1 %} {% if X1 == 7 %}
                                    </div>
                                    {% set X1 = 1 %} {% endif %} {% endif %}  {% endif %}{% endfor %} {% endif %} {% endfor %}
                                </ul>
                              </div>

                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="panel-heading-plugin-2" class="panel-heading panel-heading-plugin" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                <div class="row" >
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Couleur 2</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">

                              <div class="panel-body">
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %}{% if colors.isActive == true %}
                                      {% if colors.isBasic == false %}{% if X1 == 1 %}
                                      <div id="MyInputs" class="row">
                                          {% endif %}
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  couleurs_no_basic 1-nobasic" selected=''>
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_2 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_2" name="color2" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-2', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeuddevant','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}'); color_selected('{{ colors.imageColorName }}', 1); doublechoice('col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  couleurs_no_basic 1-nobasic'); setLibertyAttache('{{ colors.name }}', '{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}', '{{ colors.imageColorName }}_3', '{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}', 1 );" class="radio_colors" value="{{ colors.id }}" />

                                              <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_2" for="{{ colors.imageColorName }}_2"></label></a>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %}{% endif %}
                                    {% endif %}



                                      {% endfor %} {% endif %} {% endfor %}
                                  </ul>
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %}{% if colors.isActive == true %}
                                      {% if colors.isBasic == true %}{% if X1 == 1 %}
                                      <div id="MyInputs" class="row">
                                          {% endif %}
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size " selected=''>
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_2 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_2" name="color2" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-2', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeuddevant','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}'); color_selected('{{ colors.imageColorName }}', 1);setLibertyAttache('{{ colors.name }}', '{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}', '{{ colors.imageColorName }}_3', '{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}', 2); redisplaydoublechoice('col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  couleurs_no_basic 1-nobasic')" class="radio_colors" value="{{ colors.id }}" />
                                              <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_2" for="{{ colors.imageColorName }}_2"></label></a>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %}{% endif %}
                                    {% endif %}



                                      {% endfor %} {% endif %} {% endfor %}
                                  </ul>
                              </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse3" id="panel-heading-plugin-3" class="panel-heading panel-heading-plugin" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                <div class="row" >
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Attache centrale</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors.isActive == true %}
                                      {% if colors.isBasic == false %}{% if X1 == 1 %}
                                      <div class="row">
                                          {% endif %}
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding f thumbnail_size" selected=''>
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_3_nobasic {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                  input[type="radio"] + .{{ colors.name }}_3 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}

                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_3" name="color3" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-3', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudpetit','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}');" class="radio_colors" value="{{ colors.id }}" />
                                              <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_3_nobasic" for="{{ colors.imageColorName }}_3" ></label></a>

                                          </div>
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %}{% endif %}{% endif %} {% endfor %} {% endif %} {% endfor %}
                                  </ul>
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors.isActive == true %}
                                      {% if colors.isBasic == true %}{% if X1 == 1 %}
                                      <div class="row">
                                          {% endif %}
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size  " selected=''>
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_3 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_3" name="color3" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-3', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudpetit','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}');" class="radio_colors" value="{{ colors.id }}" />
                                              <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_3" for="{{ colors.imageColorName }}_3"></label></a>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %}{% endif %}{% endif %} {% endfor %} {% endif %} {% endfor %}
                                  </ul></div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Choix des couleurs FIN-->
            </div>
        </div>
</div>
    <!--------------------------------------------------------------------------------------------------------------------------COFFRET DEBUT -------->
    <!--------------------------------------------------------------------------------------------------------------------------COFFRET DEBUT -------->
    <!--------------------------------------------------------------------------------------------------------------------------COFFRET DEBUT ------->
<section class="Coffret">
    <div class="container no_padding">
        <div class="panel panel-default">
            <div id="panel-heading-plugin-6" style="margin-bottom: -0.5px;" class="panel-heading panel-heading-plugin" onclick="open_div('coffret1')" >
                <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion_coffret" href="" style="margin-right: 0px;">
                    <div class="col-sm-11 col-xs-10">
                        <h4 id="titre_coffret1" class="panel-title" style="color:#25225B; text-shadow:none; background-color:rgba(0,0,0,0);">
                    Ajoutez une à deux couleurs supplémentaire pour réaliser un coffret <i class="fa fa-question-circle fa-2" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ici on explique"></i></h4>

                    </div>
                    <div class="col-sm-1 col-xs-2">
                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: #25225B; position:absolute; right:3px;"></i>
                    </div>
                </div>
            </div>
            <div id="collapse_coffret" class="panel-collapse collapse">
                <div class="panel-body no_padding" style="padding-top: 0px; background-color: rgb(255, 255, 255);">
                  <div class="container no_padding">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-sm-6 no_padding"><!--Aperçu coffret-->
                          <div class="row" style="margin-left: 0px; margin-right: 0px;">
                            <div class="col-sm-1 col-sx-1"></div>
                            <div class="col-sm-9 col-xs-9"><!--Aperçu gros tissu coffret-->
                              <div class="coffret_big_position">
                                  <div id="coffret_big_1" class="coffret_big_1" style="background:url();"></div>
                                  <div id="coffret_big_2" class="coffret_big_2" style="background:url();"></div>
                                  <div id="coffret_big_3" class="coffret_big_3" style="background:url();"></div>
                                  <div id="coffret_big_4" class="coffret_big_4" style="background:url();"></div>
                              </div>
                            </div>
                            <div class="col-sm-2 col-xs-2"><!--Aperçu petit noeud tissu coffret-->
                              <div class="Coffret_petit_position">
                                  <div id="Coffret_petit_1" class="Coffret_petit_1" style="background:url();"></div>
                                  <div id="Coffret_petit_2" class="Coffret_petit_2" style="background:url();"></div>
                                  <div id="Coffret_petit_3" class="Coffret_petit_3" style="background:url();"></div>
                                  <div id="Coffret_petit_4" class="Coffret_petit_4" style="background:url();"></div>
                              </div>
                            </div>


                          </div>

                        </div>
                        <div class="col-sm-6 no_padding"><!--choix couleur coffretcoffret-->
                          <div class="container accordeon_noeud no_padding">
                              <div class="panel-group" id="accordion_coffret">
                                  <div class="panel panel-default">
                                      <div aria-hidden="true" data-toggle="collapse" data-parent="#accordion_coffret" href="#collapse_coffret1" id="panel-heading-plugin-4" class="panel-heading panel-heading-plugin" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                          <div class="row"  style="margin-right: 0px;">
                                              <div class="col-sm-11 col-xs-10">
                                                  <h4 class="panel-title">
                          Couleur 3 - combinaisons: 27</h4>
                                              </div>
                                              <div class="col-sm-1 col-xs-2 text-right">
                                                  <i class="fa fa-2x fa-chevron-up no_padding" style="color: rgb(255, 255, 255);"></i>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="collapse_coffret1" class="panel-collapse collapse in">
                                          <div class="panel-body">
                                              <ul class="img-thumbnails pull-left">
                                                  {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors.isActive == true %}{% if colors.isBasic == true %}{% if X1 == 1 %}
                                                  <div id="MyInputs" class="row">
                                                      {% endif %}
                                                      <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                                          <style>
                                                              input[type="radio"] + .{{ colors.name }}_4 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                          </style>
                                                          <input type="radio" id="{{ colors.imageColorName }}_4" name="color4" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-4', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','coffret_1','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}');  color_selected('{{ colors.imageColorName }}', 3)" class="radio_colors" value="{{ colors.id }}" />
                                                          <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_4" for="{{ colors.imageColorName }}_4"></label></a>
                                                      </div>
                                                      <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                                      {% set X1 = X1+1 %} {% if X1 == 7 %}
                                                  </div>
                                                  {% set X1 = 1 %} {% endif %}{% endif %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                              </ul>
                                          </div>
                                      </div>
                                  </div>


                                  <div class="panel panel-default">
                                      <div aria-hidden="true" data-toggle="collapse" data-parent="#accordion_coffret" id="panel-heading-plugin-5" class="panel-heading panel-heading-plugin" onclick="open_div('coffret2')" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                          <div class="row"  href=""  >
                                              <div class="col-sm-11 col-xs-10">
                                                  <h4 class="panel-title">
                          Couleur 4 - Combinaisons: 128</h4>
                                              </div>
                                              <div class="col-sm-1 col-xs-2 no_padding">
                                                  <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="collapse_coffret2" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <ul class="img-thumbnails pull-left">
                                                {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if colors.isActive == true %} {% if colors.isBasic == true %}{% if X1 == 1 %}
                                                <div class="row">
                                                    {% endif %}
                                                    <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size" >
                                                        <style>
                                                            input[type="radio"] + .{{ colors.name }}_5 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                        </style>
                                                        <input type="radio" id="{{ colors.imageColorName }}_5" name="color5" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-5', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','coffret_2','{{ asset("/upload/color/tissu/grand/" ~ colors.tissucolorname ) }}','{{ asset("/upload/color/tissu/milieu/" ~ colors.TissuMilieuColorName ) }}'); color_selected('{{ colors.imageColorName }}', 4) " class="radio_colors" value="{{ colors.id }}" />
                                                        <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_5" for="{{ colors.imageColorName }}_5"></label></a>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                                    {% set X1 = X1+1 %} {% if X1 == 7 %}
                                                </div>
                                                {% set X1 = 1 %} {% endif %} {% endif %}{% endif %} {% endfor %} {% endif %} {% endfor %}
                                            </ul></div>
                                      </div>
                                  </div>



                              </div>
                          </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</section>
<section id="pochette_bouton">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 no_padding">
                <!--Pochette-->
                <div class="panel panel-default">
                    <div aria-hidden="true" data-toggle="collapse" data-parent="#accordion_pochette" id="panel-heading-plugin-7" class="panel-heading panel-heading-plugin" onclick="open_div('pochette')" >
                        <div class="row"  href="" style="margin-right: 0px;">
                            <div class="col-sm-11 col-xs-10">

                                <h4 class="panel-title" id="titre_pochette" style="color:#25225B;text-shadow:none; background-color:rgba(0,0,0,0);">Pochette <i class="fa fa-question-circle fa-2" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ici on explique"></i></h4>

        </div>
                            <div class="col-sm-1 col-xs-2">
                                <i class="fa fa-2x fa-chevron-down no_padding" style="color: #25225B; position:absolute; right:3px;"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_pochette" class="panel-collapse collapse">
                        <div class="panel-body no_padding" style="padding-top: 0px; background-color: rgb(255, 255, 255);">
                            <!--<div class="container no_padding">-->
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-sm-9 col-xs-8 text-center" id="pochette_img">
                                    <!--Aperçu pochette-->

                                </div>
                                <div class="col-sm-3 col-xs-4 text-center"  style="padding-top: 10px;">
                                    <!--choix de couleur-->
                                    <ul class="img-thumbnails pull-left">

                                        {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                        <div id="MyInputs" class="row">
                                            {% endif %}
                                            <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size couleur" correspondance="" id="{{ colors.imageColorName }}_pochette" style="display:none">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_6 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_6" name="color6" onclick="changePochette('{{ colors.CouleurPochetteName }}')" class="radio_colors" value="{{ colors.id }}" />
                                                <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_6" for="{{ colors.imageColorName }}_6"></label></a>
                                            </div>


                                        </div>
                                         {% endfor %} {% endif %} {% endfor %}
                                    </ul>

                                </div>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 no_padding">
                <!--Bouton de manchette-->
                <div class="panel panel-default">
                    <div  aria-hidden="true" data-toggle="collapse" data-parent="#accordion_bouton" id="panel-heading-plugin-8" class="panel-heading panel-heading-plugin" onclick="open_div('boutons')" >
                        <div class="row" href="" style="margin-right: 0px;">
                            <div class="col-sm-11 col-xs-10">


                                <h4 class="panel-title" id="titre_boutons" style="text-shadow:none; color:#25225B; background-color:rgba(0,0,0,0);">
                                Bouton de manchettes <i class="fa fa-question-circle fa-2" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ici on explique"></i></h4>


                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <i class="fa fa-2x fa-chevron-down no_padding" style="color: #25225B; position:absolute; right:3px;"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_bouton" class="panel-collapse collapse">
                        <div class="panel-body no_padding" style="padding-top: 0px; background-color: rgb(255, 255, 255);">
                            <!-- Nope ?<div class="container no_padding">-->
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">

                                <div class="col-sm-9 col-xs-8 text-center" id="boutons_img">
                                    <!--Aperçu bouton-->

                                </div>
                                <div class="col-sm-3 col-xs-4" style="padding-top: 10px;">
                                    <!--choix de couleur-->
                                    <ul class="img-thumbnails pull-left">
                                         {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %}
                                        <div class="row">

                                            <div class="col-sm-12 col-xs-12 text-center color_token no_padding thumbnail_size couleur" correspondance="" id="{{ colors.imageColorName }}_boutons"  style="display:none">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_7 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_7" name="color7" onclick="changeBoutons('{{ colors.couleurBoutonsName }}')" class="radio_colors" value="{{ colors.id }}" />
                                                <label data-toggle="tooltip" data-placement="top" title="{{ colors.name }}" class="{{ colors.name }}_7" for="{{ colors.imageColorName }}_7"></label></a>
                                            </div>


                                        </div>
                                         {% endfor %} {% endif %} {% endfor %}
                                    </ul>
                                    </div>
                                </div>
                            <!--</div> Nope ?-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Résumé_prix">
    <div class="container no_padding">
        <div class="row">
        <div class="col-sm-6 no_padding">
        </div>
        <div class="col-sm-6">
           <div class="panel panel-default" style="margin-top:20px; background-color:white;">
              <div class="panel-heading blue_recap" style="border-top: 0px">
                 <div class="row ">
                    <div class="col-sm-8 col-xs-8" >
                       <h3 class="panel-title" style="color:white!important;">
                          Noeud
                       </h3>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right" >
                       <h3 class="panel-title" style="color:white!important;">
                          {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceNoeud }}{% set noeud_price = collection.priceNoeud  %}€{% endif %}{% endfor %}
                       </h3>
                    </div>
                    <div class="col-sm-1 col-xs-1" >
                       <input type="checkbox" checked disabled>
                    </div>
                 </div>
              </div>
              <div class="panel-heading blue_recap">
                  <div class="row ">
                      <div class="col-sm-8 col-xs-8">
                          <h3 class="panel-title" style="color:white!important;">
                       Couleur 3
                    </h3>
                      </div>
                      <div class="col-sm-3 col-xs-3 text-right">
                          <h3 style="color: rgb(255, 255, 255);" class="panel-title">
                          + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceCoffret1 }}{% set coffret1_price = collection.priceCoffret1  %}€{% endif %}{% endfor %}
                      </div>
                      <div class="col-sm-1 col-xs-1">
                          <input onclick="open_div('coffret1')" id="input_coffret1" type="checkbox">
                      </div>
                  </div>
              </div>
              <div class="panel-heading blue_recap">
                 <div class="row ">
                    <div class="col-sm-8 col-xs-8" >
                       <h3 class="panel-title" style="color:white!important;">
                          Couleur 4
                       </h3>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right" >
                       <h3 class="panel-title" style="color:white!important;">
                       + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceCoffret2 }}{% set coffret2_price = collection.priceCoffret2  %}€{% endif %}{% endfor %}
                       </h3>
                    </div>
                    <div class="col-sm-1 col-xs-1" >
                       <input onclick="open_div('coffret2'); " id="input_coffret2" type="checkbox" disabled>
                    </div>
                 </div>
              </div>
              <div class="panel-heading blue_recap">
                 <div class="row ">
                    <div class="col-sm-8 col-xs-8" >
                       <h3 class="panel-title" style="color:white!important;">
                          Pochette
                       </h3>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right" >
                       <h3 class="panel-title" style="color:white!important;">
                       + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.pricePochette }}{% set pochette_price = collection.pricePochette  %}€{% endif %}{% endfor %}
                       </h3>
                    </div>
                    <div class="col-sm-1 col-xs-1" >
                       <input onclick="open_div('pochette');" id="input_pochette" type="checkbox">
                    </div>
                 </div>
              </div>
              <div class="panel-heading blue_recap">
                 <div class="row ">
                    <div class="col-sm-8 col-xs-8" >
                       <h3 class="panel-title" style="color:white!important;">
                          Boutons de manchette
                       </h3>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right" >
                       <h3 class="panel-title" style="color:white!important;">
                       + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceBouton }}{% set boutons_price = collection.priceBouton  %}€{% endif %}{% endfor %}
                       </h3>
                    </div>
                    <div class="col-sm-1 col-xs-1" >
                       <input onclick="open_div('boutons');"  id="input_boutons" type="checkbox" >
                    </div>
                 </div>
              </div>
              <div class="panel-heading blue_recap">
                 <div class="row ">
                    <div class="col-sm-8 col-xs-8" >
                       <h3 class="panel-title" style="color:white!important;">
                          Total
                       </h3>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right" style="position:absolute; right:30px;" >
                       <h3 class="panel-title" style="color:white!important;position:absolute; right:43px" id="total" >
                          {{ noeud_price }} €
                       </h3>
                    </div>
<div class="col-sm-1 col-xs-1 text-right" ></div>

                 </div>
              </div>
           </div>
        </div>

        </div>
    </div>
</section>

    <!-- champs cachés -->

    <div class="container">
        <div class="row text-center no_padding">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 no_padding"><a class="btn btn-primary btn-lg active btn_send btn_TT" onclick="window.scrollTo(0, 0);" role="button">Taille et accessoire</a></div>
        </div>
    </div>

</div>

</section>
</section>
<section class="type-and-size">
<div class="container main_type_taille_noeud">
    <div class="container choix_type_taille_noeud">
        <div class="row">
            <div class="col-sm-12 col-xs-12 choix_supplement no_padding">
                <!-- Choix de la collection-->
                <h4>Type de noeud</h4>
            </div>
        </div>
        <div class="row text-center type_noeud" >

            <div class="col-sm-4 no_padding selector_type active_1" style="cursor:pointer; "onclick="get_data()">
              <input type="radio" name="radio_accessoire" id="radio-tdecou" value="Tour de cou" style="visibility: hidden; position: absolute;" checked>
              <label for="radio-tdecou" style="cursor:pointer;">
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>TOUR DE COU</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
              </label>
            </div>
            <div class="col-sm-4 no_padding selector_type " style="cursor:pointer; "onclick="get_data()">
              <input type="radio" name="radio_accessoire" id="radio-barette" value="Barette" style="visibility: hidden; position: absolute;">
              <label for="radio-barette" style="cursor:pointer;" >
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>BARETTE</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
              </label>
            </div>
            <div class="col-sm-4 no_padding selector_type " style="cursor:pointer; "onclick="get_data()">
              <input type="radio" name="radio_accessoire" id="radio-broche" value="Broche" style="visibility: hidden; position: absolute;">
              <label for="radio-broche" style="cursor:pointer;" >
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>BROCHE</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
                </label>
            </div>

        </div>
    </div>
    <div class="container choix_type_taille_noeud">
    <div class="row">
        <div class="col-sm-12 col-xs-12 choix_collection no_padding">
            <!-- Choix de la collection-->
            <h4>Taille</h4>
        </div>
    </div>
    <div class="row text-center taille_noeud " style="cursor:pointer;">
        <div class="col-sm-6 no_padding selector_taille active_1 " style="margin: 0px;" style="cursor:pointer; "onclick="get_data()">


            <input type="radio" name="radio_taille" id="radio-standard" value="Standard" style="visibility: hidden; position: absolute;" checked>
            <label for="radio-standard" style="cursor:pointer;" >
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>NORMAL</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
                </label>
        </div>


        <div class="col-sm-6 no_padding selector_taille "  style="margin: 0px;" onclick="get_data()">
          <input type="radio" name="radio_taille" id="radio-mini" value="Mini" style="visibility: hidden; position: absolute;">
          <label for="radio-mini" style="cursor:pointer; ">
            <div class="row text-center no_padding">
                <div class="col-sm-12 no_padding">
                    <h1>MINI</h1></div>
            </div>
            <div class="row text-center no_padding">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                <div class="col-sm-1"></div>
            </div>
          </label>
          </div>
    </div>

</div>
    </div>
    <div class="container">
        <div class="row text-center no_padding">
            <div class="col-sm-4 text-left">
              <div id="go_back_to_the_chopper" class="btn btn-primary btn-lg btn_sendimg btn_perso" style="font-weight:normal !important">Retour à personnalisation du noeud</div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 no_padding"><a class="btn btn-primary btn-lg active btn_send" data-popup-open="popup-1" href="#"  role="button">Ajouter au panier</a></div>
        </div>
    </div>
</div>

</section>
<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h1 class="text-center">De combien en avez-vous besoin ?</h1>
        <div class="panel panel-default" style="margin-top:20px; background-color:white;">
           <div class="panel-heading blue_recap" style="border-top: 0px">
              <div class="row ">
                 <div class="col-sm-8" >
                    <h3 class="panel-title" style="color:white!important;">
                       Noeud
                    </h3>
                 </div>
                 <div class="col-sm-4 text-right" >
                    <h3 class="panel-title" style="color:white!important;">
                    {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceNoeud }}{% set noeud_price = collection.priceNoeud  %}€{% endif %}{% endfor %}
                    </h3>
                 </div>

              </div>
           </div>
           <div class="panel-heading blue_recap" id="popin_coffret1" style="display:none">
               <div class="row ">
                   <div class="col-sm-8">
                       <h3 class="panel-title" style="color:white!important;">
                    Couleur 3
                 </h3>
                   </div>
                   <div class="col-sm-4 text-right">
                       <h3 style="color: rgb(255, 255, 255);" class="panel-title">
                       + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceCoffret1 }}{% set coffret1_price = collection.priceCoffret1  %}€{% endif %}{% endfor %}
                   </div>

               </div>
           </div>
           <div class="panel-heading blue_recap" id="popin_coffret2" style="display:none">
              <div class="row ">
                 <div class="col-sm-8" >
                    <h3 class="panel-title" style="color:white!important;">
Couleur 4                    </h3>
                 </div>
                 <div class="col-sm-4 text-right" >
                    <h3 class="panel-title" style="color:white!important;">
                    + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceCoffret2 }}{% set coffret2_price = collection.priceCoffret2  %}€{% endif %}{% endfor %}
                    </h3>
                 </div>

              </div>
           </div>
           <div class="panel-heading blue_recap" id="popin_pochette" style="display:none">
              <div class="row ">
                 <div class="col-sm-8" >
                    <h3 class="panel-title" style="color:white!important;">
                       Pochette
                    </h3>
                 </div>
                 <div class="col-sm-4 text-right" >
                    <h3 class="panel-title" style="color:white!important;">
                    + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.pricePochette }}{% set pochette_price = collection.pricePochette  %}€{% endif %}{% endfor %}
                    </h3>
                 </div>

              </div>
           </div>
           <div class="panel-heading blue_recap" id="popin_boutons" style="display:none">
              <div class="row ">
                 <div class="col-sm-8" >
                    <h3 class="panel-title" style="color:white!important;">
                       Boutons de manchette
                    </h3>
                 </div>
                 <div class="col-sm-4 text-right" >
                    <h3 class="panel-title" style="color:white!important;">
                    + {% for collection in collection %}{% if collection.id == selected_collection %}{{ collection.priceBouton }}{% set boutons_price = collection.priceBouton  %}€{% endif %}{% endfor %}
                    </h3>
                 </div>

              </div>
           </div>
           <div class="panel-heading blue_recap">
              <div class="row ">
                 <div class="col-sm-8" >
                    <h3 class="panel-title" style="color:white!important;">
                       Total
                    </h3>
                 </div>
                 <div class="col-sm-4 text-right"  >
                    <h3 class="panel-title" style="color:white!important;" id="total2" >
                       {{ noeud_price }} €
                    </h3>
                 </div>

              </div>
           </div>
        </div>



      <div class="panel-heading blue_recap" style="border:1px solid grey; background-color:white!important;">

          <div class="row">
            <div class="col-sm-6 col-xs-3">Quantité: </div>
            <div class="col-sm-2 text-center">
                      <input type="number" id="quantitynoeud" style="width:35px; background-color:#eae9e9;border:none" value="1" name="quantité" disabled>
                      <i onclick="minusquantity()" style="position:relative; cursor:pointer; bottom:0px; right:60px" class="fa fa-minus fa-1" aria-hidden="true">
                      </i>

                        <i onclick="plusquantity()" style="position:relative; cursor:pointer;top:0px; left:-10px" class="fa fa-plus fa-1" aria-hidden="true"></i>
              </div>
                <script>
                function plusquantity(){

                total = {{ noeud_price }};
                if( document.getElementById('input_coffret1').checked == true){
                total = total + {{ coffret1_price }};
                }
                if( document.getElementById('input_coffret2').checked == true){
                total = total + {{ coffret2_price }};
                }
                if( document.getElementById('input_boutons').checked == true){
                total = total + {{ boutons_price }};
                }
                if( document.getElementById('input_pochette').checked == true){
                total = total + {{ pochette_price }};
                }
                var total_popin = total;
                document.getElementById('quantitynoeud').value++;
total_popin = document.getElementById('quantitynoeud').value * total_popin;
document.getElementById("totalXquantity").innerHTML = "Total : "+total_popin.toFixed(2)+'€';

                }
                function minusquantity(){


if(  document.getElementById('quantitynoeud').value > 1){
total = {{ noeud_price }};
if( document.getElementById('input_coffret1').checked == true){
total = total + {{ coffret1_price }};
}
if( document.getElementById('input_coffret2').checked == true){
total = total + {{ coffret2_price }};
}
if( document.getElementById('input_boutons').checked == true){
total = total + {{ boutons_price }};
}
if( document.getElementById('input_pochette').checked == true){
total = total + {{ pochette_price }};
}
var total_popin = total;
                document.getElementById('quantitynoeud').value--;
                total_popin = document.getElementById('quantitynoeud').value * total_popin;
                document.getElementById("totalXquantity").innerHTML = "Total : "+total_popin.toFixed(2)+'€';

}

                }
                </script>
          <div class="col-sm-4 text-right" id="totalXquantity" style="font-size: 17px!important; font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: bold;
    color: #242258;
    padding-bottom: 0.5em;">
Total : {{ noeud_price }} €
          </div>
        </div>
        </div>

            <div class="row text-center no_padding">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 no_padding"><button class="btn btn-primary btn-lg active btn_send" onclick="this.disabled=true; addToCart()" role="button">Ajouter au panier</button></div>
            </div>
            <p><a data-popup-close="popup-1" href="#">Close</a></p>
            <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
        </div>


    </div>
</div>
<script>
function redisplaydoublechoice(y){

var x = document.getElementsByClassName("couleurs_no_basic");
var i;
for (i = 0; i < x.length; i++) {

      if(x[i].className != y){

      x[i].style.display = "block";
}

}

}
function doublechoice(y){

var x = document.getElementsByClassName("couleurs_no_basic");

var i;
for (i = 0; i < x.length; i++) {
      if(x[i].className !== y){
      x[i].style.display = "none";


}
else{
x[i].style.display = "block";
}

}
}

function setLibertyAttache(y, n3, id_input, urlthumb,z){
blnBlocage = true;


w = $('[class$="_3_nobasic"]');
y = y + "_3_nobasic";
var i;
for (i = 0; i < w.length; i++) {
    if(w[i].className == y){
    w[i].style.display = "";
    if (z == 1){

    document.getElementById(id_input).checked = true;
}
}
else{
if (z != 2){
w[i].style.display = "none";}
document.getElementById(id_input).checked = true;

}
if (z == 1){
document.getElementById('noeudpetit').style.backgroundImage = "url("+n3+")";
document.getElementById('panel-heading-plugin-3').style.background = "linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url("+urlthumb+")";
}




}}


function color_selected(imageColorName, y, couleurPochetteName, couleurBoutonsName, t){
blnBlocage = true;
var x = document.getElementsByClassName("couleur");
var i;
for (i = 0; i < x.length; i++) {
    if(x[i].correspondance == y){

    x[i].style.display = "none";

}
}

if (document.getElementById(imageColorName + '_boutons').style.display == 'block'){

}
else{document.getElementById(imageColorName + '_boutons').style.display = 'block';
if(t==1){
changeBoutons(couleurBoutonsName);}
document.getElementById(imageColorName + '_boutons').correspondance = y;


}
if(document.getElementById(imageColorName + '_pochette').style.display == 'block'){
}else{
document.getElementById(imageColorName + '_pochette').style.display = 'block';
if(t==1){
changePochette(couleurPochetteName);}
document.getElementById(imageColorName + '_pochette').correspondance = y;
}




}
function changePochette(url){
blnBlocage = true;
var route = '<img style="height: auto;max-height: 220px;" src="{{ asset('/upload/color/pochette/' ~ 'URL' )}}">'
route = route.replace("URL", url);
document.getElementById('pochette_img').innerHTML = route;


}
function changeBoutons(url){
blnBlocage = true;
var route = '<img style="max-height: 100px;margin-top: 1rem;" src="{{ asset('/upload/color/boutons/' ~ 'URL' )}}"></br><img style="max-height: 100px;margin-top: 1rem;" src="{{ asset('/upload/color/boutons/' ~ 'URL2' )}}">'
route = route.replace("URL", url);
route = route.replace("URL2", url);
document.getElementById('boutons_img').innerHTML = route;

}



    /*Script changement background url pour panelheading*/


    function get_data(i,panelheading, n1, n2, n3,noeud_place, c1, c2) {
    blnBlocage = true;
      document.getElementById(panelheading).style.backgroundImage = "linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ),url("+i+")";
      if (noeud_place == 'noeuddevant'){
      document.getElementById(noeud_place).style.backgroundImage = "url("+n1+")";
      document.getElementById('coffret_big_1').style.backgroundImage = "url("+c1+")";
      document.getElementById('Coffret_petit_1').style.backgroundImage = "url("+c2+")";

        }
      else if (noeud_place == 'noeudderriere') {
      document.getElementById(noeud_place).style.backgroundImage = "url("+n2+")";
      document.getElementById('coffret_big_2').style.backgroundImage = "url("+c1+")";
      document.getElementById('Coffret_petit_2').style.backgroundImage = "url("+c2+")";

      }
      else if (noeud_place == 'noeudpetit') {
      document.getElementById(noeud_place).style.backgroundImage = "url("+n3+")";

      }
      else if (noeud_place == 'coffret_1') {
        document.getElementById('coffret_big_3').style.backgroundImage = "url("+c1+")";
        document.getElementById('Coffret_petit_3').style.backgroundImage = "url("+c2+")";

      }
      else if (noeud_place == 'coffret_2') {
        document.getElementById('coffret_big_4').style.backgroundImage = "url("+c1+")";
        document.getElementById('Coffret_petit_4').style.backgroundImage = "url("+c2+")";

      }

      else {}

      /*document.getElementById('noeuddevant').style.backgroundImage = "url("+n1+")";
      document.getElementById('noeudderriere').style.backgroundImage = "url("+n2+")";
      document.getElementById('noeudpetit').style.backgroundImage = "url("+n3+")";*/





    }

$(document).ready(function(){
  $(".type-and-size").fadeOut();

    $(".selector_type").on("click", function() {
    blnBlocage = true;
        $(this).siblings('div').removeClass('active_1');
        $(this).addClass('active_1')
    })
    $(".selector_taille").on("click", function() {
    blnBlocage = true;
        $(this).siblings('div').removeClass('active_1');
        $(this).addClass('active_1')
    })



var flag=true;
$(".btn_TT").click(function(){
if (checkInfo()){
if(flag){
  $('.btn_TT').addClass('btn-alc_active').removeClass('btn-alc');
  $('.nbr2').addClass('numberCircle_active').removeClass('numberCircle');
  $('.btn_perso').addClass('btn-alc').removeClass('btn-alc_active');
  $('.nbr').addClass('numberCircle').removeClass('numberCircle_active');
$(".personnalisation_noeud").animate({left: '-90vw',
            opacity: '0.5' }, 1000, function() {
            blnBlocage = true;
                $(this).fadeOut(10);
                $(".type-and-size").fadeIn(3000);
             });$(".type-and-size").animate({left: '0vw',
                         opacity: '1' }, 1000, function() {
                             $(this).fadeIn(10);
                             $(".type-and-size").fadeIn(3000);
                          });flag=false;
};


           }});
/*$(".type-and-size").hide();*/
$(".btn_perso").click(function(){
blnBlocage = true;
  if(!flag){
    $('.btn_perso').addClass('btn-alc_active').removeClass('btn-alc');
    $('.nbr').addClass('numberCircle_active').removeClass('numberCircle');
    $('.btn_TT').addClass('btn-alc').removeClass('btn-alc_active');
    $('.nbr2').addClass('numberCircle').removeClass('numberCircle_active');
    $(".type-and-size").animate({left: '90vw',
                opacity: '0.5' }, 1000, function() {
                    $(this).fadeOut(1000);

                 });
                 $(".personnalisation_noeud").animate({left: '0vw',
                             opacity: '1' }, 1000, function() {
                                 $(this).fadeOut(10);
                                 $(".personnalisation_noeud").fadeIn(3000);
                              });


                 flag=true;

};});

/* La fonction des flêches qui était pas sur la maquette POUR LE NOEUD uniquement*/
$(".panel-heading-plugin",".main_personnalisation").click(function(){
  if ($('.fa-chevron-down',this).hasClass("fa-chevron-down")){
      $('.fa-chevron-up','.panel-heading','main_personnalisation').addClass('fa-chevron-down').removeClass('fa-chevron-up');

      $('.fa-chevron-down',this).addClass('fa-chevron-up').removeClass('fa-chevron-down');
    }
      else if ($('.fa-chevron-up',this).hasClass("fa-chevron-up")){
          $('.fa-chevron-up','.panel-heading','main_personnalisation').addClass('fa-chevron-down').removeClass('fa-chevron-up');

          }


})
/* La fonction des flêches qui était pas sur la maquette POUR LE COFFRET uniquement*/
$("#panel-heading-plugin-6").click(function(){
/*alert("je suis panel")*/
  if ($('.fa-chevron-down',"#panel-heading-plugin-6").hasClass("fa-chevron-down")){
      $('.fa-chevron-down',"#panel-heading-plugin-6").addClass('fa-chevron-up').removeClass('fa-chevron-down');
      $('.fa-chevron-up',"#panel-heading-plugin-6").css( "color", "#FFF" );
    }
      else if ($('.fa-chevron-up',"#panel-heading-plugin-6").hasClass("fa-chevron-up")){
        $('.fa-chevron-up',"#panel-heading-plugin-6").addClass('fa-chevron-down').removeClass('fa-chevron-up');
        $('.fa-chevron-down',"#panel-heading-plugin-6").css( "color", "rgb(37, 34, 91)" );

          }


})
$("#panel-heading-plugin-4").click(function(){
  if ($('.fa-chevron-down',"#panel-heading-plugin-4").hasClass("fa-chevron-down")){
      $('.fa-chevron-down',"#panel-heading-plugin-4").addClass('fa-chevron-up').removeClass('fa-chevron-down');
    }
      else if ($('.fa-chevron-up',"#panel-heading-plugin-4").hasClass("fa-chevron-up")){
        $('.fa-chevron-up',"#panel-heading-plugin-4").addClass('fa-chevron-down').removeClass('fa-chevron-up');

          }


})

$("#panel-heading-plugin-5").click(function(){
/*alert("je suis panel")*/
  if ($('.fa-chevron-down',"#panel-heading-plugin-5").hasClass("fa-chevron-down")){
      $('.fa-chevron-down',"#panel-heading-plugin-5").addClass('fa-chevron-up').removeClass('fa-chevron-down');

    }
      else if ($('.fa-chevron-up',"#panel-heading-plugin-5").hasClass("fa-chevron-up")){
        $('.fa-chevron-up',"#panel-heading-plugin-5").addClass('fa-chevron-down').removeClass('fa-chevron-up');

          }


})
$("#panel-heading-plugin-7").click(function(){
/*alert("je suis panel")*/
  if ($('.fa-chevron-down',"#panel-heading-plugin-7").hasClass("fa-chevron-down")){
      $('.fa-chevron-down',"#panel-heading-plugin-7").addClass('fa-chevron-up').removeClass('fa-chevron-down');
      $('.fa-chevron-up',"#panel-heading-plugin-7").css( "color", "#FFF" );

    }
      else if ($('.fa-chevron-up',"#panel-heading-plugin-7").hasClass("fa-chevron-up")){
        $('.fa-chevron-up',"#panel-heading-plugin-7").addClass('fa-chevron-down').removeClass('fa-chevron-up');
        $('.fa-chevron-down',"#panel-heading-plugin-7").css( "color", "rgb(37, 34, 91)" );
          }


})
$("#panel-heading-plugin-8").click(function(){
/*alert("je suis panel")*/
  if ($('.fa-chevron-down',"#panel-heading-plugin-8").hasClass("fa-chevron-down")){
      $('.fa-chevron-down',"#panel-heading-plugin-8").addClass('fa-chevron-up').removeClass('fa-chevron-down');
      $('.fa-chevron-up',"#panel-heading-plugin-8").css( "color", "#FFF" );
    }
      else if ($('.fa-chevron-up',"#panel-heading-plugin-8").hasClass("fa-chevron-up")){
        $('.fa-chevron-up',"#panel-heading-plugin-8").addClass('fa-chevron-down').removeClass('fa-chevron-up');
        $('.fa-chevron-down',"#panel-heading-plugin-8").css( "color", "rgb(37, 34, 91)" );

          }


})



    //----- OPEN
    $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

        e.preventDefault();
    });

    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

        e.preventDefault();
    });

});
/*La fonction de cyp */

function open_div(i){

if (i == 'coffret1'){

  if(document.getElementById('collapse_coffret').className == 'panel-collapse collapse in'){
  document.getElementById('collapse_coffret').className='panel-collapse collapse';
  document.getElementById('panel-heading-plugin-6').style.backgroundColor = "#eae9e9";
  document.getElementById('titre_coffret1').style.color = "#25225B";
  document.getElementById('input_coffret1').checked = false;
  document.getElementById('popin_coffret1').style.display = 'none';
  document.getElementById('popin_coffret2').style.display = 'none';
  document.getElementById('input_coffret2').checked = false;

  var name = 'color4';
  $('input[name=' + name + ']').prop('checked',false);
  document.getElementById('panel-heading-plugin-4').style.backgroundImage = 'none';
  var name = 'color5';
  $('input[name=' + name + ']').prop('checked',false);
  document.getElementById('input_coffret2').disabled = true;


}
else {
document.getElementById('collapse_coffret').className='panel-collapse collapse in';
document.getElementById('panel-heading-plugin-6').style.backgroundColor = "#A94141";
document.getElementById('titre_coffret1').style.color = "#FFF";
document.getElementById('input_coffret1').checked = true;
document.getElementById('popin_coffret1').style.display = 'block';

document.getElementById('input_coffret2').disabled = false;

}
}
else if(i == 'coffret2'){

if(document.getElementById('collapse_coffret2').className == 'panel-collapse collapse in'){
document.getElementById('collapse_coffret2').className='panel-collapse collapse';
document.getElementById('input_coffret2').checked = false;
document.getElementById('popin_coffret2').style.display = 'none';
var name = 'color5';

document.querySelector('input[name="color5"]:checked').value = '0';
document.getElementById('panel-heading-plugin-5').style.backgroundImage = 'none';
$('input[name=' + name + ']').prop('checked',false);


}
else {
document.getElementById('popin_coffret2').style.display = 'block';

document.getElementById('collapse_coffret2').className='panel-collapse collapse in';

document.getElementById('input_coffret2').checked = true;

}
}

else if(i == 'pochette'){
if(document.getElementById('collapse_pochette').className == 'panel-collapse collapse in'){
document.getElementById('collapse_pochette').className='panel-collapse collapse';
document.getElementById('panel-heading-plugin-7').style.backgroundColor = "#eae9e9";
document.getElementById('titre_pochette').style.color = "#25225B";
document.getElementById('popin_pochette').style.display = 'none';
document.getElementById('input_pochette').checked = false;
document.getElementById('input_pochette_popin').checked = false;


var name = 'color6';
$('input[name=' + name + ']').prop('checked',false);
}
else {
document.getElementById('collapse_pochette').className='panel-collapse collapse in';
document.getElementById('panel-heading-plugin-7').style.backgroundColor = "rgb(36, 34, 88)";
document.getElementById('titre_pochette').style.color = "#FFF";
document.getElementById('input_pochette').checked = true;
document.getElementById('popin_pochette').style.display = 'block';


}
}


else if(i == "boutons"){
if(document.getElementById('collapse_bouton').className == 'panel-collapse collapse in'){
document.getElementById('collapse_bouton').className='panel-collapse collapse';
document.getElementById('panel-heading-plugin-8').style.backgroundColor = "#eae9e9";
document.getElementById('titre_boutons').style.color = "#25225B";
document.getElementById('input_boutons').checked = false;
document.getElementById('popin_boutons').style.display = 'none';

var name = 'color7';
$('input[name=' + name + ']').prop('checked',false);

}
else {
document.getElementById('popin_boutons').style.display = 'block';

document.getElementById('collapse_bouton').className='panel-collapse collapse in';
document.getElementById('panel-heading-plugin-8').style.backgroundColor = "#A94141";
document.getElementById('titre_boutons').style.color = "#FFF";
document.getElementById('input_boutons').checked = true;



}
}

total = {{ noeud_price }};
if( document.getElementById('input_coffret1').checked == true){
total = total + {{ coffret1_price }};
}
if( document.getElementById('input_coffret2').checked == true){
total = total + {{ coffret2_price }};
}
if( document.getElementById('input_boutons').checked == true){
total = total + {{ boutons_price }};
}
if( document.getElementById('input_pochette').checked == true){
total = total + {{ pochette_price }};
}
document.getElementById("total").innerHTML = total.toFixed(2)+'€';
document.getElementById("total2").innerHTML = total.toFixed(2)+'€';

document.getElementById("totalXquantity").innerHTML = "Total : "+total.toFixed(2)+'€';


}
function checkInfo(){
var type = 0;
var colorNoeud1 = 0;
var colorNoeud2 = 0;
var colorNoeud3 = 0;
var colorCoffret1 = 0;
var colorCoffret2 = 0;
var colorPochette = 0;
var colorBoutons = 0;
var taille = 'no_size';
var isValidBoutons = false;
var isValidCoffret2 = false;
var isValidCoffret1 = false;
var isValidPochette = false;
var isValidAccessoire = true;
var isValidTaille = false;

var textCoffret2 = '';
var textCoffret1 = '';
var textPochette = '';
var textBouton = '';
var textAccessoire = '';
var textTaille = '';


if (document.querySelector('input[name="color1"]:checked') == null || document.querySelector('input[name="color2"]:checked') == null || document.querySelector('input[name="color3"]:checked') == null){
document.getElementById('errorMessage').innerHTML = 'Veuillez choisir les trois couleurs du noeud';
document.getElementById('errorMessage').style.display = 'block';
return false;

}


else{
var colorNoeud1 = document.querySelector('input[name="color1"]:checked').value;
var colorNoeud2 = document.querySelector('input[name="color2"]:checked').value;
var colorNoeud3 = document.querySelector('input[name="color3"]:checked').value;

if (document.getElementById("input_coffret1").checked) {
          if (document.querySelector('input[name="color4"]:checked') !== null){
                var colorCoffret1 = document.querySelector('input[name="color4"]:checked').value;
                var isValidCoffret1 = true;
      }

          else{
          var textCoffret1 = 'Aucune couleur séléctionnée pour la couleur 1 du coffret <br> ';


          }}
          else {
          var isValidCoffret1 = true;
          }

if (document.getElementById("input_coffret2").checked) {
      if (document.querySelector('input[name="color5"]:checked') !== null){
            var colorCoffret2 = document.querySelector('input[name="color5"]:checked').value;
            var isValidCoffret2 = true;

}
else{ var textCoffret2 = 'Aucune couleur séléctionnée pour la couleur 2 du coffret <br> ';

}

}
else {
var isValidCoffret2 = true;
}


if (document.getElementById("input_pochette").checked) {
      if (document.querySelector('input[name="color6"]:checked') !== null){

            var colorPochette = document.querySelector('input[name="color6"]:checked').value;
            var isValidPochette = true;
}
else{var textPochette = 'Aucune couleur séléctionnée pour la pochette <br> ';

}

}
else {
var isValidPochette = true;
}

if (document.getElementById("input_boutons").checked) {
if (document.querySelector('input[name="color7"]:checked') !== null){

            var colorBoutons = document.querySelector('input[name="color7"]:checked').value;
            var isValidBoutons = true;
}
else{
var textBouton = 'Aucune couleur séléctionnée pour les boutons <br> ';

}
}
else{
var isValidBoutons = true;
}


}


if (isValidBoutons == false || isValidCoffret2 == false || isValidCoffret1 == false || isValidPochette == false ){
var text =  textTaille+textAccessoire+textBouton+textCoffret1+textCoffret2+textPochette;

document.getElementById('errorMessage').innerHTML = text;
document.getElementById('errorMessage').style.display = 'block';
return false;
}
else{
document.getElementById('errorMessage').style.display = 'none';
return true;
}
}
function addToCart()
{
blnBlocage = false;
var type = 0;
var colorNoeud1 = 0;
var colorNoeud2 = 0;
var colorNoeud3 = 0;
var colorCoffret1 = 0;
var colorCoffret2 = 0;
var colorPochette = 0;
var colorBoutons = 0;
var taille = 'no_size';
var isValidBoutons = false;
var isValidCoffret2 = false;
var isValidCoffret1 = false;
var isValidPochette = false;
var isValidAccessoire = true;
var isValidTaille = false;

var textCoffret2 = '';
var textCoffret1 = '';
var textPochette = '';
var textBouton = '';
var textAccessoire = '';
var textTaille = '';


if (document.querySelector('input[name="color1"]:checked') == null || document.querySelector('input[name="color2"]:checked') == null || document.querySelector('input[name="color3"]:checked') == null){
alert ('Veuillez choisir vos couleur de noeud');
return false;

}


else{
var colorNoeud1 = document.querySelector('input[name="color1"]:checked').value;
var colorNoeud2 = document.querySelector('input[name="color2"]:checked').value;
var colorNoeud3 = document.querySelector('input[name="color3"]:checked').value;

if (document.getElementById("input_coffret1").checked) {
          if (document.querySelector('input[name="color4"]:checked') !== null){
                var colorCoffret1 = document.querySelector('input[name="color4"]:checked').value;
                var isValidCoffret1 = true;
      }

          else{
          var textCoffret1 = 'Aucune couleur séléctionnée pour la couleur 1 du coffret \n ';


          }}
          else {
          var isValidCoffret1 = true;
          }

if (document.getElementById("input_coffret2").checked) {
      if (document.querySelector('input[name="color5"]:checked') !== null){
            var colorCoffret2 = document.querySelector('input[name="color5"]:checked').value;
            var isValidCoffret2 = true;

}
else{ var textCoffret2 = 'Aucune couleur séléctionnée pour la couleur 2 du coffret \n ';

}

}
else {
var isValidCoffret2 = true;
}


if (document.getElementById("input_pochette").checked) {
      if (document.querySelector('input[name="color6"]:checked') !== null){

            var colorPochette = document.querySelector('input[name="color6"]:checked').value;
            var isValidPochette = true;
}
else{var textPochette = 'Aucune couleur séléctionnée pour la pochette \n ';

}

}
else {
var isValidPochette = true;
}

if (document.getElementById("input_boutons").checked) {
if (document.querySelector('input[name="color7"]:checked') !== null){

            var colorBoutons = document.querySelector('input[name="color7"]:checked').value;
            var isValidBoutons = true;
}
else{
var textBouton = 'Aucune couleur séléctionnée pour les boutons \n ';

}
}
else {
var isValidBoutons = true;
}

if (document.querySelector('input[name="radio_accessoire"]:checked') !== null){
var type = document.querySelector('input[name="radio_accessoire"]:checked').value;
var isValidAccessoire = true;

}
else{
var textAccessoire = 'Aucun accessoire selectionné  \n';
}

if (document.querySelector('input[name="radio_taille"]:checked') !== null){

var taille = document.querySelector('input[name="radio_taille"]:checked').value;
var isValidTaille = true;

}
else{
var textTaille = 'Aucune taille sélectionnée  \n';

}

}


if (isValidBoutons == false || isValidCoffret2 == false || isValidCoffret1 == false || isValidPochette == false || isValidTaille == false || isValidAccessoire == false ){



var text = 'Erreur, merci de vérifier les options ci-dessous : \n '+textTaille+textAccessoire+textBouton+textCoffret1+textCoffret2+textPochette;
alert(text);
return false;
}

var quantity = 1;
var quantity = document.getElementById('quantitynoeud').value;

var route = "{{ path('addPersotoCart', {'quantity': 'QUANTITY1', 'couleurNoeud1' : 'COULEURNOEUD12', 'couleurNoeud2': 'COULEURNOEUD22', 'couleurNoeud3' : 'COULEURNOEUD32', 'type': 'TYPE2', 'taille' : 'TAILLE2', 'couleurCoffret1' : 'COULEURCOFFRET12', 'couleurCoffret2' : 'COULEURCOFFRET22', 'couleurPochette' : 'COULEURPOCHETTE2', 'couleurBoutons' : 'COULEURBOUTONS2', 'collection': selected_collection })}}";
route = route.replace("COULEURNOEUD12", colorNoeud2);
route = route.replace("COULEURNOEUD22", colorNoeud1);
route = route.replace("COULEURNOEUD32", colorNoeud3);
route = route.replace("TYPE2", type);
route = route.replace("QUANTITY1", quantity);
route = route.replace("TAILLE2", taille);
route = route.replace("COULEURCOFFRET12", colorCoffret1);
route = route.replace("COULEURCOFFRET22", colorCoffret2);
route = route.replace("COULEURPOCHETTE2", colorPochette);
route = route.replace("COULEURBOUTONS2", colorBoutons);


window.location = route;
}


</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>

{% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %}
{% if colors == collection.firstColor %}
document.getElementById('{{ colors.imageColorName }}_2').click();
{% if colors.isBasic == false %}
document.getElementById('{{ colors.imageColorName }}_6').click();
document.getElementById('{{ colors.imageColorName }}_7').click();

{% endif %}
{% elseif colors == collection.secondColor %}

document.getElementById('{{ colors.imageColorName }}_1').click();
{% if colors.isBasic == false %}
document.getElementById('{{ colors.imageColorName }}_6').click();
document.getElementById('{{ colors.imageColorName }}_7').click();

{% endif %}
{% elseif colors == collection.thirdColor %}

document.getElementById('{{ colors.imageColorName }}_3').click();
{% if colors.isBasic == false %}
document.getElementById('{{ colors.imageColorName }}_6').click();
document.getElementById('{{ colors.imageColorName }}_7').click();

{% endif %}


{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

</body>
{% endblock %}
