{% extends 'base.html.twig' %} {% block body %}


<body id="page-top" ng-app="noeudPap" ng-controller="noeudPapController as noeudPap">
    <!-- Partie 1: Customisation du noeud DEBUT-->

    <div class="container text-center">
        <h1>CREER SON NOEUD</h1></br>
        <ul rel="sequence" class="seq-pagination list-inline" role="navigation" aria-label="Pagination">
            <li><a href="#step1" rel="step1" title="Go to step 1"><h3>Produit & taille</h3></a></li>
            <li><a href="#step2" rel="step2" title="Go to step 2"><h3>Customisation</h3></a></li>
        </ul>
    </div>
    <div class="container prix text-center" style="border-bottom: 2px solid;margin-bottom: 30px;">
        <h3>Total: <!--Cyprien: Ici twig prix --></h3>
    </div>
    <!--<div id="sequence" class="seq">

    <div class="seq-screen">
      <ul class="seq-canvas">
<!--------------------------------------------------------------------------------------------------------------------------------
        <li class="seq-step1 seq-in" id="step1">
          <div class="seq-content">
            <h2 data-seq class="seq-title">Step 1</h2>
          </div>
        </li>
<!--------------------------------------------------------------------------------------------------------------------------------
        <li class="seq-step2" id="step2">
          <div class="seq-content container">
            <div data-seq class="seq-title">


              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                    <!-- Choix de la collection--
                    <p>la vie de ma mére</p>
                  </div>
                </div>
              <div class="row">
                  <div class="col-sm-6">
                    <!-- Aperçu noeud--
                    Aperçu noeud
                  </div>
                  <div class="col-sm-6">
                    <!-- Choix des couleurs --
                    choix des couleurs
                  </div>
                </div>
              </div>

            </div>
          </div>
        </li>
<!--------------------------------------------------------------------------------------------------------------------------------
     </ul>
    </div>

    <ul rel="sequence" class="seq-pagination" role="navigation" aria-label="Pagination">
      <li><a href="#step1" rel="step1" title="Go to step 1">Step 1</a></li>
      <li><a href="#step2" rel="step2" title="Go to step 2">Step 2</a></li>
    </ul>
  </div>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 choix_collection no_padding">
                <!-- Choix de la collection-->
                <h4>Collection LONDON</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 no_padding">
                <!-- Aperçu noeud-->
                <div class="noeud_position">
                    <div class="noeud_devant" style="background:url({{ asset('/upload/color/noeud1/57bae578ae563.png')}});"></div>
                    <div class="noeud_derriere" style="background:url({{ asset('/upload/color/noeud2/57bae578afe0f.png')}});"></div>
                    <div class="noeud_petit" style="background:url({{ asset('/upload/color/noeud3/57bae578b16f5.png')}});"></div>
                </div>
                <!-- Aperçu noeud- FIN-->
            </div>
            <div class="col-sm-6 no_padding">
                <!-- Choix des couleurs -->
                <div class="container accordeon_noeud no_padding">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div id="panel-heading-plugin-1" class="panel-heading panel-heading-plugin" style="background:url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Face 1</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="img-thumbnails pull-left">
                                        {% set X1 = 1 %} {% set selected_collection = 5 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                        <div id="MyInputs" class="row">
                                            {% endif %}
                                            <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_1 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_1" name="color1" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}')" class="radio_colors" value="{{ colors.id }}" />
                                                <label class="{{ colors.name }}_1" for="{{ colors.imageColorName }}_1"></label></a>
                                            </div>
                                            <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                            {% set X1 = X1+1 %} {% if X1 == 6 %}
                                        </div>
                                        {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div id="panel-heading-plugin-2" class="panel-heading panel-heading-plugin">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Face 2</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse2"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">bite 2</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div id="panel-heading-plugin-3" class="panel-heading panel-heading-plugin">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Noeud</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse3"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">bite 3</div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Choix des couleurs FIN-->
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------COFFRET DEBUT -------->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 choix_collection no_padding">
                <!-- Choix de la collection-->
                <h4>Coffret 2 couleurs supplémentaires</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 no_padding">
                <!-- Aperçu noeud-->
                <div class="noeud_position">
                    <div class="noeud_devant" style="background:url({{ asset('/upload/color/noeud1/57bae578ae563.png')}});"></div>
                    <div class="noeud_derriere" style="background:url({{ asset('/upload/color/noeud2/57bae578afe0f.png')}});"></div>
                    <div class="noeud_petit" style="background:url({{ asset('/upload/color/noeud3/57bae578b16f5.png')}});"></div>
                </div>
                <!-- Aperçu noeud- FIN-->
            </div>
            <div class="col-sm-6 no_padding">
                <!-- Choix des couleurs -->
                <div class="container accordeon_noeud no_padding">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row text-center">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                <a>Face 1</a></h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="img-thumbnails pull-left">
                                        {% set X1 = 1 %} {% set selected_collection = 5 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                        <div class="row">
                                            {% endif %}
                                            <div class="col-sm-3 text-center color_token no_padding thumbnail_size">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_1 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_1" name="color1" onclick="get_data('abc')" class="radio_colors" value="{{ colors.id }}" />
                                                <label class="{{ colors.name }}_1" for="{{ colors.imageColorName }}_1"></label></a>
                                            </div>
                                            <div class="col-sm-3 text-center color_token no_padding thumbnail_size"></div>
                                            {% set X1 = X1+1 %} {% if X1 == 6 %}
                                        </div>
                                        {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row text-center">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                <a>Face 2</a></h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse2"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">bite 2</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row text-center">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                <a>Noeud</a></h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse3"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">bite 3</div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Choix des couleurs FIN-->
            </div>
        </div>
    </div>

    <!-- champs cachés -->

    {{ form_start(form) }}

   <div style="display:none">

    <div class="form-group" >
        {{ form_label(form.product, "Produit", {'label_attr': {'class': '', 'id': 'dropdown_product' }}) }}
        {{ form_errors(form.product) }}
        {{ form_widget(form.product, {'attr': {'class': 'form-control', 'id': 'dropdown_product'}}) }}

    </div>

    <div class="form-group" >
        {{ form_label(form.accessoire, "Accessoire", {'label_attr': {'class': 'radio'}}) }}
        {{ form_errors(form.accessoire) }}
        {{ form_widget(form.accessoire, {'attr': {'class': ''}}) }}

    </div>


    <div class="form-group" >
        {{ form_label(form.quantity, "Quantité", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.quantity) }}
        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color1" style="display:block">
        {{ form_label(form.color1, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color1) }}
        {{ form_widget(form.color1, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color2" style="display:block">
        {{ form_label(form.color2, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color2) }}
        {{ form_widget(form.color2, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color3" style="display:block">
        {{ form_label(form.color3, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color3) }}
        {{ form_widget(form.color3, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color4" style="display:block">
        {{ form_label(form.color4, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color4) }}
        {{ form_widget(form.color4, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color5" style="display:block">
        {{ form_label(form.color5, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color5) }}
        {{ form_widget(form.color5, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color6" style="display:none">
        {{ form_label(form.color6, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color6) }}
        {{ form_widget(form.color6, {'attr': {'class': 'form-control'}}) }}

    </div>



    <div class="form-group" id="color7" style="display:none">
        {{ form_label(form.color7, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color7) }}
        {{ form_widget(form.color7, {'attr': {'class': 'form-control'}}) }}

    </div>


    <div class="form-group" id="color8" style="display:none">
        {{ form_label(form.color8, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color8) }}
        {{ form_widget(form.color8, {'attr': {'class': 'form-control'}}) }}

    </div>



    <div class="form-group" id="color9" style="display:none">
        {{ form_label(form.color9, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color9) }}
        {{ form_widget(form.color9, {'attr': {'class': 'form-control'}}) }}

    </div>



    <div class="form-group" id="color10" style="display:none">
        {{ form_label(form.color10, "color", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.color10) }}
        {{ form_widget(form.color10, {'attr': {'class': 'form-control'}}) }}

    </div>
    <div class="form-group">
        {{ form_label(form.size, "Taille", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.size) }}
        {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}

    </div>
</div>

    {{ form_end(form) }}

<script>
    /*Script changement background url pour panelheading*/

    function get_data(i) {
      alert(i);
      document.getElementById('panel-heading-plugin-1').style.backgroundImage = "url('img_tree.png')";
        if (document.getElementById("checkbox-coffret").checked) {
            document.getElementById("add_added_product_product").value = "{{ product_coffret.id }}";
            document.getElementById("add_added_product_color1").value = document.querySelector('input[name="color1"]:checked').value;
            document.getElementById("add_added_product_color2").value = document.querySelector('input[name="color2"]:checked').value;
            document.getElementById("add_added_product_color3").value = document.querySelector('input[name="color3"]:checked').value;
            document.getElementById("add_added_product_color4").value = document.querySelector('input[name="color4"]:checked').value;
            document.getElementById("add_added_product_color5").value = document.querySelector('input[name="color5"]:checked').value;


        } else {
            document.getElementById("add_added_product_product").value = "{{ product_noeud.id }}";
            document.getElementById("add_added_product_color1").value = document.querySelector('input[name="color1"]:checked').value;
            document.getElementById("add_added_product_color2").value = document.querySelector('input[name="color2"]:checked').value;
            document.getElementById("add_added_product_color3").value = document.querySelector('input[name="color3"]:checked').value;

        }
        document.getElementById("add_added_product_accessoire").value = document.querySelector('input[name="radio_accessoire"]:checked').value;
        document.getElementById("add_added_product_quantity").value = 1;
        document.getElementById("add_added_product_size").value = document.querySelector('input[name="radio_taille"]:checked').value;
        alert("lol");
    }




    /*function change_background_all() {
        var bg = document.getElementById("57bae5c2cf2cb.png_1").style.backgroundImage;
        bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "");
        $('#panel-heading-plugin-1').css("background-image",
            "url(/agathevousgate/web/upload/color/thumbnail/57bae59b893de.png)");
        var img = document.getElementById('panel-heading-plugin-1'),
            style = img.currentStyle || window.getComputedStyle(img, false),
            bi = style.backgroundImage.slice(21, -1);
        alert(bi);
        /*$('#panel-heading-plugin-1').css("background-image",
            "url(bi)");*
        document.getElementById('panel-heading-plugin-1').style.backgroundImage = "url('img_tree.png')";
    }*/
</script>
    <script src="{{ asset('scripts/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('scripts/hammer.min.js') }}"></script>
    <script src="{{ asset('scripts/sequence.min.js') }}"></script>
    <script src="{{ asset('scripts/sequence-theme.starter-basic.js') }}"></script>


</body>
{% endblock %}
