{% extends 'base.html.twig' %} {% block body %}


<body id="page-top" ng-app="noeudPap" ng-controller="noeudPapController as noeudPap">
    <!-- Partie 1: Customisation du noeud DEBUT-->

    <div class="container text-center">
        <h1>CREER SON NOEUD</h1></br>
        <ul rel="sequence" class="seq-pagination list-inline" role="navigation" aria-label="Pagination">
            <li><button class="btn btn-alc_active btn_perso" role="button"><div class="nbr numberCircle_active">1</div>Customization</a></li>
            <li><button class="btn btn-alc btn_TT" role="button"><div class="nbr2 numberCircle">2</div>Type & taille de noeud</a></li>

        </ul>
    </div>



  <!-- Page Produit & Taille -->
<div class="main_page">

<section class="personnalisation_noeud">

    <div class="container main_personnalisation">
        <div class="row">
            <div class="col-sm-12 col-xs-12 choix_collection no_padding">
                <!-- Choix de la collection-->
                <h4>Noeud <i class="fa fa-question-circle fa-2" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ici on explique"></i></h4>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 no_padding">
                <!-- Aperçu noeud-->
                <div class="noeud_position">
                    <div id="noeuddevant" class="noeud_devant" style="background:url({{ asset('/upload/color/noeud1/57bae578ae563.png')}});"></div>
                    <div id="noeudderriere" class="noeud_derriere" style="background:url({{ asset('/upload/color/noeud2/57bae578afe0f.png')}});"></div>
                    <div id="noeudpetit" class="noeud_petit" style="background:url({{ asset('/upload/color/noeud3/57bae578b16f5.png')}});"></div>
                </div>
                <!-- Aperçu noeud- FIN-->
            </div>
            <div class="col-sm-6 no_padding">
                <!-- Choix des couleurs -->
                <div class="container accordeon_noeud no_padding">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div id="panel-heading-plugin-1" class="panel-heading panel-heading-plugin" style="background:url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Couleur 1</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="img-thumbnails pull-left">
                                        {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                        <div id="MyInputs" class="row">
                                            {% endif %}
                                            <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_1 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_1" name="color1" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-1', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeuddevant' )" class="radio_colors" value="{{ colors.id }}" />
                                                <label class="{{ colors.name }}_1" for="{{ colors.imageColorName }}_1"></label></a>
                                            </div>
                                            <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                            {% set X1 = X1+1 %} {% if X1 == 7 %}
                                        </div>
                                        {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div id="panel-heading-plugin-2" class="panel-heading panel-heading-plugin">
                                <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Couleur 2</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                      <div class="row">
                                          {% endif %}
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_2 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_2" name="color2" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-2', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudderriere' )" class="radio_colors" value="{{ colors.id }}" />
                                              <label class="{{ colors.name }}_2" for="{{ colors.imageColorName }}_2"></label></a>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                  </ul></div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div id="panel-heading-plugin-3" class="panel-heading panel-heading-plugin">
                                <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    <div class="col-sm-11">
                                        <h4 class="panel-title">
                Attache centrale</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                      <div class="row">
                                          {% endif %}
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_3 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_3" name="color3" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-3', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudpetit' )" class="radio_colors" value="{{ colors.id }}" />
                                              <label class="{{ colors.name }}_3" for="{{ colors.imageColorName }}_3"></label></a>
                                          </div>
                                          <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                  </ul></div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Choix des couleurs FIN-->
            </div>
        </div>
</div>
    <!--------------------------------------------------------------------------------------------------------------------------COFFRET DEBUT -------->
    <!--------------------------------------------------------------------------------------------------------------------------COFFRET DEBUT -------->
    <!--------------------------------------------------------------------------------------------------------------------------COFFRET DEBUT ------->
<section class="Coffret">
    <div class="container no_padding">
        <div class="panel panel-default">
            <div id="panel-heading-plugin-6" class="panel-heading panel-heading-plugin">
                <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion_coffret" href="#collapse_coffret" style="margin-right: 0px;">
                    <div class="col-sm-11">
                        <h4 class="panel-title" style="width: 33em; text-shadow:none; background-color:rgba(0,0,0,0);">
                    Ajouter une à deux couleurs supplémentaire pour réaliser un coffret <i class="fa fa-question-circle fa-2" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ici on explique"></i></h4>
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                    </div>
                </div>
            </div>
            <div id="collapse_coffret" class="panel-collapse collapse">
                <div class="panel-body no_padding" style="padding-top: 0px; background-color: rgb(255, 255, 255);">
                  <div class="container no_padding">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-sm-6 no_padding"><!--Aperçu coffret-->
                            <img style="width:100%;height:auto" src="{{ asset('/img/coffret.png')}}">
                        </div>
                        <div class="col-sm-6 no_padding"><!--choix couleur coffretcoffret-->
                          <div class="container accordeon_noeud no_padding">
                              <div class="panel-group" id="accordion_coffret">
                                  <div class="panel panel-default">
                                      <div id="panel-heading-plugin-4" class="panel-heading panel-heading-plugin" style="background:url({{ asset('/upload/color/thumbnail/57bae578acaad.png')}});">
                                          <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion_coffret" href="#collapse_coffret1" style="margin-right: 0px;">
                                              <div class="col-sm-11">
                                                  <h4 class="panel-title" style="width: 13em;">
                          Couleur 3 - combinisain: 27</h4>
                                              </div>
                                              <div class="col-sm-1 text-right">
                                                  <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="collapse_coffret1" class="panel-collapse collapse in">
                                          <div class="panel-body">
                                              <ul class="img-thumbnails pull-left">
                                                  {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                                  <div id="MyInputs" class="row">
                                                      {% endif %}
                                                      <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                                          <style>
                                                              input[type="radio"] + .{{ colors.name }}_4 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                          </style>
                                                          <input type="radio" id="{{ colors.imageColorName }}_4" name="color4" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-4', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','coffret_1' )" class="radio_colors" value="{{ colors.id }}" />
                                                          <label class="{{ colors.name }}_4" for="{{ colors.imageColorName }}_4"></label></a>
                                                      </div>
                                                      <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                                      {% set X1 = X1+1 %} {% if X1 == 7 %}
                                                  </div>
                                                  {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                              </ul>
                                          </div>
                                      </div>
                                  </div>


                                  <div class="panel panel-default">
                                      <div id="panel-heading-plugin-5" class="panel-heading panel-heading-plugin">
                                          <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion_coffret" href="#collapse_coffret2">
                                              <div class="col-sm-11">
                                                  <h4 class="panel-title" style="width: 14em;">
                          Couleur 4 - Combinaisons: 128</h4>
                                              </div>
                                              <div class="col-sm-1">
                                                  <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="collapse_coffret2" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <ul class="img-thumbnails pull-left">
                                                {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                                <div class="row">
                                                    {% endif %}
                                                    <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                                        <style>
                                                            input[type="radio"] + .{{ colors.name }}_5 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                        </style>
                                                        <input type="radio" id="{{ colors.imageColorName }}_5" name="color5" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-5', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','coffret_2' )" class="radio_colors" value="{{ colors.id }}" />
                                                        <label class="{{ colors.name }}_5" for="{{ colors.imageColorName }}_5"></label></a>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size"></div>
                                                    {% set X1 = X1+1 %} {% if X1 == 7 %}
                                                </div>
                                                {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                            </ul></div>
                                      </div>
                                  </div>



                              </div>
                          </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</section>
<section id="pochette_bouton">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 no_padding">
                <!--Pochette-->
                <div class="panel panel-default">
                    <div id="panel-heading-plugin-7" class="panel-heading panel-heading-plugin">
                        <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion_pochette" href="#collapse_pochette" style="margin-right: 0px;">
                            <div class="col-sm-11">
                                <h4 class="panel-title" style="width: 4.5em;">
          Pochette</h4>
                            </div>
                            <div class="col-sm-1">
                                <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_pochette" class="panel-collapse collapse">
                        <div class="panel-body no_padding" style="padding-top: 0px; background-color: rgb(255, 255, 255);">
                            <!--<div class="container no_padding">-->
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-sm-9">
                                    <!--Aperçu pochette-->
                                    <img style="width:100%;height:auto" src="{{ asset('/img/pochette.png')}}">
                                </div>
                                <div class="col-sm-3">
                                    <!--choix de couleur-->
                                    <ul class="img-thumbnails pull-left">

                                        {% set X1 = 1 %} {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                        <div id="MyInputs" class="row">
                                            {% endif %}
                                            <div class="col-sm-1 col-xs-1 text-center color_token no_padding thumbnail_size">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_6 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_6" name="color6" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-9', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','coffret_2' )" class="radio_colors" value="{{ colors.id }}" />
                                                <label class="{{ colors.name }}_6" for="{{ colors.imageColorName }}_6"></label></a>
                                            </div>


                                        </div>
                                         {% endfor %} {% endif %} {% endfor %}
                                    </ul>

                                </div>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 no_padding">
                <!--Bouton de manchette-->
                <div class="panel panel-default">
                    <div id="panel-heading-plugin-8" class="panel-heading panel-heading-plugin">
                        <div class="row" aria-hidden="true" data-toggle="collapse" data-parent="#accordion_bouton" href="#collapse_bouton" style="margin-right: 0px;">
                            <div class="col-sm-11">
                                <h4 class="panel-title" style="width: 11em;">
          Bouton de manchettes</h4>
                            </div>
                            <div class="col-sm-1">
                                <i class="fa fa-2x fa-chevron-down no_padding" style="color: rgb(255, 255, 255);"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_bouton" class="panel-collapse collapse">
                        <div class="panel-body no_padding" style="padding-top: 0px; background-color: rgb(255, 255, 255);">
                            <!-- Nope ?<div class="container no_padding">-->
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">

                                <div class="col-sm-9 text-center">
                                    <!--Aperçu bouton-->
                                    <img style="max-height: 250px;" src="{{ asset('/img/boutons.png')}}">
                                </div>
                                <div class="col-sm-3">
                                    <!--choix de couleur-->
                                    <ul class="img-thumbnails pull-left">
                                         {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %}
                                        <div class="row">

                                            <div class="col-sm-12 col-xs-12 text-center color_token no_padding thumbnail_size">
                                                <style>
                                                    input[type="radio"] + .{{ colors.name }}_7 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                                </style>
                                                <input type="radio" id="{{ colors.imageColorName }}_7" name="color7" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-8', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','coffret_2' )" class="radio_colors" value="{{ colors.id }}" />
                                                <label class="{{ colors.name }}_7" for="{{ colors.imageColorName }}_7"></label></a>
                                            </div>


                                        </div>
                                         {% endfor %} {% endif %} {% endfor %}
                                    </ul>
                                    </div>
                                </div>
                            <!--</div> Nope ?-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Résumé_prix">
    <div class="container no_padding">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="panel panel-default" style="margin-top:20px; background-color:white;">
                    <div class="panel-heading blue_recap" style="border-top: 0px">
                        <div class="row ">
                            <div class="col-sm-8">
                                <h3 class="panel-title" style="color:white!important;">
                             Noeud
                          </h3>
                          </div>
                          <div class="col-sm-3 text-right">
                              <h3 style="color: rgb(255, 255, 255);" class="panel-title">29€</h3>
                          </div>


                            <div class="col-sm-1">
                                <input type="radio" disabled>
                            </div>
                        </div>

                    </div>
                    <div class="panel-heading blue_recap">
                        <div class="row ">
                            <div class="col-sm-8">
                                <h3 class="panel-title" style="color:white!important;">
                             Coffret
                          </h3>
                            </div>
                            <div class="col-sm-3 text-right">
                                <h3 style="color: rgb(255, 255, 255);" class="panel-title">+15€</h3>
                            </div>
                            <div class="col-sm-1">
                                <input onclick="open_div('coffret')" id="input_coffret" type="radio">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading blue_recap">
                        <div class="row ">
                            <div class="col-sm-8">
                                <h3 class="panel-title" style="color:white!important;">
                             Pochette
                          </h3>
                            </div>
                            <div class="col-sm-3 text-right">
                                <h3 style="color: rgb(255, 255, 255);" class="panel-title">+15€</h3>
                            </div>
                            <div class="col-sm-1">
                                <input onclick="open_div('pochette')" id="input_pochette" type="radio">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading blue_recap">
                        <div class="row ">
                            <div class="col-sm-8">
                                <h3 class="panel-title" style="color:white!important;">
                             Boutons de manchette
                          </h3>
                            </div>
                            <div class="col-sm-3 text-right">
                                <h3 style="color: rgb(255, 255, 255);" class="panel-title">+15€</h3>
                            </div>
                            <div class="col-sm-1">
                                <input onclick="open_div('boutons')" id="input_boutons" type="radio">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading blue_recap">
                        <div class="row ">
                            <div class="col-sm-11">
                                <h3 class="panel-title" style="color:white!important;">
                             Total
                          </h3>
                            </div>
                            <div class="col-sm-1" style="position:absolute; right:30px;">
                                <h3 class="panel-title" style="color:white!important;" id="total">

                          <script>document.write(total)</script>€
                         </h3>
                          <!--  <div id="collapse22" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <ul class="img-thumbnails pull-left">
                                      {% set X1 = 1 %}  {% for collection in collection %} {% if collection.id == selected_collection %} {% for colors in collection.colors %} {% if X1 == 1 %}
                                      <div class="row">
                                          {% endif %}
                                          <div class="col-sm-3 text-center color_token no_padding thumbnail_size">
                                              <style>
                                                  input[type="radio"] + .{{ colors.name }}_2 {background:url({{ asset('/upload/color/thumbnail/' ~ colors.imageColorName ) }})}
                                              </style>
                                              <input type="radio" id="{{ colors.imageColorName }}_2" name="color2" onclick="get_data('{{ asset("/upload/color/thumbnail/" ~ colors.imageColorName ) }}','panel-heading-plugin-2', '{{ asset("/upload/color/noeud1/" ~ colors.imagecolorNoeud1Name ) }}','{{ asset("/upload/color/noeud2/" ~ colors.imagecolorNoeud2Name ) }}','{{ asset("/upload/color/noeud3/" ~ colors.imagecolorNoeud3Name ) }}','noeudderriere' )" class="radio_colors" value="{{ colors.id }}" />
                                              <label class="{{ colors.name }}_2" for="{{ colors.imageColorName }}_2"></label></a>
                                          </div>
                                          <div class="col-sm-3 text-center color_token no_padding thumbnail_size"></div>
                                          {% set X1 = X1+1 %} {% if X1 == 7 %}
                                      </div>
                                      {% set X1 = 1 %} {% endif %} {% endfor %} {% endif %} {% endfor %}
                                  </ul></div>
                            </div> --!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- champs cachés -->

    <div class="container">
        <div class="row text-center no_padding">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 no_padding"><a class="btn btn-primary btn-lg active btn_send btn_TT" role="button">Taille et accessoire</a></div>
        </div>
    </div>

</div>


</section>
<section class="type-and-size">
<div class="container main_type_taille_noeud">
    <div class="container choix_type_taille_noeud">
        <div class="row">
            <div class="col-sm-12 col-xs-12 choix_supplement no_padding">
                <!-- Choix de la collection-->
                <h4>Type de Noeud</h4>
            </div>
        </div>
        <div class="row text-center type_noeud">

            <div class="col-sm-4 no_padding selector_type active_1">
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>Tour de cou</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>

            </div>
            <div class="col-sm-4 no_padding selector_type">
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>barette</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4 no_padding selector_type">
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>broche</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="container choix_type_taille_noeud">
    <div class="row">
        <div class="col-sm-12 col-xs-12 choix_collection no_padding">
            <!-- Choix de la collection-->
            <h4>Taille</h4>
        </div>
    </div>
    <div class="row text-center taille_noeud ">
        <div class="col-sm-6 no_padding selector_taille checkbox checkbox-success checkbox-taille" style="margin: 0px;" onclick="get_data()">


            <input type="radio" name="radio_taille" id="radio-standard" value="Standard">
            <label for="radio-standard">
                <div class="row text-center no_padding">
                    <div class="col-sm-12 no_padding">
                        <h1>Normal</h1></div>
                </div>
                <div class="row text-center no_padding">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                    <div class="col-sm-1"></div>
                </div>
                </label>
        </div>


        <div class="col-sm-6 no_padding selector_taille checkbox checkbox-success checkbox-taille"  style="margin: 0px;" onclick="get_data()">
          <input type="radio" name="radio_taille" id="radio-mini" value="Mini">
          <label for="radio-mini">
            <div class="row text-center no_padding">
                <div class="col-sm-12 no_padding">
                    <h1>Mini</h1></div>
            </div>
            <div class="row text-center no_padding">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 no_padding"><img src="{{ asset('images/noeud_size.png') }}" alt="tour de cou" style="width: 100%; height: auto;"></div>
                <div class="col-sm-1"></div>
            </div>
          </label>
          </div>
    </div>

</div>
    </div>
    <div class="container">
        <div class="row text-center no_padding">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 no_padding"><a class="btn btn-primary btn-lg active btn_send" role="button">Ajouter au panier</a></div>
        </div>
    </div>
</div>
{{ form_start(form) }}
<div style="display:none">

  <div class="form-group" >
      {{ form_label(form.product, "Produit", {'label_attr': {'class': '', 'id': 'dropdown_product' }}) }}
      {{ form_errors(form.product) }}
      {{ form_widget(form.product, {'attr': {'class': 'form-control', 'id': 'dropdown_product'}}) }}

  </div>

  <div class="form-group" >
      {{ form_label(form.accessoire, "Accessoire", {'label_attr': {'class': 'radio'}}) }}
      {{ form_errors(form.accessoire) }}
      {{ form_widget(form.accessoire, {'attr': {'class': ''}}) }}


  </div>


  <div class="form-group" >
      {{ form_label(form.quantity, "Quantité", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.quantity) }}
      {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color1" style="display:block">
      {{ form_label(form.color1, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color1) }}
      {{ form_widget(form.color1, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color2" style="display:block">
      {{ form_label(form.color2, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color2) }}
      {{ form_widget(form.color2, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color3" style="display:block">
      {{ form_label(form.color3, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color3) }}
      {{ form_widget(form.color3, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color4" style="display:block">
      {{ form_label(form.color4, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color4) }}
      {{ form_widget(form.color4, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color5" style="display:block">
      {{ form_label(form.color5, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color5) }}
      {{ form_widget(form.color5, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color6" style="display:none">
      {{ form_label(form.color6, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color6) }}
      {{ form_widget(form.color6, {'attr': {'class': 'form-control'}}) }}

  </div>



  <div class="form-group" id="color7" style="display:none">
      {{ form_label(form.color7, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color7) }}
      {{ form_widget(form.color7, {'attr': {'class': 'form-control'}}) }}

  </div>


  <div class="form-group" id="color8" style="display:none">
      {{ form_label(form.color8, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color8) }}
      {{ form_widget(form.color8, {'attr': {'class': 'form-control'}}) }}

  </div>



  <div class="form-group" id="color9" style="display:none">
      {{ form_label(form.color9, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color9) }}
      {{ form_widget(form.color9, {'attr': {'class': 'form-control'}}) }}

  </div>



  <div class="form-group" id="color10" style="display:none">
      {{ form_label(form.color10, "color", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.color10) }}
      {{ form_widget(form.color10, {'attr': {'class': 'form-control'}}) }}

  </div>
  <div class="form-group">
      {{ form_label(form.size, "Taille", {'label_attr': {'class': ''}}) }}
      {{ form_errors(form.size) }}
      {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}

  </div>
</div>
{{ form_end(form) }}
</section>
<script>
    /*Script changement background url pour panelheading*/

    function get_data(i,panelheading, n1, n2, n3,noeud_place) {
      document.getElementById(panelheading).style.backgroundImage = "url("+i+")";
      if (noeud_place == 'noeuddevant'){
      document.getElementById(noeud_place).style.backgroundImage = "url("+n1+")";
        }
      else if (noeud_place == 'noeudderriere') {
      document.getElementById(noeud_place).style.backgroundImage = "url("+n2+")";

      }
      else if (noeud_place == 'noeudpetit') {
      document.getElementById(noeud_place).style.backgroundImage = "url("+n3+")";

      }
      else {alert("Mes couilles sur la commode");}

      /*document.getElementById('noeuddevant').style.backgroundImage = "url("+n1+")";
      document.getElementById('noeudderriere').style.backgroundImage = "url("+n2+")";
      document.getElementById('noeudpetit').style.backgroundImage = "url("+n3+")";*/
        if (document.getElementById("checkbox-coffret").checked) {
            document.getElementById("add_added_product_color1").value = document.querySelector('input[name="color1"]:checked').value;
            document.getElementById("add_added_product_color2").value = document.querySelector('input[name="color2"]:checked').value;
            document.getElementById("add_added_product_color3").value = document.querySelector('input[name="color3"]:checked').value;
            document.getElementById("add_added_product_color4").value = document.querySelector('input[name="color4"]:checked').value;
            document.getElementById("add_added_product_color5").value = document.querySelector('input[name="color5"]:checked').value;


        } else {
            document.getElementById("add_added_product_color1").value = document.querySelector('input[name="color1"]:checked').value;
            document.getElementById("add_added_product_color2").value = document.querySelector('input[name="color2"]:checked').value;
            document.getElementById("add_added_product_color3").value = document.querySelector('input[name="color3"]:checked').value;

        }
        document.getElementById("add_added_product_accessoire").value = document.querySelector('input[name="radio_accessoire"]:checked').value;
        document.getElementById("add_added_product_quantity").value = 1;
        document.getElementById("add_added_product_size").value = document.querySelector('input[name="radio_taille"]:checked').value;
    }
$(document).ready(function(){
  $(".type-and-size").fadeOut();

    $(".selector_type").on("click", function() {
        $(this).siblings('div').removeClass('active_1');
        $(this).addClass('active_1')
    })
    $(".selector_taille").on("click", function() {
        $(this).siblings('div').removeClass('active_1');
        $(this).addClass('active_1')
    })



var flag=true;
$(".btn_TT").click(function(){
if(flag){
  $('.btn_TT').addClass('btn-alc_active').removeClass('btn-alc');
  $('.nbr2').addClass('numberCircle_active').removeClass('numberCircle');
  $('.btn_perso').addClass('btn-alc').removeClass('btn-alc_active');
  $('.nbr').addClass('numberCircle').removeClass('numberCircle_active');
$(".personnalisation_noeud").animate({left: '-90vw',
            opacity: '0.5' }, 1000, function() {
                $(this).fadeOut(10);
                $(".type-and-size").fadeIn(3000);
             });$(".type-and-size").animate({left: '0vw',
                         opacity: '1' }, 1000, function() {
                             $(this).fadeIn(10);
                             $(".type-and-size").fadeIn(3000);
                          });flag=false;};


           });
/*$(".type-and-size").hide();*/
$(".btn_perso").click(function(){
  if(!flag){
    $('.btn_perso').addClass('btn-alc_active').removeClass('btn-alc');
    $('.nbr').addClass('numberCircle_active').removeClass('numberCircle');
    $('.btn_TT').addClass('btn-alc').removeClass('btn-alc_active');
    $('.nbr2').addClass('numberCircle').removeClass('numberCircle_active');
    $(".type-and-size").animate({left: '90vw',
                opacity: '0.5' }, 1000, function() {
                    $(this).fadeOut(1000);

                 });
                 $(".personnalisation_noeud").animate({left: '0vw',
                             opacity: '1' }, 1000, function() {
                                 $(this).fadeOut(10);
                                 $(".personnalisation_noeud").fadeIn(3000);
                              });


                 flag=true;

};});
/* Fonction change background url si accordeon ouvert */
var black_flag=true;
$("#panel-heading-plugin-6" ).click(function() {
  if(black_flag){$(this).css("background-color", "#A94141");black_flag=false;}
  else{$(this).css("background-color", "#eae9e9");black_flag=true;}


});
var black_flag2=true;
$("#panel-heading-plugin-7" ).click(function() {
  if(black_flag2){$(this).css("background-color", "#242258");black_flag2=false;}
  else{$(this).css("background-color", "#eae9e9");black_flag2=true;}


});
var black_flag3=true;
$("#panel-heading-plugin-8" ).click(function() {
  if(black_flag3){$(this).css("background-color", "#A94141");black_flag3=false;}
  else{$(this).css("background-color", "#eae9e9");black_flag3=true;}


});

});
/*La fonction de cyp */

function open_div(i){


if (i == 'coffret'){
  if(document.getElementById('collapse_coffret').className == 'panel-collapse collapse in'){
  document.getElementById('collapse_coffret').className='panel-collapse collapse';
  document.getElementById('panel-heading-plugin-6').style.backgroundColor = "#eae9e9";
  document.getElementById("panel-heading-plugin-6").style.color = "rgb(36, 34, 88)";
  document.getElementById('input_coffret').checked = false;





}
else {
document.getElementById('collapse_coffret').className='panel-collapse collapse in';
document.getElementById('panel-heading-plugin-6').style.backgroundColor = "#A94141";
document.getElementById('panel-heading-plugin-6').style.color = "#FFF";
document.getElementById('input_coffret').checked = true;



}
}
else if(i == 'pochette'){
if(document.getElementById('collapse_pochette').className == 'panel-collapse collapse in'){
document.getElementById('collapse_pochette').className='panel-collapse collapse';
document.getElementById('panel-heading-plugin-7').style.backgroundColor = "#eae9e9";
document.getElementById('panel-heading-plugin-7').style.color = "rgb(36, 34, 88)";
document.getElementById('input_pochette').checked = false;
}
else {
document.getElementById('collapse_pochette').className='panel-collapse collapse in';
document.getElementById('panel-heading-plugin-7').style.backgroundColor = "rgb(36, 34, 88)";
document.getElementById('panel-heading-plugin-7').style.color = "#FFF";
document.getElementById('input_pochette').checked = true;

}
}
else if(i == "boutons"){
if(document.getElementById('collapse_bouton').className == 'panel-collapse collapse in'){
document.getElementById('collapse_bouton').className='panel-collapse collapse';
document.getElementById('panel-heading-plugin-8').style.backgroundColor = "#eae9e9";
document.getElementById('panel-heading-plugin-8').style.color = "rgb(36, 34, 88)";
document.getElementById('input_boutons').checked = false;

}
else {
document.getElementById('collapse_bouton').className='panel-collapse collapse in';
document.getElementById('panel-heading-plugin-8').style.backgroundColor = "#A94141";
document.getElementById('panel-heading-plugin-8').style.color = "#FFF";
document.getElementById('input_boutons').checked = true;


}
}



}


</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

</body>
{% endblock %}
