{% extends 'base.html.twig' %}


{% block body %}
<body id="page-top" ng-app="noeudPap" ng-controller="noeudPapController as noeudPap">
	<!-- Message d'accueil -->
    <section id="slider-homepage">
        <div class="container">

{% if app.user.isPro == 1 %}
{% for collection in collection %}
{% if collection.colors is not empty %}

				<div class="row text-center" style="margin-top:30px;">

				<h2>Collection {{ collection.title }}</h2>

				{% for color in collection.colors %}

				<div class="col-md-3 col-sm-6 hero-feature">
						<div class="thumbnail">
								<img  style="max-height:150px; max-width:250px" src="{{ asset('/upload/color/thumbnail/' ~ color.imageColorName ) }}" alt="">
								<div class="caption">
										<h3>{{ color.name_public }}</h3>

										<p>
												<a href="{{ path('addRectangle', {'id': color.id, 'product' : 'Rectangle_petit'}) }}" class="btn btn-primary btn-lg active btn_send">Ajouter un petit</a>
												<a href="{{ path('addRectangle', {'id': color.id, 'product' : 'Rectangle_grand'}) }}" class="btn btn-primary btn-lg active btn_send">Ajouter un grand</a>
												<a href="{{ path('addRectangle', {'id': color.id, 'product' : 'Milieu'}) }}" class="btn btn-primary btn-lg active btn_send">Ajouter un milieu</a>

										</p>
								</div>
						</div>
				</div>
				{% endfor %}
				{% endif %}

	{% endfor %}
	{% else %}

	<h2>Vous n'êtes pas autorisé à acceder à cette page</2>


{% endif %}




		</div>

        </div>
    </section>

    <section id="homepage-collections">
        <div class="container-fluid">

        </div>
    </section>


{% endblock %}
