{% extends 'base.html.twig' %}


{% block body %}


<body id="page-top" ng-app="noeudPap" ng-controller="noeudPapController as noeudPap">

	 <h2 class="section-heading title-acc first-title">Je personnalise mon noeud</h2>
	 <hr>

	 <section  id="noeudPap" style="padding-top: 20px; padding-bottom: 0;">
			 <div class="container-fluid">
					 <!--
					 CONTROLLER PLUGIN NOEUD PAPILLON
					 -->
					 <div class="row">
							 <div class="col-md-4" >
									 <div class="tab-noeud tab-london shadow">
											 <!-- Nav tabs -->
											 <ul class="nav nav-pills nav-tab-noeud" role="tablist">
													 <li role="presentation" class="active" style="border-right: 1px solid #A8AAAD;">
															 <a href="#tab-princ" aria-controls="Principal" role="tab" data-toggle="tab"><img src="{{ asset('img/icones/icone-tab-princ.png') }}" class="icone-tab"></a>
													 </li>
													 <li role="presentation" style="border-right: 1px solid #A8AAAD;">
															 <a href="#tab-sec" aria-controls="Secondaire" role="tab" data-toggle="tab"><img src="{{ asset('img/icones/icone-tab-sec.png') }}" class="icone-tab"></a>
													 </li>
													 <li role="presentation">
															 <a href="#tab-milieu" aria-controls="messages" role="tab" data-toggle="tab"><img src="{{ asset('img/icones/icone-tab-milieu.png') }}" class="icone-tab"></a>
													 </li>
											 </ul>

											 <!-- Tab panes -->
											 <div class="tab-content">
													 <div role="tabpanel" class="tab-pane active" id="tab-princ">
															 <br/>Couleurs du noeud principal<br/>
															 <div class="panel-body">
																	 <ul class="img-thumbnails pull-left">

																			 {% for colors in listecolor %}
																							 <li class='small-image pull-left thumbnail' ng-class='' ">
																							<a href ng-click='noeudPap.selectColor(".$value->couleur_id.")' >
																							{% if colors.url %}
																							<img src="{{ asset('' ~ colors.url) }}" />
																							{% elseif colors.colorCode %}
																							<div style="background-color:{{ colors.colorCode }}; display: block; width:40px;height:40px;
    padding: 4px;
    line-height: 1.42857143;

    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;"></div>

{% endif %}
																							 </a>
																							 </li>

																		{% endfor %}
																	 </ul>
															 </div>
													 </div>
													 <div role="tabpanel" class="tab-pane" id="tab-sec">
															 <br/>Couleurs du noeud secondaire<br/>
															 <div class="panel-body">
																	 <ul class="img-thumbnails pull-left">
																	 {% for colors in listecolor %}
																					 <li class='small-image pull-left thumbnail' ng-class=''>
																					<a href ng-click='noeudPap.selectColor(".$value->couleur_id.")' >
																					<img src="{{ asset('' ~ colors.url) }}" >
																					 </a>
																					 </li>

																{% endfor %}
																	 </ul>
															 </div>
													 </div>
													 <div role="tabpanel" class="tab-pane" id="tab-milieu">
															 <br/>Couleurs du milieu<br/>
															 <div class="panel-body">
																	 <ul class="img-thumbnails pull-left">
																	 {% for colors in listecolor %}
																					 <li class='small-image pull-left thumbnail' ng-class=''>
																					<a href ng-click='noeudPap.selectColor(".$value->couleur_id.")' >
																					<img src="{{ asset('' ~ colors.url) }}" >
																					 </a>
																					 </li>

																{% endfor %}
																	 </ul>
															 </div>
													 </div>
													 <button class="btn btn-primary" style="outline: none;" ng-click="noeudPap.invertColor()">Inverser</button>
											 </div><!-- FIN TABS -->
									 </div>
							 </div>

							 <div class="col-md-7">
									 <div id="rendu-noeud">
											 <div style="position: absolute;" >
													 <?php
													 foreach($products as $value){
															 echo "<section class='section-noeud' ng-show='noeudPap.isSelectedS(".$value->couleur_id.")'>";
															 echo '<img ng-src="img/tissu/'.$value->couleur_img_sec.'" class="img-responsive" alt="Couleur secondaire">';
															 echo '</section>';
													 }
													 ?>
											 </div>
											 <div style="position: absolute;">
													 <?php
													 foreach($products as $value){
															 echo "<section class='section-noeud' ng-show='noeudPap.isSelected(".$value->couleur_id.")'>";
															 echo '<img ng-src="img/tissu/'.$value->couleur_img_princ.'" class="img-responsive" alt="Couleur principale">';
															 echo '</section>';
													 }
													 ?>
											 </div>
											 <div style="position: absolute;">
													 <?php
													 foreach($products as $value){
															 echo "<section class='section-noeud' ng-show='noeudPap.isSelectedM(".$value->couleur_id.")'>";
															 echo '<img ng-src="img/tissu/'.$value->couleur_img_milieu.'" class="img-responsive" alt="Couleur du milieu">';
															 echo '</section>';
													 }
													 ?>
											 </div>
											 <div>
													 <section class='section-noeud'>
															 <img ng-src="img/tissu/background-noeud.png">
													 </section>
											 </div>
									 </div>
							 </div>

					 </div> <!-- /class="row" -->
					 <!--
					 FIN DU CONTROLLER PLUGIN NOEUD PAPILLON
					 -->
			 </div>
	 </section>

	 <!-- Choix de l'accessoire + ajout au panier -->
	 <section id="plugin-noeud" class="plugin-options" >
			 <div class="container">
					 <div class="row">
							 <div class="col-lg-12 text-center">

									 <form action="londres.php?action=ajout_panier" method="post" class="form-index-access">
											 <fieldset>
													 <h2 class="section-heading title-acc">Je choisis un accessoire</h2>
													 <hr>
													 <strong>Prix : <?= number_format($collection->collection_prix_noeud, 2, ',', ' '); ?> €</strong>
													 <?php
													 foreach($accessoires as $accessoire){
															 if($accessoire->accessoire_type == 'accessoire'){
															 ?>
															 <div class="checkbox checkbox-success">

																	 <input type="radio" name="radio_accessoire" id="radio<?= $accessoire->accessoire_id ?>" value="<?= $accessoire->accessoire_id ?>">
																	 <label for="radio<?= $accessoire->accessoire_id ?>">
																			 <?= $accessoire->accessoire_nom?>
																	 </label>
															 </div>
													 <?php }} ?><br/><br/>
											 </fieldset>


											 <h2 class="section-heading title-acc">Je choisis la taille</h2>
											 <hr>
											 <fieldset>
													 <div class="checkbox checkbox-success checkbox-taille">
															 <input type="radio" name="radio_taille" id="radio-standard" value="standard">
															 <label for="radio-standard">
																	 Taille standard<br/>
																	 <img class="img-taille-acc" src="img/icones/icon-taille-standard.png">
															 </label>
													 </div>
													 <div class="checkbox checkbox-success checkbox-taille">
															 <input type="radio" name="radio_taille" id="radio-mini" value="mini">
															 <label for="radio-mini">
																	 Taille mini<br/>
																	 <img class="img-taille-acc" src="img/icones/icon-taille-mini.png">
															 </label>
													 </div>
											 </fieldset>

											 <h2 class="section-heading title-acc">Le coffret cadeau</h2>
											 <hr>
											 <strong>Prix : <?= number_format($collection->collection_prix_coffret, 2, ',', ' '); ?> €</strong><br/><br>

											 <fieldset>
													 <div class="checkbox checkbox-success">
															 <input type="hidden" name="coffret" value="0">
															 <input type="checkbox" name="coffret" id="checkbox-coffret" value="1">
															 <label for="checkbox-coffret">
																	 Je souhaite un coffret cadeau <br/><br>
															 </label>
													 </div>
											 </fieldset>
											 <fieldset>
													 <!-- CHOIX DES COULEURS DU COFFRET-->
															 <div class="col-lg-7 col-md-8 col-sm-12" id="couleurs-coffret" style="display: none">
																	 <div class="tab-noeud tab-london shadow">
																			 <!-- Nav tabs -->
																			 <ul class="nav nav-tabs" role="tablist">
																					 <li role="presentation" class="active">
																							 <a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">Couleur 4</a>
																					 </li>
																					 <li role="presentation" >
																							 <a href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab">Couleur 5</a>
																					 </li>
																			 </ul>

																			 <!-- Tab panes -->
																			 <div class="tab-content">
																					 <div role="tabpanel" class="tab-pane active" id="tab-4">
																							 <div class="panel-body">
																									 <ul class="img-thumbnails pull-left">
																											 <?php
																											 foreach($products as $value){
																													 if($value->couleur_is_active == 1 && $value->couleur_img_princ != "" ){
																															 echo "<li class='small-image pull-left thumbnail' ng-class='{activeThumb: noeudPap.isSelected4(".$value->couleur_id.")}'>";
																															 echo "<a href ng-click='noeudPap.selectColor4(".$value->couleur_id.")' >";
																															 echo '<img ng-src="img/tissu/'.$value->couleur_img_thumb.'" >';
																															 echo "</a>";
																															 echo "</li>";
																													 }
																													 else{}
																											 }
																											 ?>
																									 </ul>
																							 </div>
																					 </div>
																					 <div role="tabpanel" class="tab-pane" id="tab-5">
																							 <div class="panel-body">
																									 <ul class="img-thumbnails pull-left">
																											 <?php
																											 foreach($products as $value){
																													 if($value->couleur_is_active == 1 && $value->couleur_img_sec != "" ){
																															 echo "<li class='small-image pull-left thumbnail' ng-class='{activeThumb: noeudPap.isSelected5(".$value->couleur_id.")}'>";
																															 echo "<a href ng-click='noeudPap.selectColor5(".$value->couleur_id.")' >";
																															 echo '<img ng-src="img/tissu/'.$value->couleur_img_thumb.'" >';
																															 echo "</a>";
																															 echo "</li>";
																													 }
																													 else{}
																											 }
																											 ?>
																									 </ul>
																							 </div>
																					 </div>
																			 </div><!-- FIN TABS -->
																	 </div>
															 </div><!-- FIN CHOIX DES COULEURS DU COFFRET-->
											 </fieldset>


											 <!-- champs cachés -->

											 <div class="text-center">
													 <button type="submit" class="btn btn-primary btn-xl" style="margin-top: 15px;"><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp;&nbsp;Ajouter au panier</button>
											 </div>


									 </form>
							 </div>

					 </div>
			 </div>
	 </section>

</body>
{% endblock %}
