<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Facture {{ commande.date|date("dmY")}}{{ commande.id }}</title>
   </head>
   <body style=" position: relative;
      width: 21cm;
      height: 29.7cm;
      margin: 0 auto;
      color: #555555;
      background: #FFFFFF;
      font-family: Arial, sans-serif;
      font-size: 14px;
      ">
      <div class="clearfix" style="  padding: 10px 0;
         margin-bottom: 20px;
         border-bottom: 1px solid #AAAAAA;">
         <span id="logo" style="float: left;
         margin-top: 8px;margin-left:330px">
          <img style="  height: 70px;" src="https://agathevousgate.cypriengilbert.com/web/img/logocomplet-petit.png">
         </span>

      </div>
      <div id="details" class="clearfix" style="  margin-bottom: 50px;
         ">
         <div id="client" style=" padding-left: 6px;
            border-left: 6px solid #0087C3;
            float: left;">
            {% set client = null %}
            {% for listepanier in listePanier %}
            {% if not client %}
            {%  set client = listepanier.client.nom  %}
            <div class="to" style="  color: #777777;">Facture à </div>
            <h2 class="name">{{ listepanier.client.nom }} {{ listepanier.client.prenom }}</h2>
            <div class="address">{{ listepanier.client.adress.adress }}, {{ listepanier.client.adress.zipcode }} {{ listepanier.client.adress.city }}</div>
            <div class="email"><a href="mailto:john@example.com">{{ listepanier.client.email }}</a></div>
            {% endif %}
            {% endfor %}
         </div>
         <div id="invoice" style="  float: right;
            text-align: right;">
            <h1 style="color: #0087C3;
               font-size: 2.4em;
               line-height: 1em;
               font-weight: normal;
               margin: 0  0 10px 0;">INVOICE {{ commande.date|date("dmY")}}{{ commande.id }}</h1>
            <h5 class="date" style=" font-size: 1.1em;
               color: #777777; margin-top:20px;">Date de facturation : {{ commande.date|date("d/m/Y")}}</h5>
         </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0" style="
         border-collapse: collapse;
         border-spacing: 0;
         margin-bottom: 20px;margin-right:20px">
         <thead>
            <tr>
               <th style="width:10px!important;padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;
                  font-weight: normal;" class="no">Produit</th>
               <th width=50% style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;
                  font-weight: normal;" class="desc">Description</th>
               <th width=10% style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF; white-space: nowrap;
                  font-weight: normal;" class="unit">Prix Unitaire</th>
               <th width=10% style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;white-space: nowrap;
                  font-weight: normal;" class="qty">Quantité</th>
               <th width=10% style="  padding: 20px;
                  background: #EEEEEE;

                  border-bottom: 1px solid #FFFFFF;white-space: nowrap;
                  font-weight: normal;" class="total">Prix</th>
            </tr>
         </thead>
         {% set totalsum = null %}
         <tbody>
            {% for listepanier in listePanier %}
            {% set totalsum = totalsum + listepanier.product.price * listepanier.quantity %}
            <tr>
               <td style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;   text-align: right;  color: #FFFFFF;
                  font-size: 1.6em;
                  background: #57B223;
                  " class="no">{{ listepanier.product.name }}</td>
               <td style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;   text-align: right; text-align: left;
                  " class="desc">{% if listepanier.accessoire %}Accessoire : {{ listepanier.accessoire.name }} {%  endif %}<br>
                    Taille : {{ listepanier.size }}<br>
                    Couleur(s) :
                    {% if listepanier.Color1 %}
                    {{ listepanier.Color1.name }} /
                      {% endif %}
                      {% if listepanier.color2 %}
                      {{ listepanier.Color2.name }} /
                        {% endif %}
                        {% if listepanier.Color3 %}
                        {{ listepanier.Color3.name }} /
                          {% endif %}
                          {% if listepanier.Color4 %}
                          {{ listepanier.Color4.name }} /
                            {% endif %}
                            {% if listepanier.Color5 %}
                            {{ listepanier.Color5.name }} /
                              {% endif %}
                              {% if listepanier.Color6 %}
                              {{ listepanier.Color6.name }} /
                                {% endif %}
                                {% if listepanier.Color7 %}
                                {{ listepanier.Color7.name }} /
                                  {% endif %}
                                  {% if listepanier.Color8 %}
                                  {{ listepanier.Color8.name }} /
                                    {% endif %}
                                    {% if listepanier.Color9 %}
                                    {{ listepanier.Color9.name }} /
                                      {% endif %}
                                      {% if listepanier.Color10 %}
                                      {{ listepanier.Color10.name }} /
                                        {% endif %}

                    <br>


  </td>
               <td style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;   text-align: right;  background: #DDDDDD;  font-size: 1.2em;
                  " class="unit">{{ listepanier.product.price }}€</td>
               <td style="  padding: 20px;
                  background: #EEEEEE;
                  text-align: center;
                  border-bottom: 1px solid #FFFFFF;   text-align: right;  font-size: 1.2em;
                  " class="qty">{{ listepanier.quantity }}</td>
               <td style="  padding: 20px;
                  border-bottom: 1px solid #FFFFFF;    background: #57B223;  font-size: 1.2em;
                  color: #FFFFFF;
                  " class="total">{{ listepanier.product.price * listepanier.quantity }} €</td>
            </tr>
            {% endfor %}
         </tbody>
         <tfoot>

<tr>
            <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" colspan="2" > </td>
            <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" colspan="2" >Livraison</td>
            <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA; " class="total-value"><div id="total">{% if totalsum <50 %} {% set livraison = 5 %}{% else %} {% set livraison = 0 %} {% endif %} {{ livraison }} €</div></td>
            </tr>{% set totalsum = totalsum + livraison %}
            <tr>
              <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" colspan="2" > </td>
            <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" colspan="2" >Remise</td>
             <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" >
    {% set codePromo = app.session.get('codePromo') %}
                                    {% if codePromo %}
                                     {% if codePromo.genre == 'pourcentage' %}
                                        {% set remise = totalsum * codePromo.montant / 100 %}
                                        {% elseif codePromo.genre  == 'remise' %}
                                        {% set remise = codePromo.montant %}
                                        {% endif %}
                                        <p><strong>  {{ remise|round(2, 'floor') }} €</strong></p>
                                        {% set totalsum = totalsum - remise|round(2, 'floor') %}
                                     {% else %}
                                     <p>0 €</p>

                                    {% endif %}

             </td>

            </tr>
             <tr>
               <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;  color: #57B223;
                 font-size: 1.4em;
                 border-top: 1px solid #57B223;" colspan="2"></td>
               <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;   color: #57B223;
                 font-size: 1.4em;
                 border-top: 1px solid #57B223;" colspan="2">Total</td>
               <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;   color: #57B223;
                 font-size: 1.4em;
                 border-top: 1px solid #57B223;" >{{ totalsum }} €</td>
            </tr>


            <tr>
               <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;"  colspan="2"></td>
               <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" colspan="2">Dont TVA 20%</td>
               <td style="padding: 10px 20px;background: #FFFFFF;border-bottom: none;font-size: 1.2em;white-space: nowrap;border-top: 1px solid #AAAAAA;" >{{ totalsum * 0.2 }} €</td>
            </tr>
         </tfoot>
      </table>

      <div id="notices">
         <div>NOTICE:</div>
         <div class="notice">Mention legale ici</div>
      </div>
   </body>
   <style>
      @font-face {
      font-family: SourceSansPro;
      src: url(SourceSansPro-Regular.ttf);
      }
      .clearfix:after {
      content: "";
      display: table;
      clear: both;
      }
      header {
      }
      #logo {

      }
      #logo img {

      }
      #company {
      }
      #details {
      }
      #client {
      }
      #client .to {
      }
      h2.name {
      }
      #invoice {
      }
      #invoice h1 {
      }
      #invoice .date {
      }
      table {
      }
      table th,
      table td {
      }
      table th {
      }
      table td {
      }
      table td h3{
      color: #57B223;
      font-size: 1.2em;
      font-weight: normal;
      margin: 0 0 0.2em 0;
      }
      table .no {
      }
      table .desc {
      }
      table .unit {
      }
      table .qty {
      }
      table .total {
      }
      table td.unit,
      table td.qty,
      table td.total {
      }
      table tbody tr:last-child td {
      border: none;
      }
      table tfoot td {

      }
      table tfoot tr:first-child td {
      border-top: none;
      }
      table tfoot tr:last-child td {

      }
      table tfoot tr td:first-child {
      border: none;
      }
      #thanks{
      font-size: 2em;
      margin-bottom: 50px;
      }
      #notices{
      padding-left: 6px;
      border-left: 6px solid #0087C3;
      }
      #notices .notice {
      font-size: 1.2em;
      }
      footer {
      color: #777777;
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 0;
      border-top: 1px solid #AAAAAA;
      padding: 8px 0;
      text-align: center;
      }
   </style>
</html>
