{% extends 'base.html.twig' %} {% block body %}
<style>

/* CodePen demo */


.big {
  font-size: 1.2em;
}

#link_generic{
  
}

.temporary_cart{
  width:300px;
  border:1px solid #A94141;
  position:absolute;
  top:0px;
  left:70%;
  display:none;
  z-index:100;
  background-color:white;
}



.collection_link{
  padding-right:15px;
  border-radius:20px;
  background-color:#ffffff;
  border:1px solid #25225b;
  margin:5px 0px;
  overflow:hidden;
  color:#25225b;
  cursor:pointer;
  font-size:15px;
  font-family:'Roboto' ;
  width:70%;
}

.collection_link:hover{
 
  background-color:#25225b;
  border:1px solid #25225b;
  overflow:hidden;
  color:#ffffff;

}

.collection_link > img{
  height:36px;
  border-radius:20px;
  margin-bottom:0px;
}

.collection_link_selected{
  padding-right:15px;
  border-radius:20px;
  background-color:#25225b;
  border:1px solid #25225b;
  margin:5px 0px;
  overflow:hidden;
  color:#ffffff;
  cursor:pointer;
  font-size:15px;
  font-family:'Roboto' ;
  width:70%;
}



.collection_link_selected > img{
  height:36px;
  border-radius:20px;
  margin-bottom:0px;
}

.bouton_generic{
  color:white;
   background-color: white;
   color: #25225b;
   padding:10px;
    border:1px solid #25225b;
     border-radius:20px;
}

.bouton_generic:hover{
  color:white;
   background-color:  #25225b;
   color:white;
   padding:10px;
    border:1px solid white;
     border-radius:20px;
     text-decoration:none;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #FFF;
  color: #242258;
  font-size: 2.4rem;
  padding: .5em;
  padding-right: 2.5em; 
  font-weight:bold;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  -moz-appearance: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 2.4rem;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    display:none;

}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);

}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
      display:none;

}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
      display:none;

}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);

}

  @media (min-width: 768px) {
  .validate_cart_button{
    background-color:#242258;
    cursor:pointer;
    height:40px;
    border-radius:20px;
    margin-top:30px;
  }
  #select_collection{
    display:none;
  }
.custom-dropdown {
  display:none;
}


  .see_generic p{

  color:white;
  line-height:30px;
  padding-right:10px;
   padding-top:5px;
   padding-left:10px 

  }
  .validate_cart_button p{
    color:white;
    line-height:30px;
    padding-right:10px;
     padding-top:5px;
     padding-left:10px 
  }
  .see_generic{

  width:100%;
  height:40px;
  margin-top:20px;
    cursor:pointer;

  }
  }
  @media (max-width: 768px) {
  #link_generic{
  display:none;
  }
  .see_generic{

  width:50%;
  height:40px;
  position:fixed;
    bottom:0px;
    cursor:pointer;

  }
  .see_generic p{

  color:white;
  line-height:15px;
  padding-right:10px;
   padding-top:5px;
   padding-left:10px 

  }
  .validate_cart_button{
    background-color:#242258;
    position:fixed;
    bottom:0px;
    width:100%;
    min-height:40px;
    cursor:pointer;
    z-index: 1000;
  }
  .validate_cart_button p{
    color:white;
    line-height:30px;
    padding-right:10px;
     padding-top:5px;
     padding-left:10px 
  }

.collection_link{
  display:none;
}

  #select_collection{
    display:block;
  }
  .thumb_link{
    min-width:60px;
  }
}
</style>
<body>
    <div class="container" style="position:relative">
      <div class="temporary_cart" >
          <div class="row" >
          <div class="col-md-12 text-center">
          <a href="">Modifier le panier</a>
                                
                                </div>
                                </div>
        {% for key, AddedProductByProduct in AddedProductByProduct %}
                      {% if AddedProductByProduct %}
                      <div class="row" style="padding:10px;">
                                <div class="col-md-12 text-left">

                         <h2> {{ key }}</h2><br></div>
                          {% for items in AddedProductByProduct %}
                          <div class="col-md-8 text-left">
            {% if items.Color1 %}
                                      <img src="{{ asset('/upload/color/thumbnail/' ~ items.Color1.imageColorName ) }}" style="height:30px; width:30px; border-radius:10px" data-toggle="tooltip" data-placement="top" title="{{ items.Color1.namePublic }}">
                                      <span class="color_name_mobile">{{ items.Color1.namePublic }}</span>
                                    {% endif %}
          </div>
          <div class="col-md-4 text-center">
            {{ items.quantity }}
          </div>
                          {% endfor %}
                                  </div>

                     
                      {% endif %}
                      {% endfor %}
        
          
    </div>
<div class="row">
<div class="col-sm-2 no_padding">
    </div>
  <div class="col-sm-8 no-padding text-left" style="margin-bottom:30px;">
  <span class="custom-dropdown big">
      <select id="select_collection" onchange="change_collection(this);">
          {% if collection1 is null %}
         <option> Couleurs unies</option>
         {% for collectionList in allCollection %}
          <option>{{ collectionList.title }}</option>  
          {% endfor %}
          {% else %}
          <option>Collection {{ collection1.title }} </option>
          {% for collectionList in allCollection %}
          <option>{{ collectionList.title }}</option>  
          {% endfor %}
          <option>Couleurs unies</option>
           {% endif %}

      </select>
  </span>
</span>
  </div>
    
    <div class="col-sm-2 no_padding">
    </div>
</div>

<div class="row">
<div class="col-sm-2 no_padding">
    </div>
    <div class="col-sm-8 no_padding" style="text-align:center">
      
    </div>
    <div class="col-sm-2 no_padding">
    </div>
</div>



    <div class="row">
   {# <div class="col-sm-2 no_padding">
    <a  style="position:fixed" href="{{path('boutique_collection', {'name': 'Basic' })}}">Couleurs unies</a>
    {% for collectionList in allCollection %}
    <a  style="position:fixed" href="{{path('boutique_collection', {'name': collectionList.title })}}">{{ collectionList.title }}</a><br>

    {% endfor %}


    </div> #}


    <div class="col-sm-2 no_padding">

    <div class="row">
  <a class="" style="text-align:center" href="{{ path('generic')}}"> <div class="collection_link" style="font-size:15px;text-align:center">Accessoires</div></a>

          {% if collection1 is null %}
            <div class="col-sm-12 no_padding">
        <a class=""  href="{{path('boutique_collection', {'name': 'Basic' })}}"> <div class="collection_link" > <img class="thumb_link" style="min-width:58px;" src="{{ asset('/upload/color/thumbnail/58331c66c34d2.png')}}"  />  Unies</div></a>
         </div>
         {% for collectionList in allCollection %}
             <div class="col-sm-12 no_padding">

         <a class=""  href="{{path('boutique_collection', {'name': collectionList.title })}}"> <div class="collection_link"><img class="thumb_link" src="{{ asset('/upload/image_collection/' ~ collectionList.imageName)}}"  /> {{ collectionList.title }}</div></a>  
          </div>
          {% endfor %}

          {% else %}
              
          {% for collectionList in allCollection %}
              <div class="col-sm-12 no_padding">
<a class=""  href="{{path('boutique_collection', {'name': collectionList.title })}}"><div {% if collectionList != collection1 %}class="collection_link"{% else %}class="collection_link_selected"{% endif %}><img class="thumb_link" src="{{ asset('/upload/image_collection/' ~ collectionList.imageName)}}"  /> {{ collectionList.title }}</div>  </div></a>
          {% endfor %}
              <div class="col-sm-12 no_padding">

        <a class=""  href="{{path('boutique_collection', {'name': 'Basic' })}}">   <div class="collection_link"> <img class="thumb_link" style="min-width:58px;" src="{{ asset('/upload/color/thumbnail/58331c66c34d2.png')}}"  />   Unies</div></div></a>
           {% endif %}
           </div>
    </div>
    <div class="col-sm-8 no_padding">
        {% for color in colors %}

          {% if (collection1 is null and color.isBasic == 1 and color.isActive == 1) or (collection1 and color.isBasic == 0 and color.isActive == 1)  %}
        <div class="row">
        <script>
        function open_div_{{color.id}}(){
          if(document.getElementById('collapse{{color.id}}').className == 'panel-collapse collapse in'){
          document.getElementById('collapse{{color.id}}').className='panel-collapse collapse';
        }
        else{
        document.getElementById('collapse{{color.id}}').className='panel-collapse collapse in';
        }
        }
        </script>
           <div class="col-sm-12 no_padding">
              <div class="panel-group" id="accordion">
                 <div class="panel panel-default" style="margin-top:20px; background-color:white;">
                    <div id="panel-heading-coffret" class="panel-heading panel-heading-plugin" style="background:url({{ asset('/upload/color/thumbnail/' ~ color.imageColorName)}});" onclick="open_div_{{color.id}}();">
                       <div class="row">
                          <div class="col-sm-11">
                             <h3 class="panel-title" >
                             <span style="background-color:white">{{color.name_public}} <span id="nb-item-{{color.id}}"></span></span>
                             </h3>
                          </div>
                          <div class="col-sm-1 text-right">
                          </div>
                       </div>
                    </div>
                    <div id="collapse{{color.id}}" class="panel-collapse collapse" style="background-color:white;">
                       <div class="panel-body">
                          <div class="row">
                            <div class="col-sm-1">
                            </div>
                          {% for product in products %}
                          {% for accepted_product in accepted_products %}

                          {% if product.name == accepted_product %}
                            <div class="col-sm-2">
                              <div class="row">
                                <div class="col-sm-12 text-center" style="min-height: 50px; " >
                                {{product.cartname}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 text-center" style="margin-top:10px" >
                                  <img src="{{ asset('/upload/product/' ~ product.imageProductName)}}" style="max-width:100%;height:30px">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 text-center" style="margin-top:10px; text-align:center">
                                <input style="width:100%;"  type="number" class="form-control" id="quantity_{{product.id}}_{{color.id}}" name="" value="0" min="0" onchange="refresh_items('{{color.id}}');">                                      </center>

                                </div>
                              </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                            {% endfor %}
                            <div class="col-sm-1">
                            </div>
                          </div>
                       </div>
                    </div>

                 </div>
              </div>
           </div>

        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="col-sm-2 no_padding">
    </div>

   
    </div>
    <div class="row">
        <div class="col-sm-2 no_padding">
        </div>
        <div class="col-sm-8 no_padding">

          <div class="validate_cart_button  text-center" onclick="addtocart()"  >
               <p style=""><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter <span id='nb_item_pending'></span> au panier </p>
          </div>
             {#<a href="{{ path('generic')}}"><div class="see_generic text-center" style=" background-color:#A94141;" >
                     <p style=""> Voir les produits génériques </p>
             </a>#}
        </div>
            <div class="col-sm-2 no_padding">
    </div>
    
    </div>

</div>

      

       
</body>




<script>
function addtocart(){
var finalCart = [];
  {% for color in colors %}
   {% if (collection1 is null and color.isBasic == 1 and color.isActive == 1) or (collection1 and color.isBasic == 0 and color.isActive == 1)  %}
    {% for product in products %}
      {% for accepted_product in accepted_products %}
        {% if accepted_product == product.name %}
        value = document.getElementById('quantity_{{product.id}}_{{color.id}}').value;
        finalCart.push([{{product.id}},{{color.id}},value ]);
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% endif %}
  {% endfor %}
  var finalJsonCart = JSON.stringify(finalCart);

  var frm = document.getElementById('finalCartField') || null;
  if(frm) {
   frm.value = finalJsonCart;
}
document.getElementById("buttonValidateCart").click();

}

</script>
<div style="display:none">
{% if collection1 is null %}

<form action="{{path('addBoutiqueToCart', {'name': 'Basic'} )}}"  method="post" id="redirect-form" name="redirect-form">    {% else %}
<form action="{{path('addBoutiqueToCart', {'name': collection1.title} )}}"  method="post" id="redirect-form" name="redirect-form">    {% endif %}




  <input type="text" name="finalCart" id="finalCartField" >
  <button type="submit" id="buttonValidateCart">Valider</button>
</form>


</div>



<script>
  function refresh_items(color_id){
  var id = 'nb-item-'+color_id;
  var value = 0;
   {% for product in products %}
      {% for accepted_product in accepted_products %}
        {% if accepted_product == product.name %} 
             value += parseInt(document.getElementById('quantity_{{product.id}}_'+color_id).value);
        {% endif %}
      {% endfor %}
  {% endfor %}
  if (value == 0) {
  document.getElementById(id).innerHTML = '';
  }
  else if (value == 1){
  document.getElementById(id).innerHTML = '- '+value+' produit séléctionné';
  }
  else{
  document.getElementById(id).innerHTML = '- '+value+' produits séléctionnés';
  }
var value_total = 0;
{% for color in colors %}
   {% if (collection1 is null and color.isBasic == 1 and color.isActive == 1) or (collection1 and color.isBasic == 0 and color.isActive == 1)  %}
    {% for product in products %}
      {% for accepted_product in accepted_products %}
        {% if accepted_product == product.name %} 
        value_total += parseInt(document.getElementById('quantity_{{product.id}}_{{color.id}}').value);
          {% endif %}
       {% endfor %} 
    {% endfor %}
    {% endif %}
{% endfor %}

if (value == 0) {
  document.getElementById('nb_item_pending').innerHTML ='';
  }
  else if (value == 1){
  document.getElementById('nb_item_pending').innerHTML = value_total+' article';
  }
  else{
  document.getElementById('nb_item_pending').innerHTML = value_total+' articles';
  }
  }
  alert(value_total);
</script>

<script>
function change_collection(dropdown){
  var route = "{{path('addBoutiqueToCart', {'name': 'TITLE'} )}}";
  route = route.replace("TITLE", dropdown.value);
    window.location = route;


}

</script>
<script>
  
  window.onbeforeunload = function (e){
  e = e || window.event;
  if (e){
    e.returnValue = "Des articles n'ont pas été ajoutés au panier. Etes-vous sur de vouloir quitter ?";
  }
  return "Des articles n'ont pas été ajoutés au panier. Etes-vous sur de vouloir quitter ?";
  };
</script>

<script>
$(document).ready(function(){
  $('.menu-panier').mouseover(function(){
    $(".temporary_cart").css('display','block');
  });
  $('.menu-panier').mouseout(function(){
    $(".temporary_cart").css('display','none');
  });
  $('.temporary_cart').mouseover(function(){
    $(".temporary_cart").css('display','block');
  });
  $('.temporary_cart').mouseout(function(){
    $(".temporary_cart").css('display','none');
  });
  alert(value_total);
});
</script>

{% endblock %}
