{% extends 'base.html.twig' %} {% block body %}
<style>
  table.one {                  
  margin-bottom: 3em; 
  border-collapse:collapse;
  display: inline-block;
  margin-right: 3em;   
  width:100% } 

  
  table.one td {                
  text-align: center;     
  width: 13em;          
  padding: 1em;     }   


.panel-title {                
  text-align: center;         
  padding: 1em;
  background-color: #242258;      
  color: white;   }           

  table.one tr {  
  height: 1em;  }

  table.one tr:nth-child(even) {      
    background-color: #fff;   }

  table.one tr:nth-child(odd) {     
  background-color:#eee;    }
    table caption {
    padding-bottom: 1em;    }

    @media (max-width: 768px) {
    .color_name_mobile{
    display:block;
    }
    }

    @media (min-width: 768px) {
    .color_name_mobile{
    display:none;
    }
    }

</style>
<body>
    <div class="container">
    <h1 class="text-center">
Accessoires
    </h1>
            <div class="row">

    {% for product in products %}
           <div class="col-sm-6 " style="">
              <div class="panel-group" id="accordion">
                 <div class="panel panel-default" style="margin-top:20px; background-color:white;">
                    <div>
                       <div class="row">
                          <div class="col-sm-12">
                             <h3 class="panel-title" >
                                {{ product.cartname }}
                             </h3>
                          </div>
                          <div class="col-sm-1 text-right">
                          </div>
                       </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" style="background-color:#eee;">
                       <div class="panel-body">
                          <div class="row">
                             <div class="col-sm-6 no_padding text-center">
                                <img style="max-height:200px;width:auto; max-width:90%" src="{{ asset('upload/product/'~ product.imageProductName ) }}">
                             </div>
                             <div class="col-sm-6 text-center">
                              <div class="row">
                              <div class="col-sm-12 text-center" style="min-height:100px;">
                                        {{product.description}}
                                        </div>
                              <div class="col-sm-12 text-center">
                               
                              <h2>{{product.price}}€ </h2>

                              </diV>
                              </div>
                              <div class="row">
                              <div class="col-sm-4 text-center">

                              <select class="form-control text-center" id="sel1" style="margin-left:10%;width:80%; margin-bottom:10px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>

                              </select>
                              </div>
                                                            <div class="col-sm-8 text-center">


                                 <a href="{{path('addGenericToCart', {'id': product.id, 'quantity': 2} )}}"><button  type="submit" style=";padding:7px;font-size:14px;border-radius:3px;margin-top:0px;" class="btn btn-primary btn-lg active btn_send text-center">Ajouter au panier</button></a>
</div>
                                   </div>
                                   </div>
                            </div>
                            
                       </div>
                    </div>
                 </div>
              </div>
           </div>
      {% endfor %}
        </div>

    </div>
</body>

{% endblock %}
